<h3>2.3.5</h3>
<ol>
    <li>Perbaikan pada save siskeudes</li>
    <li>Perbaikan pada save konfigurasi</li>
    <li>Perbaikan pada Penomoran surat otomatis</li>
</ol>
<h3>2.3.4</h3>
<ol>
    <li>Perbaikan pada sinkronisasi Prodeskel</li>
    <li>Perbaikan pada impor excel, header dukcapil terdeteksi dengan lebih baik</li>
    <li>Perbaikan import peta</li>
</ol>
<h3>2.3.1</h3>
<ol>
    <li>
        Penomoran surat automatis. Sekarang Anda bisa membuat surat dengan nomor automatis yang dapat dikonfigurasikan sesuai kebutuhan desa.
        <img src="assets/images/screenshots/2.3.1.surat.png" />
    </li>
    <li>Sinkronisasi Prodeskel. Sinkronisasi prodeskel tanpa menggunakan Window Selenium dan dapat dilakukan dengan lebih cepat/mudah</li>
    <li>Kategorisisasi pada feed di laman depan</li>
    <li>Perbaikan performa pada surat</li>
</ol>