<div style="flex: 1; overflow-y: scroll">
    <ul class="nav nav-tabs" style="padding-top: 25px; margin-left: 22px; background: white;">
        <li [ngClass]="{'feed-category-active': activeCategory === 'kabardesa'}"><a href="#" (click)="getFeedByCategory('Kabar Desa')">Kabar Desa</a></li>
        <li [ngClass]="{'feed-category-active': activeCategory === 'produkdesa'}"><a href ="#" (click)="getFeedByCategory('Produk Desa')">Produk Desa</a></li>
        <li [ngClass]="{'feed-category-active': activeCategory === 'potensidesa'}"><a href="#" (click)="getFeedByCategory('Potensi Desa')">Potensi Desa</a></li>
        <li [ngClass]="{'feed-category-active': activeCategory === 'danadesa'}"><a href="#" (click)="getFeedByCategory('Penggunaan Dana Desa')">Penggunaan Dana Desa</a></li>
        <li [ngClass]="{'feed-category-active': activeCategory === 'senibudaya'}"><a href="#" (click)="getFeedByCategory('Seni dan Kebudayaan')">Seni dan Kebudayaan</a></li>
        <li [ngClass]="{'feed-category-active': activeCategory === 'tokoh'}"><a href="#" (click)="getFeedByCategory('Tokoh Masyarakat')">Tokoh Masyarakat</a></li>
        <li [ngClass]="{'feed-category-active': activeCategory === 'lingkungan'}"><a href="#" (click)="getFeedByCategory('Lingkungan')">Lingkungan</a></li>
    </ul>
    <div class="panel-container">
        <div class="panel panel-default" *ngFor="let item of selectedFeed">
            <div class="panel-body">
                <a class="js-external-link" href="{{item.link}}">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="entry-image" [style.background-image]="item.image">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h4>{{item.title}}</h4>
                                <p [innerHTML]="item.description" style="overflow-x: hidden;"></p>
                                <span class="feed-date">{{getDate(item)}}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
         
            <div class="desa-name">{{getDesa(item)}}</div>
        </div>
    </div>
</div>

<progress-bar [progress]="progress" [message]="progressMessage"></progress-bar>