<div id="main-container" style="flex: 1; display: flex; flex-direction: column;">
    <div style="flex: 0 0 55px; background-color: white;">
        <h4 style="text-align: center;">Sideka</h4>
        <ul class="nav nav-tabs" style="padding-left: 25px; max-height: 37px; overflow-y: hidden;">
            <li *ngFor="let category of categories" class="category">
                <a href="#" [ngClass]="{'active': activeCategory.id === category.id}" (click)="setActiveFeed(category)">
                    {{category.label}}
                </a>
            </li>
        </ul>
    </div>
    <div class="panel-container" 
    style="flex: 1; overflow-y: scroll;" 
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="300"
    [scrollWindow]="false"
    (scrolled)="nextScroll()">
        <div class="slidein">
            <div class="panel panel-default" *ngFor="let item of feeds">
                <div class="panel-body">
                    <a class="js-external-link" href="{{item.link}}">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4">
                                    <img class="entry-image" [src]="item.image">
                                </div>
                                <div class="col-md-8">
                                    <h4>{{item.title}}</h4>
                                    <p [innerHTML]="item.content" style="overflow-x: hidden;"></p>
                                    <span class="feed-date">{{getDate(item)}}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="desa-name">{{getDesa(item)}}</div>
            </div>
            <div class="page-load-status" [hidden]="!isLoadingFeed">
                <div class="infinite-scroll-request">
                    <div class="loader-ellips">
                        <span class="loader-ellips__dot"></span>
                        <span class="loader-ellips__dot"></span>
                        <span class="loader-ellips__dot"></span>
                        <span class="loader-ellips__dot"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<progress-bar [progress]="progress" [message]="progressMessage"></progress-bar>