
<div style="flex: 1; overflow-y: scroll;">
    <div style="margin: 20px">        
        <div class="panel-container" style="position: relative; "> 
            <div [className]="!activeDatabase && 'show'" style="width: 100%;">
                <div *ngIf="listSiskeudesDb && listSiskeudesDb.length !== 0">                
                    <h2>Pilih Database {{activeUrl == 'spp' ? 'SPP' : 'Penerimaan'}}</h2>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Tahun</th>
                                <th>Path</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let db of listSiskeudesDb" (click)='selectDatabase(db)'>
                                <td>{{db.year}}</td>
                                <td>{{db.path}}</td>
                            </tr>
                        </tbody>
                    </table>                    
                </div>
                <div *ngIf="listSiskeudesDb && listSiskeudesDb.length == 0">
                    <siskeudes-configuration></siskeudes-configuration>
                </div>
            </div>                      
        </div>
    </div>
</div>
