<div style="flex: 1; overflow-y: scroll;">
    <div style="padding-top: 20px; margin: 20px">
        <div class="panel-container">
            <div *ngIf="!activeUser && !hasInternetConnection">
                <br /> <br />
                <p style="text-align: center;">Anda harus mempunyai koneksi internet untuk mengelola Pengguna 
                    <br /> <br />
                    <button (click)="load" class="btn">Refresh</button>
                </p>
            </div>
            <div *ngIf="!activeUser && users && hasInternetConnection">
                <h2>Daftar Pengguna <button class="btn btn-primary" (click)="addNewUser()" style="margin-left: 20px;">Tambah Pengguna Baru</button></h2>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nama</th>
                            <th>Email</th>
                            <th>Peran</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users" (click)='activeUser = user'>
                            <td>{{user.display_name}}</td>
                            <td>{{user.user_email}}</td>
                            <td>{{getRoleNames(user.roles)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="activeUser">
                <h2>{{activeUser.ID ? 'Ubah Pengguna: '+activeUser.user_login : 'Tambah Pengguna Baru'}}</h2>
                <form (submit)="saveUser()">
                    <div class="form-group">
                        <label>Login</label>
                        <input *ngIf="activeUser.ID" type="text" class="form-control" readonly name="login" [(ngModel)]="activeUser.user_login" value="{{activeUser.user_login}}">
                        <input *ngIf="!activeUser.ID" type="text" class="form-control" name="login" [(ngModel)]="activeUser.user_login" value="{{activeUser.user_login}}">
                    </div>
                    <div class="form-group">
                        <label>Nama</label>
                        <input type="text" class="form-control" name="display-name" [(ngModel)]="activeUser.display_name" value="{{activeUser.display_name}}">
                    </div>
                    <div class="form-group">
                        <label>Alamat Email</label>
                        <input type="email" class="form-control" name="user-email" [(ngModel)]="activeUser.user_email" value="{{activeUser.user_email}}">
                    </div>
                    <div class="form-group">
                        <label>Kata Sandi</label>
                        <input type="password" class="form-control" name="user-pass" [(ngModel)]="activeUser.user_pass" placeholder="Kosongkan bila tidak ingin mengganti kata sandi" value="{{activeUser.user_pass}}">
                    </div>
                    <div class="form-group">
                        <label>Ulangi Kata Sandi</label>
                        <input type="password" class="form-control" name="user-pass-repeat" [(ngModel)]="passwordRepeat" value="{{passwordRepeat}}">
                    </div>
                    <div class="form-group">
                        <label>Peran</label>
                    </div>
                    <div class="checkbox">
                        <label *ngFor="let role of availableRoles" style="display: block; margin-bottom: 5px;">
                            <input type="checkbox" name="role_{{role}}" [(ngModel)]="activeUserRoles[role]"> <b>{{roleNames[role]}}</b> {{roleDescriptions[role]}} 
                        </label>
                    </div>
                    <button class="btn" (click)="activeUser = null">Batal</button>
                    <button type="submit" class="btn btn-primary">Simpan</button>
                </form>
            </div>
        </div>
    </div>
</div>
