<div style="background-color: #f1f1f1; display: flex; height: 100vh;">
    <div class="sidebar" style="flex: 0 0 300px;">
        <online-status [type]="'front'"></online-status>
        <div id="app-menu" [hidden]="!dataApiService.auth">
            <ul class="list-group">
                <a class="list-group-item" routerLink="/penduduk">
                    Kependudukan
                </a>
                <a class="list-group-item" href="#" routerLink="kemiskinan" routerLinkActive="active">
                    Kemiskinan
                </a>
                <a class="list-group-item" href="#" routerLink="/sipbm" *ngIf="isSipbmActive">
                    SIPBM
                </a> 
            </ul>          
            <ul class="list-group">
                <a class="list-group-item" routerLink="/pemetaan">
                    Pemetaan
                </a>               
            </ul>
            <ul class="list-group" *ngIf="platform == 'win32'">
                <a class="list-group-item" href="#" routerLink="perencanaan" routerLinkActive="active">
                    Perencanaan
                </a>
                <a class="list-group-item" href="#" routerLink="penganggaran" routerLinkActive="active">
                    Penganggaran
                </a>                
                <a class="list-group-item" href="#penatausahaan" data-toggle="collapse">
                    Penatausahaan <i class="fa fa-caret-down"></i>
                </a>
                <div id="penatausahaan" class="collapse" style="padding-left: 10px;">
                    <a class="list-group-item" onclick="event.stopPropagation();" href="#" data-toggle="collapse" routerLink="/penerimaan">
                        Penerimaan
                    </a>
                    <a class="list-group-item" onclick="event.stopPropagation();" href="#" data-toggle="collapse" routerLink="/spp">
                        SPP
                    </a>
                </div>
            </ul>           
            <ul class="list-group">
                <a class="list-group-item" routerLink="pengguna">
                    Pengguna
                </a>               
            </ul>
            <div id="info-box">
                <span>Sideka v{{package.version}}</span>
                <span class="pull-right">{{dataApiService.auth?.desa_name}}</span>
                <br style="margin-top: 0.5em;"/>
                <a class="info-link" class="pull-left" routerLink="configuration"><i class="fa fa-gear"></i> Konfigurasi</a>
                <a class="info-link" (click)="logout()" href="#"><i class="fa fa-sign-out"></i> Log Keluar</a>
            </div>
        </div>
        
        <div id="login-form" [hidden]="dataApiService.auth">
            <form class="form-signin" (submit)="login()">
                <div class="error-message">Anda bisa masuk dengan menggunakan akun Wordpress/Web Desa Anda</div>
                <div class="error-message alert alert-danger" [hidden]="!loginErrorMessage" style="background-color: #FF7E6B;">{{loginErrorMessage}}</div>
                <input type="text" name="user" class="form-control" placeholder="Nama Pengguna atau Email" required autofocus [(ngModel)]="loginUsername">
                <br />
                <input type="password" name="password" class="form-control" placeholder="Password" required [(ngModel)]="loginPassword">
                <br />
                <br />
                <button class="btn btn-lg btn-primary btn-block" type="submit">Log Masuk</button>
                <br />
                <a href="#" routerLink="registration">Daftar desa baru</a>
                <br />
                <a class="js-external-link" href="http://sideka.id/wp-login.php?action=lostpassword">Kehilangan password Anda?</a>
            </form>
        </div>
    </div>
    <div class="content" style="flex: 1; display: flex; flex-direction: column; padding: 0;">       
        <router-outlet></router-outlet>
    </div>
</div>
