<div style="flex: 1; overflow-y: scroll;">
     <div style="padding-top: 20px; margin: 20px">
        <div class="panel panel-primary">
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#view">Daftar PBDT</a></li>
                    <li><a data-toggle="tab" href="#validate">Verifikasi PBDT</a></li>
                </ul>
                <div class="tab-content">
                    <div id="view" class="tab-pane fade in active">
                        <div class="panel-body" *ngFor="let sub of subs">
                            <a [routerLink]="['/kemiskinan']" [queryParams]="{sub:sub, mode: 'view'}">
                                <div class="panel panel-primary">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="panel-heading col-md-12" style="text-align: center">
                                                <h2>PBDT - {{sub}}</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div id="validate" class="tab-pane fade">
                        <h2></h2>
                        <form>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Dari Tahun</label>
                                <select class="form-control" name="sub" [(ngModel)]="sub">
                                    <option *ngFor="let sub of subs" [value]="sub"> {{sub}} </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Tahun Verifikasi</label>
                                <input type="text" class="form-control" name="validation-sub" [(ngModel)]="validationSub" />
                            </div>
                            <div class="form-group">
                                <a href="#" [routerLink]="['/kemiskinan']" class="btn btn-primary" [queryParams]="{sub:sub, validationSub: validationSub, mode: 'validate'}"> Validasi </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>

<progress-bar [progress]="progress" [message]="progressMessage"></progress-bar>
