<div style="flex: 1; overflow-y: scroll;">
    <div style="padding-top: 20px; margin: 20px">
        <div class="panel-container">
            <div *ngIf="!hasInternetConnection">
                <br /> <br />
                <p style="text-align: center;">Anda harus mempunyai koneksi internet untuk mengelola Pos 
                    <br /> <br />
                    <button (click)="load()" class="btn">Refresh</button>
                </p>
            </div>
            <div *ngIf="posts && hasInternetConnection">
                <h2>Pos <button class="btn btn-primary" style="margin-left: 20px;">Tambah Baru</button></h2>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Judul</th>
                            <th>Penulis</th>
                            <th>Kategori</th>
                            <th>Tag</th>
                            <th>Tanggal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let post of posts" (click)="open(post)">
                            <td>{{post.title.rendered}}</td>
                            <td>{{post.author}}</td>
                            <td>{{post.categories}}</td>
                            <td>{{post.tags}}</td>
                            <td>{{post.date}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
