<div style="background-color: #f1f1f1; display: flex; height: 100%;">
    <div class="sidebar" style="flex: 0 0 300px;">
        <a routerLink="/">
            <online-status [type]="'front'"></online-status>
        </a>
        <div id="app-menu" [hidden]="!dataApiService.auth">
            <ul class="list-group" *ngIf="env == 'development'">
                <a class="list-group-item" routerLink="posts">
                    Pos
                </a>
            </ul>
            <ul class="list-group">
                <a class="list-group-item" routerLink="/penduduk">
                    Kependudukan
                </a>
                <a class="list-group-item" href="#" routerLink="kemiskinan" routerLinkActive="active"
                    *ngIf="env == 'development'">
                    Kemiskinan
                </a>
                <a class="list-group-item" href="#" routerLink="/sipbm" *ngIf="isSipbmActive">
                    SIPBM
                </a>
            </ul>
            <ul class="list-group">
                <a class="list-group-item" routerLink="/pemetaan">
                    Pemetaan
                </a>
            </ul>
            <ul class="list-group" *ngIf="platform == 'win32'">
                <a class="list-group-item" href="#" routerLink="perencanaan" routerLinkActive="active">
                    Perencanaan
                </a>
                <a class="list-group-item" href="#" routerLink="penganggaran" routerLinkActive="active">
                    Penganggaran
                </a>
                <a class="list-group-item" href="#penatausahaan" data-toggle="collapse">
                    Penatausahaan <i class="fa fa-caret-down"></i>
                </a>
                <div id="penatausahaan" class="collapse" style="padding-left: 10px;">
                    <a class="list-group-item" onclick="event.stopPropagation();" href="#" data-toggle="collapse"
                        routerLink="penatausahaan" [queryParams]="{url: 'penerimaan'}">
                        Penerimaan
                    </a>
                    <a class="list-group-item" onclick="event.stopPropagation();" href="#" data-toggle="collapse"
                        routerLink="penatausahaan" [queryParams]="{url: 'spp'}">
                        SPP
                    </a>
                </div>
            </ul>

            <!-- PRODESKEL POTENSI -->

            <ul class="list-group">
                <a class="list-group-item" href="#prodeskel" data-toggle="collapse">
                    Prodeskel Potensi <i class="fa fa-caret-down"></i>
                </a>
                <div id="prodeskel" class="collapse" style="padding-left: 10px;">
                    <a class="list-group-item" onclick="event.stopPropagation();" href="#" data-toggle="collapse"
                        routerLink="prodeskel/potensi/umum/batasWilayah">
                        Batas Wilayah
                    </a>
                    <a class="list-group-item" href="#prodeskelSda" data-toggle="collapse">
                        Sumber Daya Alam <i class="fa fa-caret-down"></i>
                    </a>
                    <div id="prodeskelSda" class="collapse" style="padding-left: 10px;">
                        <a class="list-group-item" onclick="event.stopPropagation();" href="#" data-toggle="collapse"
                            routerLink="prodeskel/potensi/sda/jenisLahan">
                            Jenis Lahan
                        </a>
                        <a class="list-group-item" onclick="event.stopPropagation();" href="#" data-toggle="collapse"
                            routerLink="prodeskel/potensi/sda/iklimTanahErosi">
                            Iklim, Tanah, dan Erosi
                        </a>
                        <a class="list-group-item" onclick="event.stopPropagation();" href="#" data-toggle="collapse"
                            routerLink="prodeskel/potensi/sda/topografi">
                            Topografi
                        </a>
                        <a class="list-group-item" href="#prodeskelSdaPangan" data-toggle="collapse">
                            Pangan <i class="fa fa-caret-down"></i>
                        </a>
                        <div id="prodeskelSdaPangan" class="collapse" style="padding-left: 10px;">
                            <a class="list-group-item" onclick="event.stopPropagation();" href="#"
                                data-toggle="collapse" routerLink="prodeskel/potensi/sda/pangan/kepemilikanLahan">
                                Kepemilikan Lahan
                            </a>
                            <a class="list-group-item" onclick="event.stopPropagation();" href="#"
                                data-toggle="collapse" routerLink="prodeskel/potensi/sda/pangan/hasilDanLuasProduksi">
                                Hasil & Luas Produksi
                            </a>
                        </div>
                        <a class="list-group-item" href="#prodeskelSdaBuah" data-toggle="collapse">
                            Buah-buahan <i class="fa fa-caret-down"></i>
                        </a>
                        <div id="prodeskelSdaBuah" class="collapse" style="padding-left: 10px;">
                            <a class="list-group-item" onclick="event.stopPropagation();" href="#"
                                data-toggle="collapse" routerLink="prodeskel/potensi/sda/buah/kepemilikanLahan">
                                Kepemilikan Lahan
                            </a>
                            <a class="list-group-item" onclick="event.stopPropagation();" href="#"
                                data-toggle="collapse" routerLink="prodeskel/potensi/sda/buah/hasilDanLuasProduksi">
                                Hasil & Luas Produksi
                            </a>
                        </div>
                        <a class="list-group-item" href="#prodeskelSdaKebun" data-toggle="collapse">
                            Perkebunan <i class="fa fa-caret-down"></i>
                        </a>
                        <div id="prodeskelSdaKebun" class="collapse" style="padding-left: 10px;">
                            <a class="list-group-item" onclick="event.stopPropagation();" href="#"
                                data-toggle="collapse" routerLink="prodeskel/potensi/sda/kebun/kepemilikanLahan">
                                Kepemilikan Lahan
                            </a>
                            <a class="list-group-item" onclick="event.stopPropagation();" href="#"
                                data-toggle="collapse" routerLink="prodeskel/potensi/sda/kebun/hasilDanLuasProduksi">
                                Hasil & Luas Produksi
                            </a>
                        </div>
                    </div>
                    <a class="list-group-item" href="#prodeskelSdm" data-toggle="collapse">
                        Sumber Daya Manusia <i class="fa fa-caret-down"></i>
                    </a>
                    <div id="prodeskelSdm" class="collapse" style="padding-left: 10px;">
                        <a class="list-group-item" onclick="event.stopPropagation();" href="#" data-toggle="collapse"
                            routerLink="prodeskel/potensi/sdm/jumlah">
                            Jumlah
                        </a>
                        <a class="list-group-item" onclick="event.stopPropagation();" href="#" data-toggle="collapse"
                            routerLink="prodeskel/potensi/sdm/usia">
                            Usia
                        </a>
                        <a class="list-group-item" onclick="event.stopPropagation();" href="#" data-toggle="collapse"
                            routerLink="prodeskel/potensi/sdm/pendidikan">
                            Pendidikan
                        </a>
                        <a class="list-group-item" onclick="event.stopPropagation();" href="#" data-toggle="collapse"
                            routerLink="prodeskel/potensi/sdm/mataPencaharianPokok">
                            Mata Pencaharian Pokok
                        </a>
                        <a class="list-group-item" onclick="event.stopPropagation();" href="#" data-toggle="collapse"
                            routerLink="prodeskel/potensi/sdm/agama">
                            Agama
                        </a>
                    </div>
                    <a class="list-group-item" href="#prodeskelKelembagaan" data-toggle="collapse">
                        Kelembagaan <i class="fa fa-caret-down"></i>
                    </a>
                    <div id="prodeskelKelembagaan" class="collapse" style="padding-left: 10px;">
                        <a class="list-group-item" onclick="event.stopPropagation();" href="#" data-toggle="collapse"
                            routerLink="prodeskel/potensi/kelembagaan/lembagaPemerintahan">
                            Lembaga Pemerintahan
                        </a>
                        <a class="list-group-item" onclick="event.stopPropagation();" href="#" data-toggle="collapse"
                            routerLink="prodeskel/potensi/kelembagaan/lembagaKemasyarakatan">
                            Lembaga Kemasyarakatan
                        </a>
                        <a class="list-group-item" onclick="event.stopPropagation();" href="#" data-toggle="collapse"
                            routerLink="prodeskel/potensi/kelembagaan/partisipasiPolitik">
                            Partisipasi Politik
                        </a>
                    </div>
                    <a class="list-group-item" href="#prodeskelSarana" data-toggle="collapse">
                        Prasarana / Sarana <i class="fa fa-caret-down"></i>
                    </a>
                    <div id="prodeskelSarana" class="collapse" style="padding-left: 10px;">
                        <a class="list-group-item" onclick="event.stopPropagation();" href="#" data-toggle="collapse"
                            routerLink="prodeskel/potensi/sarana/prasaranaTransportasiDarat">
                            Transportasi Darat
                        </a>
                        <a class="list-group-item" onclick="event.stopPropagation();" href="#" data-toggle="collapse"
                            routerLink="prodeskel/potensi/sarana/prasaranaAngkutanLainnya">
                            Angkutan Lainnya
                        </a>
                        <a class="list-group-item" onclick="event.stopPropagation();" href="#" data-toggle="collapse"
                            routerLink="prodeskel/potensi/sarana/prasaranaKomunikasiDanInformasi">
                            Komunikasi & Informasi
                        </a>
                    </div>
                </div>
            </ul>

            <!-- PRODESKEL PERKEMBANGAN -->

            <ul class="list-group">
                <a class="list-group-item" href="#prodeskelPerkembangan" data-toggle="collapse">
                    Prodeskel Perkembangan <i class="fa fa-caret-down"></i>
                </a>
                <div id="prodeskelPerkembangan" class="collapse" style="padding-left: 10px;">
                    <a class="list-group-item" href="#prodeskelKependudukan" data-toggle="collapse">
                        Kependudukan <i class="fa fa-caret-down"></i>
                    </a>
                    <div id="prodeskelKependudukan" class="collapse" style="padding-left: 10px;">
                        <a class="list-group-item" onclick="event.stopPropagation();" href="#" data-toggle="collapse"
                            routerLink="prodeskel/perkembangan/kependudukan/pendudukDanKepalaKeluarga">
                            Penduduk dan Kepala Keluarga
                        </a>
                    </div>
                    <a class="list-group-item" href="#prodeskelEkonomiMasyarakat" data-toggle="collapse">
                        Ekonomi Masyarakat <i class="fa fa-caret-down"></i>
                    </a>
                    <div id="prodeskelEkonomiMasyarakat" class="collapse" style="padding-left: 10px;">
                        <a class="list-group-item" onclick="event.stopPropagation();" href="#" data-toggle="collapse"
                            routerLink="prodeskel/perkembangan/ekonomiMasyarakat/pengangguran">
                            Pengangguran
                        </a>
                        <a class="list-group-item" onclick="event.stopPropagation();" href="#" data-toggle="collapse"
                            routerLink="prodeskel/perkembangan/ekonomiMasyarakat/kesejahteraanKeluarga">
                            Kesejahteraan Keluarga
                        </a>
                    </div>
                    <a class="list-group-item" href="#prodeskelPddkBruto" data-toggle="collapse">
                        Produk Domestik Desa/Kelurahan Bruto <i class="fa fa-caret-down"></i>
                    </a>
                    <div id="prodeskelPddkBruto" class="collapse" style="padding-left: 10px;">
                        <a class="list-group-item" onclick="event.stopPropagation();" href="#" data-toggle="collapse"
                            routerLink="prodeskel/perkembangan/pddkBruto/sektorPertambanganDanGalian">
                            Sektor Pertambangan dan Galian
                        </a>
                        <a class="list-group-item" onclick="event.stopPropagation();" href="#" data-toggle="collapse"
                            routerLink="prodeskel/perkembangan/pddkBruto/subsektorKerajinan">
                            Subsektor Kerajinan
                        </a>
                    </div>
                    <a class="list-group-item" href="#prodeskelPendapatanPerKapita" data-toggle="collapse">
                        Pendapatan Per Kapita <i class="fa fa-caret-down"></i>
                    </a>
                    <div id="prodeskelPendapatanPerKapita" class="collapse" style="padding-left: 10px;">
                        <a class="list-group-item" onclick="event.stopPropagation();" href="#" data-toggle="collapse"
                            routerLink="prodeskel/perkembangan/pendapatanPerKapita/sektorUsaha">
                            Sektor Usaha
                        </a>
                    </div>
                    <a class="list-group-item" href="#prodeskelPenguasaanAset" data-toggle="collapse">
                        Penguasaan Aset Ekonomi Masyarakat <i class="fa fa-caret-down"></i>
                    </a>
                    <div id="prodeskelPenguasaanAset" class="collapse" style="padding-left: 10px;">
                        <a class="list-group-item" onclick="event.stopPropagation();" href="#" data-toggle="collapse"
                            routerLink="prodeskel/perkembangan/penguasaanAset/asetTanah">
                            Aset Tanah
                        </a>
                    </div>
                    <a class="list-group-item" href="#prodeskelPendidikanMasyarakat" data-toggle="collapse">
                        Pendidikan Masyarakat <i class="fa fa-caret-down"></i>
                    </a>
                    <div id="prodeskelPendidikanMasyarakat" class="collapse" style="padding-left: 10px;">
                        <a class="list-group-item" onclick="event.stopPropagation();" href="#" data-toggle="collapse"
                            routerLink="prodeskel/perkembangan/pendidikanMasyarakat/tingkatPendidikanMasyarakat">
                            Tingkat Pendidikan
                        </a>
                    </div>
                    <a class="list-group-item" href="#prodeskelMataPencaharian" data-toggle="collapse">
                        Mata Pencaharian <i class="fa fa-caret-down"></i>
                    </a>
                    <div id="prodeskelMataPencaharian" class="collapse" style="padding-left: 10px;">
                        <a class="list-group-item" onclick="event.stopPropagation();" href="#" data-toggle="collapse"
                            routerLink="prodeskel/perkembangan/mataPencaharian/sektorPertanian">
                            Sektor Pertanian
                        </a>
                    </div>
                </div>
            </ul>

            <ul class="list-group">
                <a class="list-group-item" routerLink="users">
                    Pengguna
                </a>
            </ul>
            <div id="info-box">
                <span>Sideka v{{package.version}}</span>
                <span class="pull-right">{{dataApiService.auth?.desa_name}}</span>
                <br style="margin-top: 0.5em;" />
                <a class="info-link" class="pull-left" routerLink="configuration"><i class="fa fa-gear"></i>
                    Konfigurasi</a>
                <a class="info-link" (click)="logout()" href="#"><i class="fa fa-sign-out"></i> Log Keluar</a>
            </div>
        </div>

        <div id="login-form" [hidden]="dataApiService.auth">
            <form class="form-signin" (submit)="login()">
                <div class="error-message">Anda bisa masuk dengan menggunakan akun Wordpress/Web Desa Anda</div>
                <div class="error-message alert alert-danger" [hidden]="!loginErrorMessage"
                    style="background-color: #FF7E6B;">{{loginErrorMessage}}</div>
                <input type="text" name="user" class="form-control" placeholder="Nama Pengguna atau Email" required
                    autofocus [(ngModel)]="loginUsername">
                <br />
                <input type="password" name="password" class="form-control" placeholder="Password" required
                    [(ngModel)]="loginPassword">
                <br />
                <br />
                <button class="btn btn-lg btn-primary btn-block" type="submit">Log Masuk</button>
                <br />
                <a href="#" routerLink="registration">Daftar desa baru</a>
                <br />
                <a class="js-external-link" href="http://sideka.id/wp-login.php?action=lostpassword">Kehilangan password
                    Anda?</a>
            </form>
        </div>
    </div>

    <div class="content" style="flex: 1; display: flex; flex-direction: column; padding: 0;">
        <router-outlet></router-outlet>
    </div>
</div>
