<div id="flex-container">
    <nav class="navbar navbar-default" style="height: 73px; min-height: 73px; -webkit-user-select: none; user-select: none;">
        <div class="container-fluid" style="padding-top: 32px; height: 41px; min-height: 41px;">
            <form class="navbar-form navbar-nav navbar-nav-buttonbar form-inline" style="padding-left: 0px;">
                <button title="File" class="btn btn-default" href="app.html" (click)="pageSaver.redirectMain()"> 
                    <i class="fa fa-arrow-left"></i> <span>&nbsp; Beranda</span>
                </button>
                <button title="File" class="btn btn-default" *ngIf="mode === 'validate'" href="#" (click)="pageSaver.onBeforeSave()"> 
                    <i class="fa fa-save"></i> &nbsp; Simpan
                </button>
                <button title="Info" class="btn btn-default" (click)="setActivePageMenu('info')"> 
                    <i class="fa fa-info-circle"></i> <span>&nbsp; Info</span>
                </button>
                <button title="Info" class="btn btn-default" (click)="openValidateModal()"> 
                    <i class="fa fa-check"></i> <span>&nbsp; Validasi</span>
                </button>
            </form>
        </div>
    </nav>
    <div id="sheet" style="position: relative;">
        <pbdtIdv-hot class="child-sheet pbdtIdv-sheet"
            [schema]="bundleSchemas.pbdtIdv" 
            [sheet]="'pbdtIdv'"
            [mode]="mode"
            [style.zIndex]="activeSheet != 'pbdtIdv' ? -100 : 0">
        </pbdtIdv-hot>
        <pbdtRt-hot class="child-sheet pbdtRt-sheet"
            [schema]="bundleSchemas.pbdtRt" 
            [sheet]="'pbdtRt'"
            [mode]="mode"
            [style.zIndex]="activeSheet != 'pbdtRt' ? -100 : 0">
        </pbdtRt-hot>
    </div>
    <ul class="nav nav-tabs bottom-tabs">
        <li [ngClass]="{'active': activeSheet === 'pbdtIdv'}">
            <a href="#" (click)="setActiveSheet('pbdtIdv')"> IDV </a>
        </li>
        <li [ngClass]="{'active': activeSheet === 'pbdtRt'}">
            <a href="#" (click)="setActiveSheet('pbdtRt')"> RT </a>
        </li>
    </ul>
    <div id="page-menu" [class]="activePageMenu ? 'slidein' : ''">
        <div class="page-menu-side">
            <button class="btn btn-default btn-close" (click)="setActivePageMenu(null);">
                <img src="assets/images/arrow-left.png" />
            </button>
            <ul class="list-group">
                <li [class]="activePageMenu == 'info' ? 'active' : ''">
                    <a class="list-group-item" (click)="setActivePageMenu('info')">
                        Info
                    </a>   
                </li>
            </ul>
        </div>
        <div class="page-menu-content" style="padding-top: 20px;">
            <div *ngIf="activePageMenu == 'info'" style="padding: 50px;">
                <page-info [page]="this"></page-info>
            </div>
        </div>
    </div>
</div>

<div id="modal-save-diff" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <form (submit)="saveContent(true)" class="form-horizontal" *ngIf="pageSaver.currentDiffs">
            <div class="modal-content" style="border-radius: 0">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{afterSaveAction ? 'Ada yang Belum Tersimpan' : 'Konfirmasi Penyimpanan'}}</h4>
                </div>
                <div class="modal-body">
                    <div class="tabbable">
                        <ul class="nav nav-tabs">
                            <li [ngClass]="{'active':pageSaver.selectedDiff=='pbdtIdv'}">
                                <a href="#" (click)="pageSaver.switchDiff('pbdtIdv')" data-toggle="tab">
                                    PBDT IDV
                                </a>
                            </li>
                            <li [ngClass]="{'active':pageSaver.selectedDiff=='pbdtRt'}">
                                <a href="#" (click)="pageSaver.switchDiff('pbdtRt')" data-toggle="tab">
                                    PBDT RT
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <p *ngIf="pageSaver.currentDiffs[pageSaver.selectedDiff].total > 0" style="margin-left: 5px; padding-top: 5px;">
                                Apakah Anda ingin menyimpan perubahan berikut:
                            </p>
                            <p *ngIf="pageSaver.currentDiffs[pageSaver.selectedDiff].total == 0" style="margin-left: 5px; padding-top: 5px;">
                                Tidak Ada Perubahan
                            </p>
                            <div class="tab-pane" style="display: block;">
                                <table class="table table-bordered" *ngIf="pageSaver.currentDiffs[pageSaver.selectedDiff].total < 15">
                                    <tr class="active" *ngIf="pageSaver.currentDiffs[pageSaver.selectedDiff].added.length > 0">
                                        <td colspan="2"> {{pageSaver.currentDiffs[pageSaver.selectedDiff].added.length}} Penambahan</td>
                                    </tr>
                                    <tr *ngFor="let item of pageSaver.currentDiffs[pageSaver.selectedDiff].added">
                                        <td>{{item[7]}}</td>
                                        <td>{{item[6]}}</td>
                                    </tr>
                                    <tr class="active" *ngIf="pageSaver.currentDiffs[pageSaver.selectedDiff].deleted.length > 0">
                                        <td colspan="2"> {{pageSaver.currentDiffs[pageSaver.selectedDiff].deleted.length}} Penghapusan</td>
                                    </tr>
                                    <tr *ngFor="let item of pageSaver.currentDiffs[pageSaver.selectedDiff].deleted">
                                        <td>{{item[7]}}</td>
                                        <td>{{item[6]}}</td>
                                    </tr>
                                    <tr class="active" *ngIf="pageSaver.currentDiffs[pageSaver.selectedDiff].modified.length > 0">
                                        <td colspan="2"> {{pageSaver.currentDiffs[pageSaver.selectedDiff].modified.length}} Perubahan</td>
                                    </tr>
                                    <tr *ngFor="let item of pageSaver.currentDiffs[pageSaver.selectedDiff].modified">
                                        <td>{{item[7]}}</td>
                                        <td>{{item[6]}}</td>
                                    </tr>
                                </table>
                                <table class="table table-bordered" *ngIf="pageSaver.currentDiffs[pageSaver.selectedDiff].total >= 15">
                                    <tr class="active">
                                        <td colspan="2"> {{pageSaver.currentDiffs[pageSaver.selectedDiff].added.length}} Penambahan</td>
                                    </tr>
                                    <tr class="active">
                                        <td colspan="2"> {{pageSaver.currentDiffs[pageSaver.selectedDiff].deleted.length}} Penghapusan</td>
                                    </tr>
                                    <tr class="active">
                                        <td colspan="2"> {{pageSaver.currentDiffs[pageSaver.selectedDiff].modified.length}} Perubahan</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-remove"></i> Batal Keluar</button>
                    <button type="button" class="btn btn-danger" [hidden]="!afterSaveAction" (click)="pageSaver.forceQuit()"><i class="fa fa-sign-out"></i> Keluar Tanpa Menyimpan</button>
                    <button type="submit" class="btn btn-success" data-backdrop="false"><i class="fa fa-save"></i> Simpan</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="modal-validation" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <form (submit)="validate()" class="form-horizontal">
            <div class="modal-content" style="border-radius: 0">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Validasi Data</h4>
                </div>
                <div class="modal-body">
                    <div class="tabbable">
                        <ul class="nav nav-tabs">
                            <li [ngClass]="{'active': selectedTab === category.id }" 
                                *ngFor="let category of categories[activeSheet];">
                                <a href="#" (click)="setActiveTab(category.id)">{{category.label}} ({{category.total}})</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                             <div class="tab-pane" style="display: block;">
                                  <table class="table table-bordered">
                                     <thead>
                                         <th style="text-align: center;">Indikator</th>
                                         <th style="text-align: center;">Data {{previousSubType}}</th>
                                         <th style="text-align: center;">Data {{validationSubType}}</th>
                                     </thead>
                                     <tbody>
                                         <tr *ngFor="let column of columns">
                                             <td>{{column.header}}</td>
                                             <td>
                                                <input type="text" disabled [name]="column.header  + '-old'" [(ngModel)]="selectedDataPrev[column.field]"
                                                    *ngIf="!column.chosenOptions" class="form-control" /> 
        
                                                <select class="form-control" disabled *ngIf="column.chosenOptions" [name]="column.header  + '-old'" [(ngModel)]="selectedDataPrev[column.field]">
                                                    <option *ngFor="let data of column.chosenOptions.data" [value]="data.id">{{data.label}}</option>
                                                </select>
                                             </td>
                                             <td>
                                                <input type="text" [name]="column.header" [(ngModel)]="selectedData[column.field]"
                                                    *ngIf="!column.chosenOptions" class="form-control" /> 

                                                <select class="form-control" *ngIf="column.chosenOptions" [name]="column.header" [(ngModel)]="selectedData[column.field]">
                                                    <option *ngFor="let data of column.chosenOptions.data" [value]="data.id">{{data.label}}</option>
                                                </select>
                                             </td>
                                         </tr>
                                     </tbody>
                                  </table>
                             </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" data-backdrop="false"><i class="fa fa-check"></i> Validasi</button>
                </div>
            </div>
        </form>
    </div>
</div>

<progress-bar [progress]="progress" [message]="progressMessage"></progress-bar>