<div id="flex-container">
    <nav class="navbar navbar-default" style="height: 73px; min-height: 73px; -webkit-user-select: none; user-select: none;">
        <div class="container-fluid" style="padding-top: 32px; height: 41px; min-height: 41px;">
            <form class="navbar-form navbar-nav navbar-nav-buttonbar form-inline" style="padding-left: 0px;">
                <button title="File" class="btn btn-default" href="app.html" (click)="pageSaver.redirectMain()"> 
                    <i class="fa fa-arrow-left"></i> <span>&nbsp; Beranda</span>
                </button>
                <button title="File" class="btn btn-default" *ngIf="mode === 'validate'" href="#" (click)="showValidationForm(true)"> 
                    <i class="fa fa-check"></i> &nbsp; Validasi
                </button>
            </form>
        </div>
    </nav>
    <div id="sheet" style="position: relative;">
        <pbdtIdv-hot class="child-sheet pbdtIdv-sheet"
            [schema]="bundleSchemas.pbdtIdv" 
            [sheet]="'pbdtIdv'"
            [style.zIndex]="activeSheet != 'pbdtIdv' ? -100 : 0">
        </pbdtIdv-hot>
        <pbdtRt-hot class="child-sheet pbdtRt-sheet"
            [schema]="bundleSchemas.pbdtRt" 
            [sheet]="'pbdtRt'"
            [style.zIndex]="activeSheet != 'pbdtRt' ? -100 : 0">
        </pbdtRt-hot>
    </div>
    <ul class="nav nav-tabs bottom-tabs">
        <li [ngClass]="{'active': activeSheet === 'pbdtIdv'}">
            <a href="#" (click)="setActiveSheet('pbdtIdv')"> IDV </a>
        </li>
        <li [ngClass]="{'active': activeSheet === 'pbdtRt'}">
            <a href="#" (click)="setActiveSheet('pbdtRt')"> RT </a>
        </li>
    </ul>
</div>