<table class="table table-striped table-bordered"> 
    <tbody> 
        <tr> 
            <th scope="row">File</th> 
            <td>{{type}} ({{size}})</td> 
        </tr> 
        <tr> 
            <th scope="row">Sinkronisasi Server</th> 
            <td>{{version}}</td>
        </tr> 
        <tr> 
            <th scope="row">Perubahan Lokal</th> 
            <td>{{localChanges}}</td>
        </tr> 
        <tr> 
            <th scope="row">Status Penerbitan</th> 
            <td>{{openDataStatus}}</td>
        </tr> 
    </tbody>
</table>
<!--
<table class="table table-striped table-bordered"> 
    <thead> 
        <tr> 
            <th>#</th> 
            <th>Tanggal</th> 
            <th>Pengubah</th> 
            <th>Perubahan</th> 
            <th>Besar</th> </tr> 
    </thead> 
    <tbody> 
        <tr> 
            <th scope="row">v51</th> 
            <td>25 Sep 2017 21:43 WIB</td> 
            <td>Roni</td> 
            <td>3 Penghapusan - 5 Penambahan - 21 Pengubahan</td> 
            <td>31 kB</td> 
        </tr> 
        <tr> 
            <th scope="row">v50</th> 
            <td>25 Sep 2017 21:43 WIB</td> 
            <td>Roni</td> 
            <td>3 Penghapusan - 5 Penambahan - 21 Pengubahan</td> 
            <td>31 kB</td> 
        </tr> 
        <tr> 
            <th scope="row">v49</th> 
            <td>25 Sep 2017 21:43 WIB</td> 
            <td>Roni</td> 
            <td>3 Penghapusan - 5 Penambahan - 21 Pengubahan</td> 
            <td>31 kB</td> 
        </tr> 
        <tr> 
            <th scope="row">v48</th> 
            <td>25 Sep 2017 21:43 WIB</td> 
            <td>Roni</td> 
            <td>3 Penghapusan - 5 Penambahan - 21 Pengubahan</td> 
            <td>31 kB</td> 
        </tr> 
    </tbody> 
</table>
-->