<div style="padding-left: 20px; overflow-y: scroll; height: 100%; padding-top: 10px;">
    <div class="row" style="">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div style="display: inline-flex;">
                        <h4 style="text-align: left;">Keluarga: {{totalKeluarga}}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div style="display: inline-flex;">
                        <h4 style="text-align: left;">Perempuan: {{totalFemale}}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div style="display: inline-flex;">
                        <h4 style="text-align: left;">Laki-laki: {{totalMale}}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div style="display: inline-flex;">
                        <h4 style="text-align: left;">Tidak Diketahui: {{totalUnknown}}</h4> 
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-header" style="padding-left: 5px;"> Pekerjaan </div>
                <div class="panel-body">
                    <div id="pekerjaan">
                        <svg style="height: 250px; width: 100%;"></svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-header" style="padding-left: 5px;"> Tingkat Pendidikan </div>
                <div class="panel-body">
                <div id="pendidikan">
                        <svg style="height: 250px; width: 100%;"></svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-header" style="padding-left: 5px;"> Agama </div>
                <div class="panel-body">
                    <div id="agama">
                        <svg style="height: 300px; width: 100%;"></svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-header" style="padding-left: 5px;"> Status Kawin </div>
                <div class="panel-body">
                    <div id="statusKawin">
                        <svg style="height: 300px; width: 100%;"></svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-header" style="padding-left: 5px;"> Kelompok Umur </div>
                <div class="panel-body">
                    <div id="ageGroup" style="margin-left: -100px;">
                        <svg style="height: 250px; width: 100%;"></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>