<form *ngIf="feature">
    <div class="form-group">
        <label class="col-sm-3 control-label">Jenis</label>
        <select class="form-control" style="width: 100%;" name="element" [(ngModel)]="element" (change)="changeElement()">
            <option *ngFor="let el of indicator.elements" [ngValue]="el">{{el.label}}</option>
        </select>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12" *ngFor="let attr of attributes">
            <div class="form-group">
                <label>{{attr.label}}</label>

                <input type="text" class="form-control" (change)="changeAttribute()" name="{{attr.key}}" [(ngModel)]="attribute[attr.key]" 
                    *ngIf="attr.type == 'text'">

                <input type="text" (change)="changeAttribute()" name="{{attr.key}}" [(ngModel)]="attribute[attr.key]" style="width: 95%;" 
                    *ngIf="attr.type == 'date'" class="form-control" ngui-datetime-picker time-only="true" [close-on-select]="false"/>

                <select class="form-control" (change)="changeAttribute(attr.key)" name="{{attr.key}}" [(ngModel)]="attribute[attr.key]" 
                    style="width: 100%;" *ngIf="attr.type == 'boolean'">
                    <option value="true" selected> Ya </option>
                    <option value="false"> Tidak </option>
                </select>

                <select class="form-control" (change)="changeAttribute(attr.key)" name="{{attr.key}}" [(ngModel)]="attribute[attr.key]" 
                    style="width: 100%;" *ngIf="attr.type == 'select'">
                    <option *ngFor="let option of attr.options" [value]="option.value"> {{option.label}} </option>
                </select>

                <keluarga-selector [width]="'100%'" [initialValue]="attribute[attr.key]" (onKeluargaSelected)="attribute[attr.key]= $event.id; changeAttribute(attr.key)" [options]="{'multiple': false}" *ngIf="attr.type == 'keluarga_selector'"></keluarga-selector>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <button class="btn btn-primary" (click)="develop()"> <i class="fa fa-gavel"></i> Bangun </button>
        </div>
    </div>
</form>