<div id="flex-container">
    <nav class="navbar navbar-default" style="height: 73px; min-height: 73px; -webkit-user-select: none; user-select: none;">
        <div class="container-fluid" style="-webkit-app-region: no-drag; position: fixed; top: 0; left: 0px; z-index: 506;" [hidden]="activePageMenu">
            <form class="navbar-form navbar-nav navbar-nav-buttonbar form-inline" style="padding-left: 0px;">
            </form>
        </div>
        <div class="container-fluid" style="padding-top: 32px; height: 41px; min-height: 41px;">
            <form class="navbar-form navbar-nav navbar-nav-buttonbar form-inline" style="padding-left: 0px;">
                <button title="File" class="btn btn-default" routerLink="/">
                    <i class="fa fa-arrow-left"></i> &nbsp; Beranda
                </button>  
                <button title="Simpan (Ctrl+S)" class="btn btn-default">
                    <i class="fa fa-save"></i> <span>&nbsp; Simpan</span>
                </button>
                <button title="Info" class="btn btn-default"> 
                    <i class="fa fa-info-circle"></i> <span>&nbsp; Info</span>
                </button>
            </form>
             
        </div>
    </nav>

    <div id="title-container" *ngIf="post">
        <input name="post_title" size="30" id="title" [(ngModel)]="post.title.raw" spellcheck="true" autocomplete="off" type="text">
    </div>

    <div id="tinymce-container">
        <tinymce-editor [(ngModel)]="content"></tinymce-editor>
    </div>

</div>

<div id="page-menu" [style.display]="activePageMenu ? 'flex' : 'none'">
    <div class="page-menu-side">
        <button class="btn btn-default btn-close" (click)="setActivePageMenu(null);">
            <img src="assets/images/arrow-left.png" />
        </button>
        <ul class="list-group">
            <li [class]="activePageMenu == 'statistics' ? 'active' : ''">
                <a class="list-group-item" (click)="setActivePageMenu('statistics')">
                    Statistik
                </a>   
            </li>
        </ul>
    </div>
    <div class="page-menu-content" style="overflow-y: scroll; padding-top: 20px;">
        <div class="page-menu-content"> 
            <sipbm-statistic class="child-sheet" style="background-color: #f1f1f1; z-index: 100; overflow-y: scroll;" [hot]="hots['sipbm']" [penduduk]="dataPenduduks"
                *ngIf="activePageMenu == 'statistics'">
            </sipbm-statistic>    
        </div>
    </div>
</div>
