<div class="row" style="margin-left: 10px; width: 100%; height: auto; margin-top: 10px;">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div style="display: inline-flex;">
                    <h5 style="text-align: left; color: #e64946">Kasus Kematian Ibu  : {{total.kematian_ibu_hamil}} orang</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div style="display: inline-flex;">
                    <h5 style="text-align: left; color: #e64946">Kasus Kematian Bayi: {{total.anak_lahir_mati}} anak</h5>
                </div>
            </div>
        </div>
    </div>
     <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div style="display: inline-flex;">
                    <h5 style="text-align: left; color: #e64946">Capaian Asi Eksklusif: {{total.pemberian_asi_bayi}} bayi</h5>
                </div>
            </div>
        </div>
    </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div style="display: inline-flex;">
                    <h5 style="text-align: left; color: #e64946">Capaian Garam Yodium: {{total.mengkonsumsi_garam_beryodium}} keluarga</h5> 
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-header" style="padding-left: 10px; font-weight: bold; font-size: 16px; color: #e64946;"> Kepemilikan Jamban </div>
            <div class="panel-body">
                <canvas id="kepemilikan-jamban" style="height: 250px; width: 100%;"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-header" style="padding-left: 10px; font-weight: bold; font-size: 16px; color: #e64946;"> Tingkat Pendidikan Anak
             </div>
            <div class="panel-body">
                <canvas id="tingkat-pendidikan" style="height: 400x; width: 100%;"></canvas>
            </div>
        </div>
    </div>
     <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-header" style="padding-left: 10px; font-weight: bold; font-size: 16px; color: #e64946;"> Jarak Sekolah </div>
            <div class="panel-body">
                <div class="panel-body">
                    <canvas id="jarak-sekolah" style="height: 400x; width: 100%;"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
