<form class="form-horizontal" (ngSubmit)="saveSettings()" style="margin-top: 20px;">
    <div class="form-group">
        <label class="col-sm-4 control-label">Database Siskeudes</label>
        <div class="col-sm-8">
            <input type="file" accept=".mde,.mdb" (change)="fileChangeEvent($event)" />
            <p>{{ settings['siskeudes.path'] }} <button type="button" class="btn" (click)="settings['siskeudes.path'] = null;">X</button></p>
        </div>
    </div>
    <div class="form-group" *ngIf="settings['siskeudes.path']">
        <label class="col-sm-4 control-label">Pilih Desa</label>
        <div class="col-sm-8">
            <select class="form-control" name="desa" [(ngModel)]="settings.kodeDesa">
                <option [value]="''">Pilih Desa</option>
                <option *ngFor="let desa of siskeudesDesas" [value]="desa.Kd_Desa"> {{desa.Nama_Desa}} </option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <button type="submit" class="btn btn-default">Simpan</button>                        
            <button class="btn btn-default" type="button" (click)="showCreateSiskeudesDb(true)">Buat Database Baru</button>
        </div>
    </div>
</form>
<div *ngIf="isCreateSiskeudesDbShown">
    <create-siskeudes-db 
        [showForm]="isCreateSiskeudesDbShown" 
        (hideForm)="showCreateSiskeudesDb(false)"
        (responseSave)="afterCreateSiskeudesDb($event)"
        ></create-siskeudes-db>
</div>