<div style="margin: 20px">
    <div class="panel-container" style="position: relative; ">           
        <div [className]="!activeDatabase && 'show'" style="width: 100%;">
            <h2>List Database <button class="btn btn-primary" (click)="addNewDatabase()" style="margin-left: 20px;">Tambah Database Baru</button></h2>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Tahun</th>
                        <th>Path</th>
                    </tr>
                </thead>
                <tbody>
                        <tr *ngFor="let db of listDb" (click)='selectDatabase(db)'>
                            <td>{{db.year}}</td>
                            <td>{{db.path}}</td>
                        </tr>
                </tbody>
            </table>
        </div>
        <div [className]="activeDatabase && 'show'">
            <div *ngIf="activeDatabase">
                <h2>Tambah Database Baru</h2>
                <form (ngSubmit)="saveSettings()" >      
                    <div class="form-group" *ngIf="activeDatabase['path']">
                        <label>Tahun Database</label>
                        <input type="text" class="form-control" readonly name="year" [(ngModel)]="activeDatabase['year']">
                    </div>
                    <div class="form-group">
                        <label>Database Siskeudes</label>
                        <input type="file" accept=".mde,.mdb" (change)="onchangeDatabase($event)" />
                        <p>{{ activeDatabase['path'] }} 
                            <button *ngIf="activeDatabase['path']" type="button" class="btn" (click)="activeDatabase['path'] = null;">X</button>
                        </p>
                    </div>
                    <div class="form-group" *ngIf="activeDatabase['path']">
                        <label>Pilih Desa</label>
                        <select class="form-control" name="desa" [(ngModel)]="activeDatabase['desaCode']">
                            <option [value]="''">Pilih Desa</option>
                            <option *ngFor="let desa of siskeudesDesas" [value]="desa.Kd_Desa"> {{desa.Nama_Desa}} </option>
                        </select>
                        <div *ngIf="isErrorDatabase" class="bg-danger">
                            <small>
                                {{errorMessage}}
                            </small>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="activeDatabase['path']">
                        <label>Sinkronisasi</label>
                        <div class="checkbox">
                            <label>
                                <input name="autoSync" type="checkbox" [(ngModel)]="activeDatabase['autoSync']"> Sinkronisasi Automatis
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn" (click)="activeDatabase = null;">Batal</button> 
                        <button type="submit" class="btn btn-primary">Simpan</button>                        
                        <button class="btn btn-warning" type="button" (click)="openCreateDialog()">Buat Database Baru</button>                           
                    </div>
                </form>
            </div>            
        </div>
    </div>
</div>
    

<div id="modal-create-db" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <form (submit)="createNewDb(model)" role="form" id="form-create-db" class="form-horizontal" #createDbForm="ngForm" data-toggle="validator">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Buat Database Siskeudes</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                                <fieldset>
                                    <!--
                                     <div class="form-group"> 
                                        <label class="col-sm-2 control-label" for="Kd_Prov">Kode Provinsi</label>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" name="Kd_Prov" [(ngModel)]="model.Kd_Prov" maxlength="2" placeholder="Cth: 01">
                                        </div>
                                        <label class="col-sm-2 control-label" for="Nama_Provinsi">Nama Provinsi</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="Nama_Provinsi" [(ngModel)]="model.Nama_Provinsi" style="text-transform:uppercase" placeholder="Cth: JAWA TENGAH">
                                        </div>
                                     </div>
                                    <div class="form-group"> 
                                        <label class="col-sm-2 control-label" for="Kd_Kab">Kode Kab</label>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" name="Kd_Kec" [(ngModel)]="model.Kd_Kab" maxlength="2" placeholder="Cth: 02">
                                        </div>
                                        <label class="col-sm-2 control-label" for="Nama_Pemda">Nama Pemda</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="Nama_Pemda" [(ngModel)]="model.Nama_Pemda" style="text-transform:uppercase" placeholder="Cth: GUNUNG KIDUL">
                                        </div>
                                    </div>
                                    -->
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="kode_kecamatan">Kode Kecamatan</label>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" name="Kd_Kec" [(ngModel)]="model.kode_kecamatan" maxlength="2" placeholder="Cth: 01" #kode_kecamatan="ngModel" required>
                                        </div>
                                        <label class="col-sm-2 control-label" for="nama_kecamatan">Nama Kecamatan</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="nama_kecamatan" [(ngModel)]="model.nama_kecamatan" style="text-transform:uppercase"
                                                placeholder="Cth: PLAJEN" #nama_kecamatan="ngModel">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="kode_desa">Kode Desa</label>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" name="kode_desa" [(ngModel)]="model.kode_desa" maxlength="2" #kode_desa="ngModel" placeholder="Cth: 01" required>
                                        </div>
                                        <label class="col-sm-2 control-label" for="nama_desa">Nama Desa</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="nama_desa" [(ngModel)]="model.nama_desa" style="text-transform:uppercase" #nama_desa="ngModel" placeholder="Cth: NGAWUNG">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="tahun">Tahun</label>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" name="tahun" [(ngModel)]="model.tahun" #tahun="ngModel" placeholder="Cth: 2017">
                                        </div>
                                    </div>
                                </fieldset>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-default"  [disabled]="!createDbForm.form.valid">Buat Database Baru</button>
                </div>
            </div>
        </form>
    </div>
</div>
