<div class="container-fluid" id="surat-container" *ngIf="!isFormSuratShown" style="display: flex; flex-direction: column; height: 100%;">
    <form style="padding-top: 20px; flex: 0 0 50px;">
        <p>{{penduduk[1]}} - {{penduduk[2]}}</p>
        <div class="inner-addon left-addon">
            <i class="fa fa-search"></i>
            <input [(ngModel)]="keyword" 
                name="keyword" 
                type="text" 
                class="form-control" 
                (keyup)="search()" 
                placeholder="Cari Surat">
        </div>
    </form>
    <div class="row" style="padding-left: 40px; flex: 1; overflow-y: scroll;">
        <div class="col-xs-6 col-sm-6 col-lg-3 col-md-3 col-letter" *ngFor="let surat of filteredSurat; trackBy:surat?.code">
            <a href="#" (click)="selectSurat(surat)">
                <img class="letter-thumbnail" src="surat_templates/{{surat.code}}/{{surat.thumbnail}}" />
                <span>{{surat.title}}</span>
            </a>
        </div>
    </div>
</div>
<div class="form-container" *ngIf="isFormSuratShown" style="display: inline-flex; width: 100%; height: 100vh; padding-left: 30px; background: #f1f1f1">
    <div style="flex: 1; padding-top: 20px; border-right: 1px solid #eaeaea;">
        <h4 style="color: black;"> {{selectedSurat.title}} </h4>
        <div style="display: inline-flex;">
            <button type="button" class="btn btn-danger" (click)="isFormSuratShown = false">
                <i class="fa fa-remove"></i> Tutup
            </button>
            <button type="button" class="btn btn-success" (click)="print()" style="margin-left: 10px;">
                <i class="fa fa-print"></i> Cetak
            </button>
        </div>
        <img class="letter-thumbnail" src="surat_templates/{{selectedSurat.code}}/{{selectedSurat.thumbnail}}" />
    </div>
    <div style="flex: 3; padding-top:35px; overflow-y: scroll; padding-bottom: 20px;">
        <div class="container-fluid">
            <form>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6" *ngFor="let form of selectedSurat.forms;trackBy:form?.var">
                        <div class="form-group">
                            <label>{{form.label}}</label>
                            <div *ngIf="form.type === 'input_text' && form.var === 'nomor_surat'" class="input-group">
                                <input type="text" [disabled]="selectedNomorSurat.is_auto_number" class="form-control" 
                                [(ngModel)]="form.value" 
                                    name="{{form.label}}" />
                                <span class="input-group-btn">
                                    <button title="Atur penomoran automatis" (click)="openNomorSuratConfigDialog()" class="btn btn-default" type="button"><i class="fa fa-cog"> </i> {{selectedNomorSurat.is_auto_number ? "Auto" : "Manual"}}</button>
                                </span>
                            </div>

                            <input type="text" *ngIf="form.type === 'input_text' && form.var !== 'nomor_surat'" 
                                class="form-control" 
                                [(ngModel)]="form.value" 
                                name="{{form.label}}" />

                            <input type="text" class="form-control" *ngIf="form.type === 'date'" 
                                name="{{form.label}}" 
                                ngui-datetime-picker date-only="true" 
                                date-format="DD-MM-YYYY" 
                                [(ngModel)]="form.value" 
                                [close-on-select]="false"  />
                             
                            <penduduk-selector *ngIf="form.type === 'penduduk_selector'" [width]="'100%'" [mode]="form.selector_type" id="penduduk-selector" 
                                (onPendudukSelected)="onPendudukSelected($event, form.var, form.selector_type)"></penduduk-selector>
                            
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modal-nomor-surat" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <form class="form-horizontal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Atur Penomoran Surat</h4>
                </div>
                <div class="modal-body" style="padding: 15px 30px;">
                    <div class="form-group checkbox" style="margin-bottom: 10px;">
                        <label>
                            <input type="checkbox" name="is_auto_number" [(ngModel)]="selectedNomorSurat.is_auto_number" > Penomoran Automatis
                        </label>
                    </div>
                    <div class="form-group" [hidden]="!selectedNomorSurat.is_auto_number">
                        <label for="exampleInputEmail1">Format Nomor Surat. {{nomorSuratPreview}}</label>
                        <input type="text" class="form-control" name="format" [ngModel]="selectedNomorSurat.format" (keyup)="updateNomorSuratPreview($event)">
                    </div>
                    <div class="container-fluid" [hidden]="!selectedNomorSurat.is_auto_number">
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-sm-3 col-xs-6">
                                <button class="btn btn-sm btn-primary" (click)="addFormat('<Tanggal D>')">+Tanggal &lt;D&gt;</button>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <button class="btn btn-sm btn-primary" (click)="addFormat('<Bulan M>')">+Bulan &lt;M&gt;</button>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <button class="btn btn-sm btn-primary" (click)="addFormat('<Tahun YY>')">+Tahun &lt;YY&gt;</button>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <button class="btn btn-sm btn-primary" (click)="addFormat('<Counter X>')">+Counter &lt;X&gt;</button>
                            </div>
                            <div class="col-sm-3 col-xs-6" style="margin-top: 5px;">
                                <button class="btn btn-sm btn-primary" (click)="addFormat('<Tanggal DD>')">+Tanggal &lt;DD&gt;</button>
                            </div>
                            <div class="col-sm-3 col-xs-6" style="margin-top: 5px;">
                                <button class="btn btn-sm btn-primary" (click)="addFormat('<Bulan MM>')">+Bulan &lt;MM&gt;</button>
                            </div>
                            <div class="col-sm-3 col-xs-6" style="margin-top: 5px;">
                                <button class="btn btn-sm btn-primary" (click)="addFormat('<Tahun YYYY>')">+Tahun &lt;YYYY&gt;</button>
                            </div>
                            <div class="col-sm-3 col-xs-6" style="margin-top: 5px;">
                                <button class="btn btn-sm btn-primary" (click)="addFormat('<Counter XX>')">+Counter &lt;XX&gt;</button>
                            </div> 
                            <div class="col-sm-3 col-xs-6" style="margin-top: 5px;"></div>
                            <div class="col-sm-3 col-xs-6" style="margin-top: 5px;">
                                <button class="btn btn-sm btn-primary" (click)="addFormat('<Bulan romawi>')">+Bulan &lt;romawi&gt;</button>
                            </div>
                            <div class="col-sm-3 col-xs-6" style="margin-top: 5px;"></div>
                            <div class="col-sm-3 col-xs-6" style="margin-top: 5px;">
                                <button class="btn btn-sm btn-primary" (click)="addFormat('<Counter XXX>')">+Counter &lt;XXX&gt;</button>
                            </div>
                            <div class="col-sm-3 col-xs-6" style="margin-top: 5px;"></div>
                            <div class="col-sm-3 col-xs-6" style="margin-top: 5px;">
                                <button class="btn btn-sm btn-primary" (click)="addFormat('<Bulan Jan>')">+Bulan &lt;Jan&gt;</button>
                            </div>
                            <div class="col-sm-3 col-xs-6" style="margin-top: 5px;"></div>
                            <div class="col-sm-3 col-xs-6" style="margin-top: 5px;">
                                <button class="btn btn-sm btn-primary" (click)="addFormat('<Counter XXXX>')">+Counter &lt;XXXX&gt;</button>
                            </div>
                            <div class="col-sm-3 col-xs-6" style="margin-top: 5px;"></div>
                            <div class="col-sm-3 col-xs-6" style="margin-top: 5px;">
                                <button class="btn btn-sm btn-primary" (click)="addFormat('<Bulan Januari>')">+Bulan &lt;Januari&gt;</button>
                            </div>
                            <div class="col-sm-3 col-xs-6" style="margin-top: 5px;"></div>
                        </div>        
                    </div>        
                    <div class="form-group" [hidden]="!selectedNomorSurat.is_auto_number">
                        <label for="exampleInputPassword1">Periode Penomoran</label>
                        <select class="form-control" name="counter-type" [(ngModel)]="selectedNomorSurat.counter_type">
                            <option value="t">Tahunan</option>
                            <option value="b">Bulanan</option>
                            <option value="c">Terus Menerus</option>
                        </select>
                    </div>
                    <div class="form-group" [hidden]="!selectedNomorSurat.is_auto_number">
                        <label for="exampleInputPassword1">Nomor saat ini</label>
                        <div class="input-group">
                            <input type="number" class="form-control" [(ngModel)]="selectedNomorSurat.counter" name="counter" />
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-success" (click)="selectedNomorSurat = 0">
                                    <i class="fa fa-refresh"></i> Reset Counter
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Batal</button>
                    <button type="button" (click)="saveNomorSuratConfig()" class="btn btn-success" data-dismiss="modal">Simpan Aturan Penomoran</button>
                </div>
            </div>
        </form>
    </div>
</div>       