@import "../../app/node_modules/bootstrap/less/bootstrap.less";
@import "../../app/node_modules/font-awesome/less/font-awesome.less";
@import "inner-addon.less";

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Calibri";
}

#flex-container {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
}

#sheet {
    flex: 1 1 auto;
    overflow: hidden;
}
#empty {
    flex: 1 1 auto;
    margin: 200px auto;
    text-align: center;
    overflow: hidden;
}
#empty  button {
    display: block;
    margin: 30px;
    width: 350px;
}

nav.navbar {
    margin-bottom: 0px;
    background-color: #3097d1;
    border-color: #1c73a5;
    border-bottom-width: 1px;
    border-radius: 0px !important;
}

nav.navbar > .container-fluid{
    padding-left: 15px;
    padding-right: 0px;
}

nav.navbar .form-control, nav.navbar .btn {
    border-color: #1C73A5;
    color: #536570;
}
nav.navbar .form-control, nav.navbar .btn {
    box-shadow: none;
}

#sheet .handsontable td, #sheet .handsontable th {
  text-overflow: hidden;
  overflow: hidden;
  white-space: nowrap;
}

#sheet .handsontable .htAutocompleteArrow {
    display: none;
}

#input-search {
    width: 290px;
}
#input-search:focus {
    border-color: rgba(126, 239, 104, 0.8);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    outline: 0 none;
}

@media (max-width: @screen-md-max) {
    .navbar-nav-buttonbar button span {
        display: none;
    }
    #input-search {
        width: 208px;
    }
}

#sheet .handsontable td.anggaran {
    font-family: Consolas, monospace;
    text-align: right;
    white-space: pre;
}
#sheet .handsontable td.monospace {
    font-family: Consolas, monospace;
}

.alert {
    margin: 0;
    padding: 2px 5px;
    border-radius: 0px;
}

.handsontable tr:nth-child(2n) > td {background: #f9f9f9;}
.handsontable tr:nth-child(2n+1) > td {background: #fff;}

.handsontable tr > td.area {
    background: -moz-linear-gradient(top, rgba(181,209,255,0.34) 0%, rgba(181,209,255,0.34) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,209,255,0.34)), color-stop(100%,rgba(181,209,255,0.34)));
    background: -webkit-linear-gradient(top, rgba(181,209,255,0.34) 0%,rgba(181,209,255,0.34) 100%);
    background: -o-linear-gradient(top, rgba(181,209,255,0.34) 0%,rgba(181,209,255,0.34) 100%);
    background: -ms-linear-gradient(top, rgba(181,209,255,0.34) 0%,rgba(181,209,255,0.34) 100%);
    background: linear-gradient(to bottom, rgba(181,209,255,0.34) 0%,rgba(181,209,255,0.34) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57b5d1ff', endColorstr='#57b5d1ff',GradientType=0 );
    background-color: #fff;
}