<div class="btn-group" role="group" aria-label="...">
    <button type="button" title="Potong (Ctrl+X)" (click)="cut()" [disabled]="hot?.selection.selectedHeader.corner" class="btn btn-default"><i class="fa fa-cut"></i></button>
    <button type="button" title="Salin (Ctrl+C)" (click)="copy()" [disabled]="hot?.selection.selectedHeader.corner" class="btn btn-default"><i class="fa fa-copy"></i></button>
    <button type="button" title="Tempel (Ctrl+V)" (click)="paste()" [disabled]="hot?.selection.selectedHeader.corner" class="btn btn-default"><i class="fa fa-paste"></i></button>
</div>