<div style="background-color: #f1f1f1; display: flex; height: 100vh;">
    <div class="sidebar" style="flex: 0 0 300px;">
        <online-status [type]="'front'"></online-status>
        <div id="app-menu" [hidden]="!auth">
            <ul class="list-group">
                <a class="list-group-item" routerLink="penduduk">
                    Kependudukan
                </a>
                <!--<a class="list-group-item" routerLink="keluarga">
                    Kemiskinan
                </a>-->
            </ul>
            <!--<ul class="list-group">
                <a class="list-group-item" routerLink="penduduk">
                    Pos
                </a>
                <a class="list-group-item" routerLink="keluarga">
                    Laman
                </a>
                <a class="list-group-item" routerLink="keluarga">
                    Kegiatan
                </a>
            </ul>-->
            <ul class="list-group">
                <a class="list-group-item" routerLink="pemetaan">
                    Pemetaan
                </a>
               <!-- <a class="list-group-item" routerLink="apbdes">
                    Pertanahan
                </a>-->
            </ul>
            <ul class="list-group">
                <a class="list-group-item" href="#" (click)="getVisiRPJM()" [ngClass]="{'active':contents.rpjmList==false}" >
                    RPJM dan RKP Desa
                </a>
                <a class="list-group-item" href="#" (click)="getRAB()" [ngClass]="{'active':contents.rabList== false}">
                    RAB dan APBDes
                </a>
                <a class="list-group-item hidden" href="#" (click)="getSPPLists()" [ngClass]="{'active':contents.sppList== false}">
                    SPP
                </a>
                <a class="list-group-item hidden" href="#" [ngClass]="{'active':contents.sppList== false}">
                    SPJ
                </a>
                <a class="list-group-item hidden" routerLink="apbdes">
                    Pembukuan
                </a>
            </ul>
            <!--<ul class="list-group">
                <a class="list-group-item" routerLink="apbdes">
                    Pengguna
                </a>
            </ul>-->
            <div id="info-box">
                <span>Sideka v{{package.version}}</span>
                <a class="info-link" (click)="toggleContent('config')" href="#"><i class="fa fa-gear"></i> Konfigurasi</a>
                <br style="margin-top: 0.5em;"/>
                <span>{{auth?.desa_name}}</span>
                <a class="info-link" (click)="logout()" href="#"><i class="fa fa-sign-out"></i> Log Keluar</a>
            </div>
        </div>
        
        <div id="login-form" [hidden]="auth">
            <form class="form-signin" (submit)="login()">
                <div class="error-message">Anda bisa masuk dengan menggunakan akun Wordpress/Web Desa Anda</div>
                <div class="error-message alert alert-danger" [hidden]="!loginErrorMessage" style="background-color: #FF7E6B;">{{loginErrorMessage}}</div>
                <input type="text" name="user" class="form-control" placeholder="Nama Pengguna atau Email" required autofocus [(ngModel)]="loginUsername">
                <br />
                <input type="password" name="password" class="form-control" placeholder="Password" required [(ngModel)]="loginPassword">
                <br />
                <br />
                <button class="btn btn-lg btn-primary btn-block" type="submit">Log Masuk</button>
                <br />
                <a (click)="registerDesa()" href="#">Daftar desa baru</a>
                <br />
                <a class="js-external-link" href="http://sideka.id/wp-login.php?action=lostpassword">Kehilangan password Anda?</a>
            </form>
        </div>
    </div>

    <div class="content" style="flex: 1; display: flex; flex-direction: column; padding: 0;">
        <div style="flex: 0 0 34px;">
        </div>
        <div style="flex: 1; overflow-y: scroll" [hidden]="contents.feed">
            <div class="panel-container"> 
                <div class="panel panel-default" *ngFor="let item of feed">
                    <div class="panel-body">
                        <a class="js-external-link" href="{{item.link}}">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="entry-image" [style.background-image]="item.image" >
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <h4>{{item.title}}</h4>
                                        <p [innerHTML]="item.description" style="overflow-x: hidden;"></p>
                                        <span class="feed-date">{{getDate(item)}}</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="desa-name">{{getDesa(item)}}</div>
                </div>
            </div>
        </div>
        <div [hidden]="contents.rpjmList" style="flex: 1; overflow-y: scroll;">
            <div style="padding-top: 20px;margin: 20px">
                <h2 [style.display]="!siskeudesPath ? 'block': 'none'" align="center">Harap Pilih Database SISKEUDES Pada Menu Konfigurasi</h2>
                <div class="panel-container"> 
                    <div *ngFor = "let visi of visiRPJM">
                        <a [routerLink]="['/perencanaan']" [queryParams]="{id_visi:visi.ID_Visi, first_year:visi.TahunA, last_year:visi.TahunN,kd_desa:visi.Kd_Desa}">
                            <div class="panel panel-primary">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="panel-heading col-md-4" style="text-align: center">
                                            <p>RPJM Desa</p>
                                            <h2>{{visi.TahunA}} - {{visi.TahunN}}</h2>                        
                                        </div>
                                        <div class="panel-body col-md-8">
                                            {{visi.Uraian_Visi}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>               
                </div>
            </div>
        </div>
        <div [hidden]="contents.rabList" style="flex: 1; overflow-y: scroll;">
            <div style="padding-top: 20px;margin: 20px">
                <h2 [style.display]="!siskeudesPath ? 'block': 'none'" align="center">Harap Pilih Database SISKEUDES Pada Menu Konfigurasi</h2>
                <div class="panel-container"> 
                    <div *ngFor = "let rab of sumAnggaranRAB">
                        <a [routerLink]="['/rab']" [queryParams]="{year:rab.year,kd_desa:rab.kd_desa}">
                            <div class="panel panel-primary">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="panel-heading col-md-4" style="text-align: center">
                                            <p>RAB Desa</p>
                                            <h2>{{rab.year}}</h2>                         
                                        </div>
                                        <div class="panel-body col-md-8">
                                            <p *ngFor = "let content of rab.data"> {{content.Nama_Akun}}: <b>{{content.Anggaran | currency:'IDR':'false':'2.2-2'}}</b>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>               
                </div>
            </div>
        </div>        
        <div [hidden]="contents.desaRegistration" style="flex: 1; overflow-y: scroll;">
            <div style="margin: 20px">
                <desa-registration></desa-registration>
            </div>
        </div>       
        <div [hidden]="contents.sppList" style="flex: 1; overflow-y: scroll;">
            <div style="padding-top: 20px;margin: 20px">
                <h2 [style.display]="!siskeudesPath ? 'block': 'none'" align="center">Harap Pilih Database SISKEUDES Pada Menu Konfigurasi</h2>
                <div class="panel-container"> 
                    <div *ngFor = "let content of sppData">
                        <a [routerLink]="['/spp']" [queryParams]="{no_spp:content.No_SPP, kd_desa: content.Kd_Desa, tahun: content.Tahun}">
                            <div class="panel panel-primary">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="panel-heading col-md-4" style="text-align: center">
                                            <p>SPP Desa</p> 
                                            <p>{{content.No_SPP}}</p>                        
                                        </div>
                                        <div class="panel-body col-md-8">
                                            <p>{{content.Keterangan}}</p>
                                            <p><b>{{content.Jumlah | currency:'IDR':'false':'2.2-2'}}</b></p>
                                        </div>
                                    </div>
                                </div>    
                                <div class="desa-name">{{content.Tgl_SPP | date: 'dd/MM/yyyy'}}</div>                           
                            </div>                            
                        </a>
                    </div>               
                </div>
            </div>
        </div>     
        <div [hidden]="contents.config" style="flex: 1;padding: 20px; overflow-y: scroll;">
            <ul class="nav nav-tabs" style="margin-top: 50px;">
                <li class="active">
                    <a data-toggle="tab" href="#setting">Surat Menyurat</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#siskeudes-setting">Siskeudes</a>
                </li>
                <button type="button" class="close" aria-label="Close" style="font-size: 2em" (click)="toggleContent('feed')"><span aria-hidden="true">&times;</span></button>
            </ul>
            <div class="tab-content">
                <div id="setting" class="tab-pane fade in active">
                    <form class="form-horizontal" (ngSubmit)="saveSettings()" style="margin-top: 20px;">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Jabatan Penyurat</label>
                            <div class="col-sm-10">
                            <input id="input-jabatan" name="jabatan" [(ngModel)]="jabatan" type="text" class="form-control" placeholder="Sekdes, Kades">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nama Penyurat</label>
                            <div class="col-sm-10">
                            <input id="input-sender" name="penyurat" [(ngModel)]="penyurat" type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Logo Pemdes</label>
                            <div class="col-sm-10">
                                <input type="file" (change)="fileChangeEvent($event)" />
                                <img *ngIf="logo" [src]="'data:image/jpeg;base64,' + logo" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Data Per Halaman</label>
                            <div class="col-sm-10">
                            <input id="input-paging" type="text" class="form-control" name="maxPaging" [(ngModel)]="maxPaging" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Kode Registrasi Prodeskel</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" name="prodeskelRegCode" [(ngModel)]="prodeskelRegCode" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Password Prodeskel</label>
                            <div class="col-sm-10">
                            <input type="password" class="form-control" name="prodeskelPassword" [(ngModel)]="prodeskelPassword" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Simpan</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="siskeudes-setting" class="tab-pane fade">
                    <form class="form-horizontal" (ngSubmit)="saveSettings()" style="margin-top: 20px;">                    
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Database Siskeudes</label>
                            <div class="col-sm-9">
                                <input type="file" accept=".mde,.mdb" (change)="fileChangeEvent($event)" />
                                <p>{{siskeudesPath}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-10">
                                <button type="submit" class="btn btn-default">Simpan</button>
                                <button class="btn btn-danger" *ngIf="siskeudesPath && fixMultipleMisi!=1" (click)="applyFixMultipleMisi()">Terapkan Multiple Misi</button>
                            </div>
                        </div>
                    </form>                
                </div>
            </div>
        </div>
    </div>
</div>
