<div id="flex-container" [style.background-color]="initialData ? '#f1f1f1' : '#3097d1'">
    <nav class="navbar navbar-default" [hidden]="!initialData">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="app.html" (click)="closeTarget = 'home'">
                    <online-status></online-status>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-nav form-inline">
                    <button type="button" (click)="openSaveDiffDialog()" [disabled]="savingMessage"
                        class="btn btn-default"><i class="fa fa-save"></i> Simpan
                    </button>
                    <button type="button" (click)="exportExcel()" class="btn btn-default"><i class="fa fa-file-excel-o"></i> Ekspor</button>
                    <button type="button" (click)="printKK()" class="btn btn-default">
                        <i class="fa fa-print"></i> Kartu Keluarga
                    </button>
                    
                    <undo-redo [hot]="hot"></undo-redo>
                </form>
                
                <div class="navbar-nav" style="margin-top: 16px; color: #fff;">
                    <span id="span-selected"></span>
                </div>

                <form (submit)="tableSearcher.search()" class="navbar-form navbar-right">
                    <div class="inner-addon left-addon">
                        <i class="fa fa-search"></i>
                        <input id="input-search" type="text" class="form-control" placeholder="Cari No KK, Nama, dsb. (Ctrl+F)" (focus)="tableSearcher.setIsSearching(true)" (blur)="tableSearcher.setIsSearching(false)">
                    </div>
                </form>
                
                <div class="navbar-nav navbar-right" title="Jumlah Keluarga" style="margin-top: 16px; color: #fff;">
                    <span id="span-count">-</span> <i class="fa fa-users"></i>
                </div>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="alert" role="alert" [hidden]="!initialData">
        <div [hidden]="savingMessage || tableSearcher.isSearching">
            <span style="display: inline-block; width: 75px; padding-left: 20px;">
                <i class="fa fa-columns"></i>
            </span>
            <span (click)="filterContent()">
                <label class="radio-inline"><input type="radio" value="0" name="btn-filter" checked>Semua</label>
                <label class="radio-inline"><input type="radio" value="1" name="btn-filter">Alamat</label>
                <label class="radio-inline"><input type="radio" value="2" name="btn-filter">Sosial</label>
            </span>
         </div>
         <div [hidden]="savingMessage || !tableSearcher.isSearching">
            <span style="display: inline-block; width: 75px; padding-left: 20px;">
                <i class="fa fa-search"></i>
            </span>
            <span>
                <span [hidden]="!tableSearcher.lastQuery || tableSearcher.lastQuery == ''">
                    Hasil {{tableSearcher.currentResult + 1}} dari {{tableSearcher.queryResult?.length}}.
                </span>
                Tekan [Enter] untuk hasil selanjutnya, dan [Esc] untuk berhenti mencari.
            </span>
         </div>
         <div [hidden]="!savingMessage">
            <span style="display: inline-block; width: 75px; padding-left: 20px;">
                <i class="fa fa-save"></i>
            </span>
            <span>
                {{savingMessage}}
            </span>
        </div>
    </div>
    
    <div id="loader" class="loader" style="font-size: 1.5em;">
        <img src="sideka.png" class="brand" style="margin: 0px auto 0 auto;" />
        <p id="quote" style="color: #fff; padding: 70px 70px; font-size: 18px;">Memuat Data...</p>
    </div>
    
    <div id="sheet" style="width: 100%;" class="hidden">
    </div>
    
    <div id="modal-save-diff" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <form (submit)="saveContent()" class="form-horizontal" *ngIf="diff">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{afterSaveAction ? 'Ada yang Belum Tersimpan' : 'Konfirmasi Penyimpanan'}}</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            Apakah Anda ingin menyimpan perubahan berikut: 
                        </p>
                        <table class="table table-bordered" *ngIf="diff.total < 15">
                            <tr class="active" *ngIf="diff.added.length > 0">
                                <td colspan="2"> {{diff.added.length}} Penambahan</td>
                            </tr>
                            <tr *ngFor="let item of diff.added">
                                <td>{{item[0]}}</td>
                                <td>{{item[1]}}</td>
                            </tr>
                            <tr class="active" *ngIf="diff.deleted.length > 0">
                                <td colspan="2"> {{diff.deleted.length}} Penghapusan</td>
                            </tr>
                            <tr *ngFor="let item of diff.deleted">
                                <td>{{item[0]}}</td>
                                <td>{{item[1]}}</td>
                            </tr>
                            <tr class="active" *ngIf="diff.modified.length > 0">
                                <td colspan="2"> {{diff.modified.length}} Perubahan</td>
                            </tr>
                            <tr *ngFor="let item of diff.modified">
                                <td>{{item[0]}}</td>
                                <td>{{item[1]}}</td>
                            </tr>
                        </table>
                        <table class="table table-bordered" *ngIf="diff.total >= 15">
                            <tr class="active">
                                <td colspan="2"> {{diff.added.length}} Penambahan</td>
                            </tr>
                            <tr class="active">
                                <td colspan="2"> {{diff.deleted.length}} Penghapusan</td>
                            </tr>
                            <tr class="active">
                                <td colspan="2"> {{diff.modified.length}} Perubahan</td>
                            </tr>
                        </table>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Batal Keluar</button>
                        <button type="button" class="btn btn-default" *ngIf="afterSaveAction" (click)="forceQuit()">Keluar Tanpa Menyimpan</button>
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                </div><!-- /.modal-content -->
            </form>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
