<!DOCTYPE html>
<html>
    <head>
        <style>
            .print-preview {
                border: 1px solid black !important;
                background-color: white !important;
                width: 800px;
                height: 500px;
                flex: 1;
            }

            .print-legend {
                flex: 1;
                border: 1px solid black !important;
                margin-left: 20px;
            }
        </style>
    </head>
    <body>
        <div style="display: inline-flex">
            <div class="print-preview">
                {{=it.svg}}
            </div>
            <div class="print-legend">
                <h3 style="text-align: center;">
                    PETA WILAYAH KECAMATAN DESA CONTOH
                </h3> 
            </div>
        </div>
    </body>
</html>
