<div id="flex-container" style="height: 100%;">
     <nav class="navbar navbar-default" style="height: 73px; min-height: 73px; -webkit-user-select: none;" [hidden]="isFileMenuShown">
         <div class="container-fluid" style="padding-top: 32px; height: 41px; min-height: 41px;">
             <form class="navbar-form navbar-nav navbar-nav-buttonbar form-inline" style="padding-left: 0px;">
                <button title="File" class="btn btn-default" (click)="showFileMenu(true)"> 
                    File
                </button>
             </form>
         </div>
     </nav>
     <div style="width: 100%; height: 100%; display: flex;" [hidden]="isFileMenuShown">
        <div style="-webkit-flex: 3.5; flex: 3.5">
            <map style="flex: 1; overflow: hidden;" [indicator]="indicator" [village]="village" (onLayerSelected)="onLayerSelected($event)"></map>
        </div>
        <div style="-webkit-flex: 1; flex: 1">
            <div style="padding-left: 20px;">
                <h4 style="text-decoration: underline;">Properties</h4>
                <form *ngIf="selectedLayer">
                    <div class="form-group" *ngIf="indicator.id === 'landuse'">
                        <label class="col-sm-3 control-label">Jenis</label>
                        <select class="form-control" name="type" [(ngModel)]="selectedLayer.feature.properties.type" (change)="onTypeChange()">
                            <option value="residential">Perumahan</option>
                            <option value="farmland">Sawah</option>
                            <option value="orchard">Kebun</option>
                            <option value="forest">Hutan</option>
                            <option value="landfill">Tempat Sampah</option>
                            <option value="harbor">Area Pelabuhan</option>
                            <option value="river">Sungai</option>
                            <option value="spring">Mata Air</option>
                        </select>
                    </div>
                    <div class="form-group" *ngIf="indicator.id === 'boundary'">
                        <label class="col-sm-3 control-label">Batas</label>
                        <select class="form-control" name="type" [(ngModel)]="selectedLayer.feature.properties.type" (change)="onTypeChange()">
                            <option value="7">Batas Desa</option>
                            <option value="8">Batas Dusun</option>
                            <option value="9">Batas RW</option>
                            <option value="10">Batas RT</option>
                        </select>
                    </div>
                    <div class="form-group"  *ngIf="indicator.id === 'building'">
                        <label class="col-sm-3 control-label">Jenis</label>
                        <select class="form-control" name="type" [(ngModel)]="selectedLayer.feature.properties.type" (change)="onTypeChange()">
                            <option value="school">Sekolah</option>
                            <option value="house">Rumah</option>
                            <option value="place_of_worship">Tempat Ibadah</option>
                            <option value="waterwell">Sumur</option>
                            <option value="drain">Saluran Imigrasi</option>
                            <option value="toilets">MCK Umum</option>
                            <option value="pitch">Lapangan Olahraga</option>
                            <option value="marketplace">Pasar</option>
                            <option value="port">Pelabuhan</option>
                        </select>
                    </div>
                    <div *ngFor="let subIndicator of subIndicators; let i = index" class="form-group">
                        <label class="col-sm-3 control-label">{{subIndicator.name}}</label>
                        <input type="text" name="{{subIndicator.name}}" [(ngModel)]="selectedLayer.feature.properties[subIndicator.id]" class="form-control" />
                    </div>
                    <button class="btn btn-primary"><i class="fa fa-save"></i> Simpan</button>
                </form>
            </div>
        </div>
     </div>
   
    <ul class="nav nav-tabs bottom-tabs">
        <li *ngFor="let ind of indicators; let i = index" [ngClass]="{'active': indicator.id == ind.id }">
            <a class="btn" (click)="onIndicatorChange(ind)">{{ind.name}}</a>
        </li>
    </ul>

    <div id="page-menu" [style.display]="!isFileMenuShown ? 'none' : 'flex'">
        <div class="page-menu-side">
            <button class="btn btn-default btn-close" (click)="showFileMenu(false)">
                <img src="images/arrow-left.png" />
            </button>
            <ul class="list-group">
                <a class="list-group-item" href="app.html" (click)="closeTarget='home'">
                    Tutup
                </a>       
            </ul>
        </div>

        <div class="page-menu-content">
           
        </div>
    </div>
</div>
