<div id="flex-container" style="overflow-x: scroll;">
     <nav class="navbar navbar-default" style="height: 73px; min-height: 73px; -webkit-user-select: none;">
         <div class="container-fluid" style="padding-top: 32px; height: 41px; min-height: 41px;">
             <form class="navbar-form navbar-nav navbar-nav-buttonbar form-inline" style="padding-left: 0px;">
                <button title="File" class="btn btn-default" (click)="showFileMenu(true)"> 
                    File
                </button>
             </form>
         </div>
     </nav>
     <map style="overflow-x: scroll;"></map>
</div>
