<div id="flex-container">
    <nav class="navbar navbar-default" style="height: 73px; min-height: 73px; -webkit-user-select: none; user-select: none;">
        <div class="container-fluid" style="-webkit-app-region: no-drag; position: fixed; top: 0; left: 0px; z-index: 506;" [hidden]="isSuratShown">
            <form class="navbar-form navbar-nav navbar-nav-buttonbar form-inline" style="padding-left: 0px;" [hidden]="activeSheet != 'penduduk'">
                <button type="button" title="Simpan (Ctrl+S)" [disabled]="savingMessage"
                    (click)="openSaveDialog()" class="btn btn-default"><i class="fa fa-save"></i>
                </button>   
                <undo-redo [hot]="hots['penduduk']"></undo-redo>
                <copy-paste [hot]="hots['penduduk']"></copy-paste>
            </form>
        </div>
        
        <div class="container-fluid" style="padding-top: 32px; height: 41px; min-height: 41px;">
             <form class="navbar-form navbar-nav navbar-nav-buttonbar form-inline" style="padding-left: 0px;">
                <button title="File" class="btn btn-default" href="app.html" (click)="redirectMain()"> 
                    <i class="fa fa-home"></i> &nbsp; Beranda
                </button>
                <button *ngIf="activeSheet == 'penduduk'" title="Tambah" class="btn btn-default" (click)="insertRow()"> 
                    <i class="fa fa-plus"></i> &nbsp; Tambah
                </button>
                <button *ngIf="activeSheet == 'penduduk'" title="Mutasi" class="btn btn-default" (click)="openMutasiDialog()"> 
                    <i class="fa fa-exchange"></i> &nbsp; Mutasi
                </button>
                <button *ngIf="activeSheet == 'penduduk'" title="Surat" class="btn btn-default" (click)="showSurat(true)"> 
                    <i class="fa fa-file"></i> &nbsp; Surat
                </button>
                <button *ngIf="activeSheet == 'penduduk'" title="Impor" class="btn btn-default" (click)="importExcel()"> 
                    <i class="fa fa-download"></i> &nbsp; Impor
                </button>
                <button *ngIf="activeSheet == 'penduduk'" title="Ekspor" class="btn btn-default" (click)="exportExcel()"> 
                    <i class="fa fa-upload"></i> &nbsp; Ekspor
                </button>
                <button *ngIf="activeSheet == 'penduduk'" title="Detil" class="btn btn-default" (click)="addDetail()"> 
                    <i class="fa fa-id-card-o"></i> &nbsp; Detil
                </button>
                <button *ngIf="activeSheet == 'penduduk'" title="Keluarga" class="btn btn-default" (click)="addKeluarga()"> 
                    <i class="fa fa-users"></i> &nbsp; Keluarga
                </button>
                <button *ngIf="activeSheet == 'penduduk'" title="Prodeskel" class="btn btn-default" (click)="openProdeskel()"> 
                    <i class="fa fa-globe"></i> &nbsp; Prodeskel
                </button>
             </form>
            <div class="navbar-nav" [hidden]="activeSheet != 'penduduk'" style="margin-top: 7px; color: #fff;">
                <span id="span-selected"></span>
            </div>
            <form [hidden]="activeSheet != 'penduduk'" (submit)="tableSearcher.search()" class="dynamic-search navbar-form navbar-right" style="margin-right: 0px;">
                <div class="inner-addon left-addon">
                    <i class="fa fa-search"></i>
                    <input id="input-search" type="text" class="form-control" placeholder="Cari NIK, Nama, dsb. (Ctrl+F)" (focus)="tableSearcher.setIsSearching(true)" (blur)="tableSearcher.setIsSearching(false)" style="border-radius: 0;">
                </div>
            </form>
            <div class="navbar-nav navbar-right" title="Jumlah Penduduk" style="margin-top: 7px; color: #fff;" [hidden]="activeSheet != 'penduduk'">
                <span id="span-count">-</span> <i class="fa fa-user"></i>
            </div>
        </div>
    </nav>
    <div class="alert" role="alert" [hidden]="activeSheet != 'penduduk' || isPendudukEmpty">
          <div [hidden]="savingMessage || tableSearcher.isSearching">
            <span (click)="filterContent()">
                <label class="radio-inline"><input type="radio" value="0" name="btn-filter" checked>Semua</label>
                <label class="radio-inline"><input type="radio" value="1" name="btn-filter" >KTP</label>
                <label class="radio-inline"><input type="radio" value="2" name="btn-filter" >Kontak</label>
                <label class="radio-inline"><input type="radio" value="3" name="btn-filter" >Keluarga</label> 
            </span>
            <pagination [hidden]="!paginationComponent.itemPerPage" style="float: right;" 
                        (next)="next()" 
                        (prev)="prev()" 
                        (onPage)="onPage($event)" 
                        (first)="first()" 
                        (last)="last()">
            </pagination>
          </div>
          <div [hidden]="!tableSearcher.isSearching">
            <span style="display: inline-block; width: 45px; padding-left: 15px;">
                <i class="fa fa-search"></i>
            </span>
            <span>
                <span [hidden]="!tableSearcher.lastQuery || tableSearcher.lastQuery == ''">
                    Hasil {{tableSearcher.currentResult + 1}} dari {{tableSearcher.queryResult?.length}}.
                </span>
                Tekan [Enter] untuk hasil selanjutnya, dan [Esc] untuk berhenti mencari.
            </span>
         </div>
    </div>
    <div id="sheet" class="penduduk-sheet" [hidden]="activeSheet != 'penduduk' || isPendudukEmpty"></div>
    
    <div id="empty" [hidden]="!isPendudukEmpty">
        <p>Data penduduk masih kosong!</p>
        <button type="button" (click)="importExcel()" class="btn btn-default btn-lg"><i class="fa fa-folder-open-o"></i> Isi dengan mengimpor berkas Excel</button>
        <button type="button" (click)="insertRow()" class="btn btn-default btn-lg"><i class="fa fa-plus"></i> Atau mulai isi secara langsung</button>
    </div>

    <div id="sheet" class="mutasi-sheet" [hidden]="activeSheet != 'mutasi'"></div>
    <div id="sheet" class="logSurat-sheet" [hidden]="activeSheet != 'logSurat'"></div>
    <div id="sheet" class="keluarga-sheet" [hidden]="!selectedKeluarga"></div>
    
  
    <penduduk-statistic id="sheet" 
                        style="background-color: #fafafa; overflow-y: scroll;" 
                        [hot]="hots['penduduk']" 
                        *ngIf="isStatisticShown">
    </penduduk-statistic>

    <pendudukDetail id="sheet" 
                    style="padding: 5px 0px 0px 50px; background-color: #fafafa; overflow-y: scroll;" 
                    [detail]="selectedDetail"
                    *ngIf="selectedDetail"> 
    </pendudukDetail>

    <ul class="nav nav-tabs bottom-tabs">
        <li [ngClass]="{'active': activeSheet == 'penduduk' && !isStatisticShown}">
            <a href="#" (click)="setActiveSheet('penduduk')">Penduduk</a>       
        </li>
        <li [ngClass]="{'active': activeSheet == 'mutasi' && !isStatisticShown}">
            <a href="#" (click)="setActiveSheet('mutasi')">Mutasi</a>       
        </li>
        <li [ngClass]="{'active': activeSheet == 'logSurat' && !isStatisticShown}">
            <a href="#" (click)="setActiveSheet('logSurat')">Log Surat</a>       
        </li>
        <li [ngClass]="{'active': isStatisticShown}">
            <a href="#" (click)="showStatistics()">Statistik</a>       
        </li>
        <li *ngFor="let detail of details; let i = index" [ngClass]="{'active': selectedDetail && selectedDetail.data.id == detail.data.id}" style="display: inline-flex">
            <a href="#" (click)="setDetail(detail)">{{detail.data.nik}} - {{detail.data.nama_penduduk}} <i (click)="removeDetail(detail)" class="fa fa-remove" style="color: red"></i></a>       
        </li>
        <li *ngFor="let keluarga of keluargaCollection; let i = index" [ngClass]="{'active': selectedKeluarga && selectedKeluarga.kk == keluarga.kk}" style="display: inline-flex">
            <a href="#" (click)="setKeluarga(keluarga.kk)">{{keluarga.kk}}<i (click)="removeKeluarga(keluarga)" class="fa fa-remove" style="color: red"></i></a>       
        </li>
    </ul>

    <div id="page-menu" [style.display]="!isSuratShown ? 'none' : 'flex'">
        <div class="page-menu-side">
            <button class="btn btn-default btn-close" (click)="showSurat(false)">
                <img src="images/arrow-left.png" />
            </button>
        </div>
        <div class="page-menu-content">
            <div *ngIf="isSuratShown">
                <surat [hot]="hots['penduduk']" [selectedPenduduk]="selectedPenduduk" [bundleData]="bundleData" [bundleSchemas]="bundleSchemas"></surat>
            </div>
        </div>
   </div>

   <div id="modal-save-diff" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <form (submit)="saveContent(activeSheet)" class="form-horizontal" *ngIf="currentDiff">
                 <div class="modal-content" style="border-radius: 0">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{afterSaveAction ? 'Ada yang Belum Tersimpan' : 'Konfirmasi Penyimpanan'}}</h4>
                    </div>
                      <div class="modal-body">
                        <p>
                            Apakah Anda ingin menyimpan perubahan berikut: 
                        </p>
                        <table class="table table-bordered" *ngIf="currentDiff.total < 15">
                            <tr class="active" *ngIf="currentDiff.added.length > 0">
                                <td colspan="2"> {{currentDiff.added.length}} Penambahan</td>
                            </tr>
                            <tr *ngFor="let item of currentDiff.added">
                                <td>{{item[1]}}</td>
                                <td>{{item[2]}}</td>
                            </tr>
                            <tr class="active" *ngIf="currentDiff.deleted.length > 0">
                                <td colspan="2"> {{currentDiff.deleted.length}} Penghapusan</td>
                            </tr>
                            <tr *ngFor="let item of currentDiff.deleted">
                                <td>{{item[1]}}</td>
                                <td>{{item[2]}}</td>
                            </tr>
                            <tr class="active" *ngIf="currentDiff.modified.length > 0">
                                <td colspan="2"> {{currentDiff.modified.length}} Perubahan</td>
                            </tr>
                            <tr *ngFor="let item of currentDiff.modified">
                                <td>{{item[1]}}</td>
                                <td>{{item[2]}}</td>
                            </tr>
                        </table>
                        <table class="table table-bordered" *ngIf="currentDiff.total >= 15">
                            <tr class="active">
                                <td colspan="2"> {{currentDiff.added.length}} Penambahan</td>
                            </tr>
                            <tr class="active">
                                <td colspan="2"> {{currentDiff.deleted.length}} Penghapusan</td>
                            </tr>
                            <tr class="active">
                                <td colspan="2"> {{currentDiff.modified.length}} Perubahan</td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-remove"></i> Batal Keluar</button>
                        <button type="button" class="btn btn-danger" [hidden]="!afterSaveAction" (click)="forceQuit()"><i class="fa fa-sign-out"></i> Keluar Tanpa Menyimpan</button>
                        <button type="submit" class="btn btn-success" data-backdrop="false"><i class="fa fa-save"></i> Simpan</button>
                    </div>
                 </div>
            </form>
        </div>
   </div>

   <div id="mutasi-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
             <form class="form-horizontal">
                 <div class="modal-content" style="border-radius: 0">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title"><strong><i class="fa fa-exchange"></i> Mutasi</strong></h4>
                    </div>
                    <div class="modal-body">
                        <span>
                            <label class="radio-inline" *ngIf="hots['penduduk'].getSelected()" [hidden]="selectedPenduduk == null"><input type="radio" [(ngModel)]="selectedMutasi" (click)="changeMutasi(1)" [value]="1" name="btn-filter">Pindah Pergi</label>   
                            <label class="radio-inline" [hidden]="selectedPenduduk != null"><input type="radio" [(ngModel)]="selectedMutasi" (click)="changeMutasi(2)" [value]="2" name="btn-filter">Pindah Datang</label>
                            <label class="radio-inline" [hidden]="selectedPenduduk == null"><input type="radio" [(ngModel)]="selectedMutasi" (click)="changeMutasi(3)" [value]="3" name="btn-filter">Kelahiran</label>
                            <label class="radio-inline" *ngIf="hots['penduduk'].getSelected()" [hidden]="selectedPenduduk != null"><input type="radio" [(ngModel)]="selectedMutasi" (click)="changeMutasi(4)" [value]="4" name="btn-filter">Kematian</label>
                        </span>
                        <div style="margin-top: 5px;">
                            <input type="text" class="form-control" *ngIf="selectedMutasi != 3" [(ngModel)]="selectedPenduduk.nik" name="nik" placeholder="NIK" />
                            <br />
                            <input type="text" class="form-control" [(ngModel)]="selectedPenduduk.nama_penduduk" name="name" placeholder="Nama"/>
                            <br />
                            <input type="text" class="form-control" *ngIf="selectedMutasi == 2 || selectedMutasi == 1" [(ngModel)]="selectedPenduduk.desa" name="desa" placeholder="{{selectedMutasi == 1 ? 'Ke Desa' : selectedMutasi == 2 ? 'Dari Desa' : ''}}"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" (click)="mutasi(false)" class="btn btn-success" data-backdrop="false"><i class="fa fa-save"></i> Mutasi</button>
                        <button type="button" (click)="mutasi(true)" *ngIf="selectedMutasi == 2 || selectedMutasi == 4" class="btn btn-success" data-backdrop="false"><i class="fa fa-repeat"></i>&nbsp;<i class="fa fa-save"></i> Mutasi Lagi</button>
                    </div>
                 </div>
             </form>
        </div>
   </div>
</div>
