 <div class="row">
    <div class="col-lg-2">
        NIK
    </div>
    <div class="col-lg-10">
        {{detail[1] ? detail[1] : '-'}}
    </div>
    <div class="col-lg-2">
        Nama
    </div>
    <div class="col-lg-10">
        {{detail[2] ? detail[2] : '-'}}
    </div>
    <div class="col-lg-2">
        Tempat Lahir
    </div>
    <div class="col-lg-10">
        {{detail[3] ? detail[3] : '-'}}
    </div>
    <div class="col-lg-2">
        Tanggal Lahir
    </div>
    <div class="col-lg-10">
        {{detail[4] ? detail[4] : '-'}}
    </div>
    <div class="col-lg-2">
        Jenis Kelamin
    </div>
    <div class="col-lg-10">
        {{detail[5] ? detail[5] : '-'}}
    </div>
    <div class="col-lg-2">
        Pendidikan
    </div>
    <div class="col-lg-10">
        {{detail[6] ? detail[6] : '-'}}
    </div>
    <div class="col-lg-2">
        Agama
    </div>
    <div class="col-lg-10">
        {{detail[7] ? detail[7] : '-'}}
    </div>
    <div class="col-lg-2">
        Status Kawin
    </div>
    <div class="col-lg-10">
        {{detail[8] ? detail[8] : '-'}}
    </div>
    <div class="col-lg-2">
        Pekerjaan
    </div>
    <div class="col-lg-10">
        {{detail[9] ? detail[9] : '-'}}
    </div>
    <div class="col-lg-2">
        Pekerjaan PED
    </div>
    <div class="col-lg-10">
        {{detail[10] ? detail[10] : '-'}}
    </div>
    <div class="col-lg-2">
        WN
    </div>
    <div class="col-lg-10">
        {{detail[11] ? detail[11] : '-'}}
    </div>
    <div class="col-lg-2">
        Kompetensi
    </div>
    <div class="col-lg-10">
        {{detail[12] ? detail[12] : '-'}}
    </div>
    <div class="col-lg-2">
        No Telepon
    </div>
    <div class="col-lg-10">
        {{detail[13] ? detail[13] : '-'}}
    </div>
    <div class="col-lg-2">
        Email
    </div>
    <div class="col-lg-10">
        {{detail[14] ? detail[14] : '-'}}
    </div>
    <div class="col-lg-2">
        No Kitas
    </div>
    <div class="col-lg-10">
        {{detail[15] ? detail[15] : '-'}}
    </div>
    <div class="col-lg-2">
        No Paspor
    </div>
    <div class="col-lg-10">
        {{detail[16] ? detail[16] : '-'}}
    </div>
    <div class="col-lg-2">
        Golongan Darah
    </div>
    <div class="col-lg-10">
        {{detail[17] ? detail[17] : '-'}}
    </div>
    <div class="col-lg-2">
        Status Penduduk
    </div>
    <div class="col-lg-10">
        {{detail[18] ? detail[18] : '-'}}
    </div>
    <div class="col-lg-2">
        Status Tinggal
    </div>
    <div class="col-lg-10">
        {{detail[19] ? detail[19] : '-'}}
    </div>
    <div class="col-lg-2">
        Kontrasepsi
    </div>
    <div class="col-lg-10">
        {{detail[20] ? detail[20] : '-'}}
    </div>
    <div class="col-lg-2">
        Difabilitas
    </div>
    <div class="col-lg-10">
        {{detail[21] ? detail[21] : '-'}}
    </div>
    <div class="col-lg-2">
        No KK
    </div>
    <div class="col-lg-10">
        {{detail[22] ? detail[22] : '-'}}
    </div>
    <div class="col-lg-2">
        Nama Ayah
    </div>
    <div class="col-lg-10">
        {{detail[23] ? detail[23] : '-'}}
    </div>
    <div class="col-lg-2">
        Nama Ibu
    </div>
    <div class="col-lg-10">
        {{detail[24] ? detail[24] : '-'}}
    </div>
    <div class="col-lg-2">
        Hubungan Keluarga
    </div>
    <div class="col-lg-10">
        {{detail[25] ? detail[25] : '-'}}
    </div>
    <div class="col-lg-2">
        Nama Dusun
    </div>
    <div class="col-lg-10">
        {{detail[26] ? detail[26] : '-'}}
    </div>
    <div class="col-lg-2">
        RW
    </div>
    <div class="col-lg-10">
        {{detail[27] ? detail[27] : '-'}}
    </div>
    <div class="col-lg-2">
        RT
    </div>
    <div class="col-lg-10">
        {{detail[28] ? detail[28] : '-'}}
    </div>
    <div class="col-lg-2">
        Alamat Jalan
    </div>
    <div class="col-lg-10">
        {{detail[29] ? detail[29] : '-'}}
    </div>
</div>    

