<div id="flex-container" [style.background-color]="initialData ? '#f1f1f1' : '#3097d1'">
    <nav class="navbar navbar-default" [hidden]="!initialData || printSurat" style="padding-top: 34px; height: 76px;">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" [hidden]="printSurat" style="padding-left: 0px;" >
                <form class="navbar-form navbar-nav navbar-nav-buttonbar form-inline" style="padding-left: 0px;">
                    <a title="File" class="btn btn-default" href="app.html" (click)="closeTarget = 'home'">
                        <i style="font-style: normal;">File</i>
                    </a>

                    <button type="button" title="Tambah" (click)="insertRow()" class="btn btn-success" style="background-color: #FF7E6B; color: #fff;">
                        <i class="fa fa-plus"></i><span> Tambah</span>
                    </button>

                    <button type="button" title="Simpan (Ctrl+S)" [disabled]="savingMessage"
                        (click)="saveContent()" class="btn btn-default"><i class="fa fa-save"></i><span> Simpan</span>
                    </button>

                    <button type="button" title="Cetak Surat (Ctrl+P)" (click)="printSurat = true" class="btn btn-default">
                        <i class="fa fa-print"></i><span> Surat</span>
                    </button>
                    
                    <undo-redo [hot]="hot"></undo-redo>
                    <copy-paste [hot]="hot"></copy-paste>

                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" title="Impor" (click)="importExcel()" class="btn btn-default"><i class="fa fa-folder-open-o"></i></button>
                        <button type="button" title="Ekspor" (click)="exportExcel()" class="btn btn-default"><i class="fa fa-file-excel-o"></i></button>
                    </div>
                </form>

                <div class="navbar-nav" style="margin-top: 7px; color: #fff;">
                    <span id="span-selected"></span>
                </div>

                <form (submit)="tableSearcher.search()" class="navbar-form navbar-right">
                    <div class="inner-addon left-addon">
                        <i class="fa fa-search"></i>
                        <input id="input-search" type="text" class="form-control" placeholder="Cari NIK, Nama, dsb. (Ctrl+F)" (focus)="tableSearcher.setIsSearching(true)" (blur)="tableSearcher.setIsSearching(false)">
                    </div>
                </form>
                <div class="navbar-nav navbar-right" title="Jumlah Penduduk" style="margin-top: 7px; color: #fff;">
                    <span id="span-count">-</span> <i class="fa fa-user"></i>
                </div>
            </div>
        </div>
    </nav>

     <nav class="navbar navbar-default" [hidden]="!printSurat">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="app.html" (click)="closeTarget = 'home'">
                    <online-status></online-status>
                </a>
            </div>
             <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" [hidden]="printSurat">
                <form class="navbar-form navbar-nav navbar-nav-buttonbar form-inline">
                    <button type="button" title="Kembali" (click)="printSurat = !printSurat" class="btn btn-primary" style="background-color: #fff;">
                        <i class="fa fa-arrow-left"></i> Kembali
                    </button>
                </form>
            </div>
        </div>
    </nav>

    <div class="alert" role="alert" [hidden]="!initialData || printSurat">
        <div [hidden]="savingMessage || tableSearcher.isSearching">
            <span style="display: inline-block; width: 75px; padding-left: 20px;">
                <i class="fa fa-columns"></i>
            </span>
            <span (click)="filterContent()">
                <label class="radio-inline"><input type="radio" value="0" name="btn-filter" checked>Semua</label>
                <label class="radio-inline"><input type="radio" value="1" name="btn-filter" >KTP</label>
                <label class="radio-inline"><input type="radio" value="2" name="btn-filter" >Kontak</label>
                <label class="radio-inline"><input type="radio" value="3" name="btn-filter" >Keluarga</label> 
                <label class="radio-inline"><input type="radio" value="4" name="btn-filter" >Kompetensi</label> 
            </span>
         </div>
         <div [hidden]="savingMessage || !tableSearcher.isSearching">
            <span style="display: inline-block; width: 75px; padding-left: 20px;">
                <i class="fa fa-search"></i>
            </span>
            <span>
                <span [hidden]="!tableSearcher.lastQuery || tableSearcher.lastQuery == ''">
                    Hasil {{tableSearcher.currentResult + 1}} dari {{tableSearcher.queryResult?.length}}.
                </span>
                Tekan [Enter] untuk hasil selanjutnya, dan [Esc] untuk berhenti mencari.
            </span>
         </div>
         <div [hidden]="!savingMessage">
            <span style="display: inline-block; width: 75px; padding-left: 20px;">
                <i class="fa fa-save"></i>
            </span>
            <span>
                {{savingMessage}}
            </span>
        </div>
    </div>
    
    <div id="loader" class="loader" style="font-size: 1.5em;">
        <img src="sideka.png" class="brand" style="margin: 0px auto 0 auto;" />
        <p id="quote" style="color: #fff; padding: 70px 70px; font-size: 18px;">Memuat Data...</p>
    </div>
    
    <div id="sheet" class="hidden" [hidden]="printSurat"></div>

    <surat [hot]="hot" [hidden]="!printSurat"></surat>

    <div id="empty" class="hidden">
        <p>Data penduduk masih kosong!</p>
        <button type="button" (click)="importExcel()" class="btn btn-default btn-lg"><i class="fa fa-folder-open-o"></i> Isi dengan mengimpor berkas Excel</button>
        <button type="button" (click)="insertRow()" class="btn btn-default btn-lg"><i class="fa fa-plus"></i> Atau mulai isi secara langsung</button>
    </div>
    
    <div id="modal-save-diff" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <form (submit)="saveContent()" class="form-horizontal" *ngIf="diff">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{afterSaveAction ? 'Ada yang Belum Tersimpan' : 'Konfirmasi Penyimpanan'}}</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            Apakah Anda ingin menyimpan perubahan berikut: 
                        </p>
                        <table class="table table-bordered" *ngIf="diff.total < 15">
                            <tr class="active" *ngIf="diff.added.length > 0">
                                <td colspan="2"> {{diff.added.length}} Penambahan</td>
                            </tr>
                            <tr *ngFor="let item of diff.added">
                                <td>{{item[0]}}</td>
                                <td>{{item[1]}}</td>
                            </tr>
                            <tr class="active" *ngIf="diff.deleted.length > 0">
                                <td colspan="2"> {{diff.deleted.length}} Penghapusan</td>
                            </tr>
                            <tr *ngFor="let item of diff.deleted">
                                <td>{{item[0]}}</td>
                                <td>{{item[1]}}</td>
                            </tr>
                            <tr class="active" *ngIf="diff.modified.length > 0">
                                <td colspan="2"> {{diff.modified.length}} Perubahan</td>
                            </tr>
                            <tr *ngFor="let item of diff.modified">
                                <td>{{item[0]}}</td>
                                <td>{{item[1]}}</td>
                            </tr>
                        </table>
                        <table class="table table-bordered" *ngIf="diff.total >= 15">
                            <tr class="active">
                                <td colspan="2"> {{diff.added.length}} Penambahan</td>
                            </tr>
                            <tr class="active">
                                <td colspan="2"> {{diff.deleted.length}} Penghapusan</td>
                            </tr>
                            <tr class="active">
                                <td colspan="2"> {{diff.modified.length}} Perubahan</td>
                            </tr>
                        </table>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Batal Keluar</button>
                        <button type="button" class="btn btn-default" *ngIf="afterSaveAction" (click)="forceQuit()">Keluar Tanpa Menyimpan</button>
                        <button type="submit" class="btn btn-primary" data-backdrop="false">Simpan</button>
                    </div>
                </div><!-- /.modal-content -->
            </form>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="modal-import-columns" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog" role="document" style="margin: 2.5vh auto;">
            <form (submit)="doImport(false)" class="form-horizontal">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Pasangkan Kolom Impor</h4>
                    </div>
                    <div class="modal-body" style="max-height: 75vh; overflow-y:scroll;">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nama Sheet</label>
                            <div class="col-sm-9">
                                <select class="form-control" (change)="importer.onSheetNameChanged($event)" [(ngModel)]="importer.sheetName" [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let sheetName of importer.sheetNames" [value]="sheetName">{{sheetName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Header di Baris Ke-</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" (change)="importer.onStartRowChanged($event)" [(ngModel)]="importer.startRow" [ngModelOptions]="{standalone: true}" />
                            </div>
                        </div>
                        <table class="table table-bordered tbl-condensed">
                            <thead>
                                <tr>
                                    <th>Kolom Sideka</th>
                                    <th>Kolom Excel</th>
                                </tr>
                            </thead>
                            <tr *ngFor="let column of importer.schema">
                                <td>{{column.header}}</td>
                                <td>
                                    <select class="form-control"  [(ngModel)]="importer.maps[column.field].target" [ngModelOptions]="{standalone: true}">
                                        <option *ngFor="let target of importer.availableTargets" [value]="target">{{target}}</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                        <button type="button" class="btn btn-default" (click)="doImport(true)" data-dismiss="modal" [hidden]="!importer.rows || !importer.rows.length">Hapus Data Lama &amp; Impor</button>
                        <button type="submit" class="btn btn-primary" data-backdrop="false" [hidden]="!importer.rows || !importer.rows.length">Impor</button>
                    </div>
                </div><!-- /.modal-content -->
            </form>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
