<div class="row" style="margin-left: 10px;">
    <div class="col-lg-3">
        <h3 style="text-align: left; color: #e64946">Jumlah Keluarga: 0</h3>              
    </div>
    <div class="col-lg-3">
        <h3 style="text-align: left; color: #e64946">Penduduk Perempuan: 0</h3>               
    </div>
    <div class="col-lg-3">
        <h3 style="text-align: left; color: #e64946">Penduduk Laki-laki: 0</h3>       
    </div>
    <div class="col-lg-3">
        <h3 style="text-align: left; color: #e64946">Tidak Diketahui: 0</h3> 
    </div>
    <div class="col-lg-12">
        <h3 class="chart-title" style="text-align: left; text-decoration: underline; color: #e64946">
            Pekerjaan
        </h3>
        <div id="pekerjaan">
            <svg style="height: 250px; width: 100%;"></svg>
        </div>
    </div>
    <div class="col-lg-12">
        <h3 class="chart-title" style="text-align: left; text-decoration: underline; color: #e64946">
            Tingkat Pendidikan
        </h3>
        <div id="pendidikan">
            <svg style="height: 250px; width: 100%;"></svg>
        </div>
    </div>
    <div class="col-lg-12">
        <h3 style="text-align: left; text-decoration: underline; color: #e64946">
             Kelompok Umur
        </h3>
        <div id="ageGroup">
            <svg style="height: 250px; width: 100%;"></svg>
        </div>
    </div> 
    <div class="col-lg-12">
        <h3 style="text-align: left; text-decoration: underline; color: #e64946">
            Agama
        </h3>
        <div id="agama">
            <svg style="height: 300px; width: 100%;"></svg>
        </div>
    </div>
    <div class="col-lg-12">
        <h3 style="text-align: left; text-decoration: underline; color: #e64946">
            Status Kawin
        </h3>
        <div id="statusKawin">
            <svg style="height: 300px; width: 100%;"></svg>
        </div>
    </div>
</div>
