<div id="flex-container">
     <nav class="navbar navbar-default"  style="height: 73px; min-height: 73px; -webkit-user-select: none;">
        <div class="container-fluid" style="-webkit-app-region: no-drag; position: fixed; top: 0; left: 0px; z-index: 506;" [hidden]="isFileMenuShown">
            <form class="navbar-form navbar-nav navbar-nav-buttonbar form-inline" style="padding-left: 0px;" [hidden]="activeSheet.id != 'penduduk'">
                <button type="button" title="Simpan (Ctrl+S)" [disabled]="savingMessage"
                    (click)="openSaveDialog()" class="btn btn-default"><i class="fa fa-save"></i>
                </button>   
                <undo-redo [hot]="hots['penduduk']"></undo-redo>
                <copy-paste [hot]="hots['penduduk']"></copy-paste>
            </form>
        </div>
        <div class="container-fluid" style="padding-top: 32px; height: 41px; min-height: 41px;">
            <form class="navbar-form navbar-nav navbar-nav-buttonbar form-inline" style="padding-left: 0px;">
                <button title="File" class="btn btn-default" (click)="showFileMenu(true)"> 
                    File
                </button>
                <button type="button" *ngIf="activeSheet.id == 'penduduk'" title="Tambah" (click)="insertRow()" class="btn btn-success" style="background-color: #FF7E6B; color: #fff;">
                    Tambah
                </button>
                <button type="button" *ngIf="activeSheet.id == 'penduduk'" title="Mutasi" (click)="openMutasiDialog()" class="btn btn-success" style="background-color: lightgreen; color: #fff;">
                    Mutasi
                </button>
                <button type="button" *ngIf="activeSheet.id == 'penduduk'" title="Cetak Surat (Ctrl+P)" (click)="showSurat()" class="btn btn-default">
                    Surat
                </button>
                <div class="btn-group" role="group" aria-label="..." *ngIf="activeSheet.id == 'penduduk'">
                    <button type="button" title="Impor" (click)="importExcel()" class="btn btn-default">Impor</button>
                    <button type="button" title="Ekspor" (click)="exportExcel()" class="btn btn-default">Ekspor</button>
                </div>
                <button type="button" class="btn btn-default" (click)="addDetail()" *ngIf="activeSheet.id == 'penduduk'">
                    Detail
                </button>
                <button type="button" class="btn btn-default" (click)="addKeluarga()" *ngIf="activeSheet.id == 'penduduk'">
                    Keluarga
                </button>
                <button type="button" class="btn btn-default" (click)="initProdeskel()" *ngIf="activeSheet.id == 'penduduk'">
                    Prodeskel
                </button>
            </form>
            <div class="navbar-nav" [hidden]="activeSheet.id != 'penduduk'" style="margin-top: 7px; color: #fff;">
                <span id="span-selected"></span>
            </div>
            <form [hidden]="activeSheet.id != 'penduduk'" (submit)="tableSearcher.search()" class="navbar-form navbar-right" style="margin-right: 0px;">
                <div class="inner-addon left-addon">
                    <i class="fa fa-search"></i>
                    <input id="input-search" type="text" class="form-control" placeholder="Cari NIK, Nama, dsb. (Ctrl+F)" (focus)="tableSearcher.setIsSearching(true)" (blur)="tableSearcher.setIsSearching(false)" style="border-radius: 0;">
                </div>
            </form>
            <div class="navbar-nav navbar-right" title="Jumlah Penduduk" style="margin-top: 7px; color: #fff;" [hidden]="activeSheet.id != 'penduduk'">
                <span id="span-count">-</span> <i class="fa fa-user"></i>
            </div>
        </div>
     </nav>
     <div class="alert" role="alert" [hidden]="activeSheet.id != 'penduduk'">
        <div [hidden]="savingMessage || tableSearcher.isSearching">
            <span style="display: inline-block; width: 45px; padding-left: 15px;">
                <i class="fa fa-columns"></i>
            </span>
            <span (click)="filterContent()">
                <label class="radio-inline"><input type="radio" value="0" name="btn-filter" checked>Semua</label>
                <label class="radio-inline"><input type="radio" value="1" name="btn-filter" >KTP</label>
                <label class="radio-inline"><input type="radio" value="2" name="btn-filter" >Kontak</label>
                <label class="radio-inline"><input type="radio" value="3" name="btn-filter" >Keluarga</label> 
            </span>
            <span style="float:right;">
                <a href="#" (click)="prev()"> <strong><<</strong> </a>
                 {{paging.page}}
                <a href="#" (click)="next()"> <strong>>></strong> </a>
            </span>
        </div>
        <div [hidden]="savingMessage || !tableSearcher.isSearching">
            <span style="display: inline-block; width: 45px; padding-left: 15px;">
                <i class="fa fa-search"></i>
            </span>
            <span>
                <span [hidden]="!tableSearcher.lastQuery || tableSearcher.lastQuery == ''">
                    Hasil {{tableSearcher.currentResult + 1}} dari {{tableSearcher.queryResult?.length}}.
                </span>
                Tekan [Enter] untuk hasil selanjutnya, dan [Esc] untuk berhenti mencari.
            </span>
        </div>
        <div [hidden]="!savingMessage">
            <span style="display: inline-block; width: 45px; padding-left: 15px;">
                <i class="fa fa-save"></i>
            </span>
            <span>
                {{savingMessage}}
            </span>
        </div>
     </div>

     <div id="sheet" *ngFor="let sheet of sheets; let i = index" class="sheet-{{sheet.id}}" [hidden]="activeSheet.id != sheet.id || isStatisticShown"></div>
     <div id="sheet" class="sheet-keluarga" [hidden]="!selectedKeluarga.kk"></div>

     <penduduk-statistic id="sheet" style="background-color: #fafafa; overflow-y: scroll;" [hot]="hots['penduduk']" *ngIf="isStatisticShown"></penduduk-statistic>

     <div id="sheet" *ngIf="selectedDetail.length > 0" style="padding: 5px 0px 0px 50px; background-color: #fafafa; overflow-y: scroll;">
        <h3 style="color: black; text-decoration: underline;">Detil Penduduk</h3>

     <div class="row">
            <div class="col-lg-2">
                NIK
            </div>
            <div class="col-lg-10">
                {{selectedDetail[1] ? selectedDetail[1] : '-'}}
            </div>
            <div class="col-lg-2">
                Nama
            </div>
            <div class="col-lg-10">
                {{selectedDetail[2] ? selectedDetail[2] : '-'}}
            </div>
            <div class="col-lg-2">
                Tempat Lahir
            </div>
            <div class="col-lg-10">
               {{selectedDetail[3] ? selectedDetail[3] : '-'}}
            </div>
            <div class="col-lg-2">
                Tanggal Lahir
            </div>
            <div class="col-lg-10">
                {{selectedDetail[4] ? selectedDetail[4] : '-'}}
            </div>
            <div class="col-lg-2">
                Jenis Kelamin
            </div>
            <div class="col-lg-10">
               {{selectedDetail[5] ? selectedDetail[5] : '-'}}
            </div>
            <div class="col-lg-2">
                Pendidikan
            </div>
            <div class="col-lg-10">
                {{selectedDetail[6] ? selectedDetail[6] : '-'}}
            </div>
            <div class="col-lg-2">
                Agama
            </div>
            <div class="col-lg-10">
                {{selectedDetail[7] ? selectedDetail[7] : '-'}}
            </div>
            <div class="col-lg-2">
                Status Kawin
            </div>
            <div class="col-lg-10">
                {{selectedDetail[8] ? selectedDetail[8] : '-'}}
            </div>
            <div class="col-lg-2">
                Pekerjaan
            </div>
            <div class="col-lg-10">
                {{selectedDetail[9] ? selectedDetail[9] : '-'}}
            </div>
            <div class="col-lg-2">
                Pekerjaan PED
            </div>
            <div class="col-lg-10">
            {{selectedDetail[10] ? selectedDetail[10] : '-'}}
            </div>
            <div class="col-lg-2">
                WN
            </div>
            <div class="col-lg-10">
                {{selectedDetail[11] ? selectedDetail[11] : '-'}}
            </div>
            <div class="col-lg-2">
                Kompetensi
            </div>
            <div class="col-lg-10">
                {{selectedDetail[12] ? selectedDetail[12] : '-'}}
            </div>
            <div class="col-lg-2">
                No Telepon
            </div>
            <div class="col-lg-10">
                {{selectedDetail[13] ? selectedDetail[13] : '-'}}
            </div>
            <div class="col-lg-2">
                Email
            </div>
            <div class="col-lg-10">
                {{selectedDetail[14] ? selectedDetail[14] : '-'}}
            </div>
            <div class="col-lg-2">
                No Kitas
            </div>
            <div class="col-lg-10">
                {{selectedDetail[15] ? selectedDetail[15] : '-'}}
            </div>
            <div class="col-lg-2">
                No Paspor
            </div>
            <div class="col-lg-10">
                {{selectedDetail[16] ? selectedDetail[16] : '-'}}
            </div>
            <div class="col-lg-2">
                Golongan Darah
            </div>
            <div class="col-lg-10">
                {{selectedDetail[17] ? selectedDetail[17] : '-'}}
            </div>
            <div class="col-lg-2">
                Status Penduduk
            </div>
            <div class="col-lg-10">
                {{selectedDetail[18] ? selectedDetail[18] : '-'}}
            </div>
            <div class="col-lg-2">
                Status Tinggal
            </div>
            <div class="col-lg-10">
                {{selectedDetail[19] ? selectedDetail[19] : '-'}}
            </div>
            <div class="col-lg-2">
                Kontrasepsi
            </div>
            <div class="col-lg-10">
                {{selectedDetail[20] ? selectedDetail[20] : '-'}}
            </div>
            <div class="col-lg-2">
                Difabilitas
            </div>
            <div class="col-lg-10">
                {{selectedDetail[21] ? selectedDetail[21] : '-'}}
            </div>
            <div class="col-lg-2">
                No KK
            </div>
            <div class="col-lg-10">
                {{selectedDetail[22] ? selectedDetail[22] : '-'}}
            </div>
            <div class="col-lg-2">
                Nama Ayah
            </div>
            <div class="col-lg-10">
                {{selectedDetail[23] ? selectedDetail[23] : '-'}}
            </div>
            <div class="col-lg-2">
                Nama Ibu
            </div>
            <div class="col-lg-10">
                {{selectedDetail[24] ? selectedDetail[24] : '-'}}
            </div>
            <div class="col-lg-2">
                Hubungan Keluarga
            </div>
            <div class="col-lg-10">
                {{selectedDetail[25] ? selectedDetail[25] : '-'}}
            </div>
            <div class="col-lg-2">
                Nama Dusun
            </div>
            <div class="col-lg-10">
                {{selectedDetail[26] ? selectedDetail[26] : '-'}}
            </div>
            <div class="col-lg-2">
                RW
            </div>
            <div class="col-lg-10">
                {{selectedDetail[27] ? selectedDetail[27] : '-'}}
            </div>
            <div class="col-lg-2">
                RT
            </div>
            <div class="col-lg-10">
                {{selectedDetail[28] ? selectedDetail[28] : '-'}}
            </div>
            <div class="col-lg-2">
                Alamat Jalan
            </div>
            <div class="col-lg-10">
                {{selectedDetail[29] ? selectedDetail[29] : '-'}}
            </div>
        </div>    
     </div>

     <ul class="nav nav-tabs bottom-tabs">
        <li *ngFor="let sheet of sheets; let i = index" [ngClass]="{'active': sheet.id == activeSheet.id && !isStatisticShown}">
            <a href="#" (click)="setActiveSheet(sheet)">{{sheet.name}}</a>       
        </li>
        <li [ngClass]= "{'active': isStatisticShown}">
            <a href="#" (click)="showStatistic()">Statistik</a>
        </li>
        <li *ngFor="let detail of details; let i = index" [ngClass]="{'active': this.selectedDetail[0] == detail[0]}" style="display: inline-flex">
            <a href="#" (click)="setDetail(detail)">{{detail[1]}} - {{detail[2]}} <i (click)="removeDetail(detail)" class="fa fa-remove" style="color: red"></i></a>       
        </li>
         <li *ngFor="let keluarga of keluargaCollection; let i = index" [ngClass]="{'active': this.selectedKeluarga.kk == keluarga.kk}" style="display: inline-flex">
            <a href="#" (click)="setKeluarga(keluarga.kk)">{{keluarga.kk}}<i (click)="removeKeluarga(keluarga)" class="fa fa-remove" style="color: red"></i></a>       
        </li>
     </ul>

    <div id="page-menu" [style.display]="!isFileMenuShown ? 'none' : 'flex'">
        <div class="page-menu-side">
            <button class="btn btn-default btn-close" (click)="showFileMenu(false)">
                <img src="images/arrow-left.png" />
            </button>
            <ul class="list-group">
                <a class="list-group-item">
                    Info
                </a>
                <a class="list-group-item">
                    Simpan
                </a>
                <a class="list-group-item" href="app.html" (click)="closeTarget='home'">
                    Tutup
                </a>
                <a class="list-group-item" href="#" (click)="showSurat()">
                    Surat
                </a>
            </ul>
        </div>
        <div class="page-menu-content">
            <div *ngIf="isSuratShown && isFileMenuShown">
                <surat [hot]="hots['penduduk']" [selectedPenduduk]="selectedPenduduk" [bundleData]="bundleData" [bundleSchemas]="bundleSchemas"></surat>
            </div>
        </div>
    </div>

    <div id="modal-save-diff" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <form (submit)="saveContent(activeSheet.id)" class="form-horizontal" *ngIf="currentDiff">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{afterSaveAction ? 'Ada yang Belum Tersimpan' : 'Konfirmasi Penyimpanan'}}</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            Apakah Anda ingin menyimpan perubahan berikut: 
                        </p>
                        <table class="table table-bordered" *ngIf="currentDiff.total < 15">
                            <tr class="active" *ngIf="currentDiff.added.length > 0">
                                <td colspan="2"> {{currentDiff.added.length}} Penambahan</td>
                            </tr>
                            <tr *ngFor="let item of currentDiff.added">
                                <td>{{item[1]}}</td>
                                <td>{{item[2]}}</td>
                            </tr>
                            <tr class="active" *ngIf="currentDiff.deleted.length > 0">
                                <td colspan="2"> {{currentDiff.deleted.length}} Penghapusan</td>
                            </tr>
                            <tr *ngFor="let item of currentDiff.deleted">
                                <td>{{item[1]}}</td>
                                <td>{{item[2]}}</td>
                            </tr>
                            <tr class="active" *ngIf="currentDiff.modified.length > 0">
                                <td colspan="2"> {{currentDiff.modified.length}} Perubahan</td>
                            </tr>
                            <tr *ngFor="let item of currentDiff.modified">
                                <td>{{item[1]}}</td>
                                <td>{{item[2]}}</td>
                            </tr>
                        </table>
                        <table class="table table-bordered" *ngIf="currentDiff.total >= 15">
                            <tr class="active">
                                <td colspan="2"> {{currentDiff.added.length}} Penambahan</td>
                            </tr>
                            <tr class="active">
                                <td colspan="2"> {{currentDiff.deleted.length}} Penghapusan</td>
                            </tr>
                            <tr class="active">
                                <td colspan="2"> {{currentDiff.modified.length}} Perubahan</td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Batal Keluar</button>
                        <button type="button" class="btn btn-default" *ngIf="afterSaveAction" (click)="forceQuit()">Keluar Tanpa Menyimpan</button>
                        <button type="submit" class="btn btn-primary" data-backdrop="false">Simpan</button>
                    </div>
                </div><!-- /.modal-content -->
            </form>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="modal-import-columns" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog" role="document" style="margin: 2.5vh auto;">
            <form (submit)="doImport(false)" class="form-horizontal">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Pasangkan Kolom Impor</h4>
                    </div>
                    <div class="modal-body" style="max-height: 75vh; overflow-y:scroll;">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nama Sheet</label>
                            <div class="col-sm-9">
                                <select class="form-control" (change)="importer.onSheetNameChanged($event)" [(ngModel)]="importer.sheetName" [ngModelOptions]="{standalone: true}">
                                    <option *ngFor="let sheetName of importer.sheetNames" [value]="sheetName">{{sheetName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Header di Baris Ke-</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" (change)="importer.onStartRowChanged($event)" [(ngModel)]="importer.startRow" [ngModelOptions]="{standalone: true}" />
                            </div>
                        </div>
                        <table class="table table-bordered tbl-condensed">
                            <thead>
                                <tr>
                                    <th>Kolom Sideka</th>
                                    <th>Kolom Excel</th>
                                </tr>
                            </thead>
                            <tr *ngFor="let column of importer.schema">
                                <td>{{column.header}}</td>
                                <td>
                                    <select class="form-control"  [(ngModel)]="importer.maps[column.field].target" [ngModelOptions]="{standalone: true}">
                                        <option *ngFor="let target of importer.availableTargets" [value]="target">{{target}}</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                        <button type="button" class="btn btn-default" (click)="doImport(true)" data-dismiss="modal" [hidden]="!importer.rows || !importer.rows.length">Hapus Data Lama &amp; Impor</button>
                        <button type="submit" class="btn btn-primary" data-backdrop="false" [hidden]="!importer.rows || !importer.rows.length">Impor</button>
                    </div>
                </div><!-- /.modal-content -->
            </form>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="mutasi-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <form class="form-horizontal">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Mutasi Penduduk</h4>
                    </div>
                    <div class="modal-body">
                        <span>
                            <label class="radio-inline" [hidden]="selectedPenduduk == null"><input type="radio" [(ngModel)]="selectedMutasi" (click)="changeMutasi(1)" [value]="1" name="btn-filter">Pindah Pergi</label>   
                            <label class="radio-inline" [hidden]="selectedPenduduk != null"><input type="radio" [(ngModel)]="selectedMutasi" (click)="changeMutasi(2)" [value]="2" name="btn-filter">Pindah Datang</label>
                            <label class="radio-inline" [hidden]="selectedPenduduk == null"><input type="radio" [(ngModel)]="selectedMutasi" (click)="changeMutasi(3)" [value]="3" name="btn-filter">Kelahiran</label>
                            <label class="radio-inline" [hidden]="selectedPenduduk != null"><input type="radio" [(ngModel)]="selectedMutasi" (click)="changeMutasi(4)" [value]="4" name="btn-filter">Kematian</label>
                        </span>
                        <br />
                        <input type="text" class="form-control" [(ngModel)]="selectedPenduduk.nik" name="nik" placeholder="NIK" />
                        <br />
                        <input type="text" class="form-control" [(ngModel)]="selectedPenduduk.nama_penduduk" name="name" placeholder="Nama"/>
                        <br />
                        <input type="text" class="form-control" *ngIf="selectedMutasi == 2 || selectedMutasi == 1" [(ngModel)]="selectedPenduduk.desa" name="desa" placeholder="Dari/Ke Desa"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" (click)="mutasi(false)" class="btn btn-primary" data-backdrop="false">Mutasi</button>
                        <button type="button" (click)="mutasi(true)" class="btn btn-primary" data-backdrop="false">Mutasi Lagi</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
