<div id="flex-container" (window:resize)="onResize($event)">
    <nav class="navbar navbar-default" style="height: 73px; min-height: 73px; -webkit-user-select: none;">
        <div class="container-fluid" style="-webkit-app-region: no-drag; position: fixed; top: 0; left: 0px; z-index: 506;" [hidden]="isFileMenuShown">
            <form class="navbar-form navbar-nav navbar-nav-buttonbar form-inline" style="padding-left: 0px;">
                <button type="button" title="Simpan (Ctrl+S)" [disabled]="savingMessage"
                    (click)="openSaveDialog()" class="btn btn-default"><i class="fa fa-save"></i>
                </button>   
                
                <undo-redo [hot]="hots[activeSheet]"></undo-redo>
                <copy-paste [hot]="hots[activeSheet]"></copy-paste>
            </form>
        </div>
        <div class="container-fluid" style="padding-top: 32px; height: 41px; min-height: 41px;">
            <form class="navbar-form navbar-nav navbar-nav-buttonbar form-inline" style="padding-left: 0px;">
                <button title="File" class="btn btn-default" href="app.html" (click)="redirectMain()"> 
                    <i class="fa fa-home"></i> &nbsp; Beranda
                </button>  
                <button title="Tambah" class="btn btn-default" (click)="openAddRowDialog()"> 
                    <i class="fa fa-plus"></i> &nbsp; Tambah
                </button> 
            </form>

            <div class="navbar-nav" style="margin-top: 7px; color: #fff;">
                <span id="span-selected"></span>
            </div>            
        </div>
    </nav>
        
    <div id="sheet">
        <div id="sheet-renstra" [hidden]="activeSheet != 'renstra'"></div>
        <div id="sheet-rpjm" [hidden]="activeSheet != 'rpjm'"></div>
        <div id="sheet-rkp1" [hidden]="activeSheet != 'rkp1'"></div>
        <div id="sheet-rkp2" [hidden]="activeSheet != 'rkp2'"></div>
        <div id="sheet-rkp3" [hidden]="activeSheet != 'rkp3'"></div>
        <div id="sheet-rkp4" [hidden]="activeSheet != 'rkp4'"></div>
        <div id="sheet-rkp5" [hidden]="activeSheet != 'rkp5'"></div>
        <div id="sheet-rkp6" [hidden]="activeSheet != 'rkp6'"></div>
    </div>

    <div id="empty" class="hidden">
        <p>Data penduduk masih kosong!</p>
        <button type="button" (click)="importExcel()" class="btn btn-default btn-lg"><i class="fa fa-folder-open-o"></i> Isi dengan mengimpor berkas Excel</button>
        <button type="button" (click)="insertRow()" class="btn btn-default btn-lg"><i class="fa fa-plus"></i> Atau mulai isi secara langsung</button>
    </div>

    <ul class="nav nav-tabs bottom-tabs">
        <li [ngClass]="{'active': activeSheet == 'renstra'}">
            <a  class="btn" (click)="selectTab('renstra')">Renstra</a>
        </li>
        <li [ngClass]="{'active': activeSheet == 'rpjm'}">
            <a  class="btn" (click)="selectTab('rpjm')">RPJM</a>
        </li>
        <li [ngClass]="{'active': activeSheet == 'rkp1'}">
            <a class="btn" (click)="selectTab('rkp1')">RKP 1</a>
        </li>
        <li [ngClass]="{'active': activeSheet == 'rkp2'}">
            <a class="btn" (click)="selectTab('rkp2')">RKP 2</a>
        </li>
        <li [ngClass]="{'active': activeSheet == 'rkp3'}">
            <a class="btn" (click)="selectTab('rkp3')">RKP 3</a>
        </li>
        <li [ngClass]="{'active': activeSheet == 'rkp4'}">
            <a class="btn" (click)="selectTab('rkp4')">RKP 4</a>
        </li>
        <li [ngClass]="{'active': activeSheet == 'rkp5'}">
            <a class="btn" (click)="selectTab('rkp5')">RKP 5</a>
        </li>
        <li [ngClass]="{'active': activeSheet == 'rkp6'}">
            <a class="btn" (click)="selectTab('rkp6')">RKP 6</a>
        </li>
    </ul>
       
</div>

<div id="modal-add-renstra" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" *ngIf="activeSheet == 'renstra'">
    <div class="modal-dialog" role="document">
        <form (submit)="addOneRow()">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Tambah Renstra</h4>
                </div>
                <div class="modal-body">     
                    <div class="row">
                        <div class="col-sm-12">
                        <form id="form-add-renstra" class="form-horizontal" role="form">
                            <fieldset>
                                <div class="form-group"> 
                                    <label class="col-sm-2 control-label" for="category">Tambah</label>
                                    <span class="col-sm-9" id="category">
                                        <label class="col-sm-3 radio-inline"><input type="radio" name="category" [(ngModel)]="categorySelected" value="Misi" (click)="categoryOnChange('Misi')"/>Misi</label>                                        
                                        <label class="col-sm-3 radio-inline"><input type="radio" name="category" [(ngModel)]="categorySelected" value="Tujuan" (click)="categoryOnChange('Tujuan')"/>Tujuan</label>                                        
                                        <label class="col-sm-3 radio-inline"><input type="radio" name="category" [(ngModel)]="categorySelected" (ngModelChange)="categorySelected = $event" value="Sasaran" (click)="categoryOnChange('Sasaran')"/>Sasaran</label>
                                    </span>
                                </div>
                                <div class="form-group" *ngIf="categorySelected != 'Misi'">
                                    <label class="col-sm-2 control-label" for="Misi">Misi *</label>
                                    <div class="col-sm-9" id="Misi">
                                        <select class="form-control" (change)="selectedOnChange('misi',$event.target.value)" name="Misi" [(ngModel)]="renstraModel.Misi" >
                                            <option [value]="null" selected>Pilih Misi </option>
                                            <option *ngFor="let value of contentSelection.contentMisi" [value]="value[0]">{{value[0]+' | '+value[2]}}</option>
                                        </select>
                                    </div>
                                </div>                                
                                <div class="form-group" *ngIf="categorySelected == 'Sasaran'">
                                    <label class="col-sm-2 control-label" for="Tujuan" >Tujuan *</label>
                                    <div class="col-sm-9" id="Tujuan">
                                        <select class="form-control" name="Tujuan" [(ngModel)]="renstraModel.Tujuan" >
                                            <option [value]="null" selected>Pilih Tujuan</option>
                                            <option *ngFor="let value of contentSelection.contentTujuan" [value]="value[0]">{{value[0]+' | '+value[2]}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group"> 
                                    <label class="col-sm-2 control-label" for="uraian">Uraian {{categorySelected}}</label>
                                    <div class="col-sm-9" id="uraian">
                                        <textarea class="form-control" rows="5" placeholder="Masukan Uraian ..." name="uraian"></textarea>
                                    </div>
                                </div> 
                            </fieldset>
                        </form>
                        </div>
                    </div>                                       
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-default">Tambah</button>
                    <button type="button" class="btn btn-primary" (click)=addOneRowAndAnother()>Tambah &amp; Tambah Lagi</button>
                </div>
            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="modal-add-rpjm" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" *ngIf="activeSheet=='rpjm'">
    <div class="modal-dialog modal-md" role="document">
        <form (submit)="addOneRowAndAnother()">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Tambah RPJM</h4>
                </div>
                <div class="modal-body">     
                    <div class="row">
                        <div class="col-sm-11">
                        <form id="form-add-rpjm" class="form-horizontal" role="form">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="bidang">Bidang *</label>
                                    <div class="col-sm-9" id="bidang">
                                        <select class="form-control" name="Kd_Bid" (change)="selectedOnChange('bidangRPJM',$event.target.value)">
                                            <option value="" selected>Pilih Bidang </option>
                                            <option *ngFor="let value of refDatas.bidang" [value]="kdDesa+value.Kd_Bid">{{value.Kd_Bid+' | '+value.Nama_Bidang}}</option>
                                        </select>
                                    </div>
                                </div>                                
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="kegiatan">Kegiatan *</label>
                                    <div class="col-sm-9" id="kegiatan">
                                        <select class="form-control" name="Kd_Keg" (change)="validateIsExist($event.target.value, 'Kegiatan', 'rpjm')">
                                            <option value="" selected>Pilih Kegiatan </option>
                                            <option *ngFor="let value of contentSelection.kegiatan" [value]="kdDesa+value.ID_Keg">{{value.ID_Keg+' | '+value.Nama_Kegiatan}}</option>
                                        </select>
                                        <label class="pull-right" style="color:red;" *ngIf="isExist">*<i>{{messageIsExist}} Ini sudah ditambahkan</i></label> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="sasaran-renstra">Sasaran Renstra *</label>
                                    <div class="col-sm-9" id="sasaran-renstra">
                                        <select class="form-control" name="Kd_Sas">
                                            <option value="" selected>Pilih Sasaran </option>
                                            <option *ngFor="let value of refDatas.sasaran" [value]="value.ID_Sasaran">{{value.ID_Sasaran+' | '+value.Uraian_Sasaran}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="lokasi">Lokasi</label>
                                    <div class="col-sm-9" id="lokasi">
                                        <input type="text" class="form-control" name="Lokasi">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="sasaran">Sasaran</label>
                                    <div class="col-sm-9" id="sasaran">
                                        <input type="text" class="form-control" name="Sasaran">
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label class="col-sm-3 control-label" for="keluaran">Keluaran</label>
                                    <div class="col-sm-9" id="keluaran">
                                        <textarea class="form-control" rows="5" placeholder="Masukan Keluaran ..." name="Keluaran"></textarea>
                                    </div>
                                </div>         
                                <div class="form-group"> 
                                    <label class="col-sm-3 control-label" for="tahun">Tahun</label>
                                    <span class="col-sm-9" id="tahun">                          
                                        <label class="col-sm-3 checkbox-inline"><input type="checkbox" name="Tahun1" />Tahun 1</label>                                        
                                        <label class="col-sm-3 checkbox-inline"><input type="checkbox" name="Tahun3" />Tahun 3</label>                                        
                                        <label class="col-sm-3 checkbox-inline"><input type="checkbox" name="Tahun5" />Tahun 5</label>                                        
                                    </span>
                                </div>
                                <div class="form-group"> 
                                    <label class="col-sm-3 control-label" for="tahun"></label>
                                    <span class="col-sm-9" id="tahun">                          
                                        <label class="col-sm-3 checkbox-inline"><input type="checkbox" name="Tahun2" />Tahun 2</label>                                        
                                        <label class="col-sm-3 checkbox-inline"><input type="checkbox" name="Tahun4" />Tahun 4</label>                                        
                                        <label class="col-sm-3 checkbox-inline"><input type="checkbox" name="Tahun6" />Tahun 6</label>                                        
                                    </span>
                                </div>
                                <div class="form-group"> 
                                    <label class="col-sm-3 control-label" for="pelaksanaan">Pelaksanaan</label>
                                    <span class="col-sm-9" id="pelaksanaan">
                                        <label class="col-sm-3 checkbox-inline"><input type="checkbox" name="Swakelola"/>Swakelola</label>                                        
                                        <label class="col-sm-3 checkbox-inline"><input type="checkbox" name="Kerjasama"/>Kerjasama</label>                                        
                                        <label class="col-sm-4 checkbox-inline"><input type="checkbox" name="Pihak_Ketiga"/>Pihak Ketiga</label>
                                    </span>
                                </div>                                
                            </fieldset>
                        </form>
                        </div>
                    </div>                                       
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                    <button type="button" class="btn btn-default" (click)="addOneRow()">Tambah</button>
                    <button type="submit" class="btn btn-primary">Tambah &amp; Tambah Lagi</button>
                </div>
            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="modal-add-rkp" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" *ngIf="activeSheet !== 'renstra'  || activeSheet !== 'rpjm'">
    <div class="modal-dialog modal-md" role="document">
        <form (submit)="addOneRow()">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Tambah RKP</h4>
                </div>
                <div class="modal-body">     
                    <div class="row">
                        <div class="col-sm-12">
                        <form id="form-add-rkp" class="form-horizontal" role="form">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="bidang">Bidang *</label>
                                    <div class="col-sm-10" id="bidang">
                                        <select class="form-control" name="Kd_Bid" (change)="selectedOnChange('bidangRKP',$event.target.value)">
                                            <option value="" selected>Pilih Bidang </option>
                                            <option *ngFor="let value of refDatas.rpjmBidang" [value]="value.Kd_Bid">{{value.Kd_Bid+' | '+value.Nama_Bidang}}</option>
                                        </select>
                                    </div>
                                </div>                                
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="kegiatan">Kegiatan *</label>
                                    <div class="col-sm-10" id="kegiatan">
                                        <select class="form-control" name="Kd_Keg" (change)="validateIsExist($event.target.value, 'Kegiatan', 'rpjm')">
                                            <option value="" selected>Pilih Kegiatan </option>
                                            <option *ngFor="let value of contentSelection.kegiatan" [value]="value.Kd_Keg">{{value.Kd_Keg+' | '+value.Nama_Kegiatan}}</option>
                                        </select>
                                        <label class="pull-right" style="color:red;" *ngIf="isExist">*<i>{{messageIsExist}} Ini sudah ditambahkan</i></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="lokasi">Lokasi</label>
                                    <div class="col-sm-10" id="lokasi">
                                        <input type="text" class="form-control" name="Lokasi_Spesifik">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="lokasi">Volume</label>
                                    <div  class="form-group" id="lokasi">
                                        <div class="col-sm-3" style="padding-right:5px">
                                            <input type="number" class="form-control" name="Volume" placeholder="jumlah" value='0'>
                                        </div>
                                        <div class="col-sm-3" style="padding-left:0px">
                                            <input type="text" class="form-control" name="Satuan" placeholder="satuan">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="textinput">Sasaran</label>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <span class="input-group-addon">Wanita</span>
                                            <input type="number" class="form-control" name="Jml_Sas_Wanita" value='0'>
                                            <span class="input-group-addon">Org</span>
                                        </div>
                                    </div>  

                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <span class="input-group-addon">Pria</span>
                                            <input type="number" class="form-control" name="Jml_Sas_Pria" value='0'>
                                            <span class="input-group-addon">Org</span>
                                        </div>
                                    </div>                                        
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="textinput" style="font-size:12px">Sasaran RTM</label>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <input type="number" class="form-control" name="Jml_Sas_ARTM" value='0'>
                                            <span class="input-group-addon">Rumah tangga</span>
                                        </div>
                                    </div>                                       
                                </div>    
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="textinput" style="font-size:11px">Sumber Dana *</label>
                                    <div class="col-sm-5">
                                        <select class="form-control" name="Sumberdana" name="Kd_Sumber">
                                            <option value="" selected>Pilih Sumber Dana </option>
                                            <option *ngFor="let value of refDatas['sumberDana']" [value]="value.Kode">{{value.Kode+' | '+value.Nama_Sumber}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="Pelaksana">Pelaksana</label>
                                    <div class="col-sm-10" id="Pelaksana">
                                        <input type="text" class="form-control" name="Pelaksana">
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label class="col-sm-2 control-label" for="Biaya">Biaya</label>
                                    <div class="col-sm-10" id="Biaya">
                                        <input type="number" class="form-control" name="Biaya" value='0'>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="Waktu">Waktu</label>
                                    <div class="col-sm-10" id="Waktu">
                                        <input type="text" class="form-control" name="Waktu">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="sasaran">Tanggal*</label>
                                     <div class="col-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon">Mulai</span>
                                            <input type="date" class="form-control" name="Mulai" [(ngModel)]="rkpModel.Mulai" value="10/01/2017">
                                            <span class="input-group-addon">Selesai</span>
                                            <input type="date" class="form-control" name="Selesai" [(ngModel)]="rkpModel.Selesai" value="10/02/2017">
                                        </div>
                                    </div>
                                </div>                                                                     
                                <div class="form-group"> 
                                    <label class="col-sm-2 control-label" for="pelaksanaan" style="font-size:12px">Pola Kegiatan</label>
                                    <span class="col-sm-10" id="pelaksanaan">
                                        <label class="col-sm-3 radio-inline"><input type="radio" name="Pola_Kegiatan" value="Swakelola"/>Swakelola</label>                                        
                                        <label class="col-sm-3 radio-inline"><input type="radio" name="Pola_Kegiatan" value="Kerjasama"/>Kerjasama</label>                                        
                                        <label class="col-sm-4 radio-inline"><input type="radio" name="Pola_Kegiatan" value="Pihak Ketiga"/>Pihak Ketiga</label>
                                    </span>
                                </div>                                 
                            </fieldset>
                        </form>
                        </div>
                    </div>                                       
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-default">Tambah</button>
                    <button type="button" class="btn btn-primary" (click)="addOneRowAndAnother()">Tambah &amp; Tambah Lagi</button>
                </div>
            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="modal-save-diff" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <form (submit)="saveContent()" class="form-horizontal">
            <div class="modal-content" style="border-radius: 0">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{afterSaveAction ? 'Ada yang Belum Tersimpan' : 'Konfirmasi Penyimpanan'}}</h4>
                </div>
                <div class="modal-body">
                    <div class="tabbable"> <!-- Only required for left/right tabs -->
                        <ul class="nav nav-tabs">
                            <li *ngFor="let diff of this.diffContents.diff; let i = index" [ngClass]="{'active':i==0}"><a href="#{{diff.sheet}}" data-toggle="tab">{{diff.sheet}}</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" *ngFor="let diff of this.diffContents.diff; let i = index" [ngClass]="{'active':i==0}" id="{{diff.sheet}}">
                                &nbsp;&nbsp;
                                <p>
                                    Apakah Anda ingin menyimpan perubahan berikut: 
                                </p>
                                <table class="table table-bordered" *ngIf="diff.data.total < 15">
                                    <tr class="active" *ngIf="diff.data.added.length > 0">
                                        <td colspan="2"> {{diff.data.added.length}} Penambahan</td>
                                    </tr>
                                    <tr *ngFor="let item of diff.data.added">
                                        <td>{{diff.sheet == 'renstra' ? item[1] : item[2]}}</td>
                                        <td>{{diff.sheet == 'renstra' ? item[2] : item[4]}}</td>
                                    </tr>
                                    <tr class="active" *ngIf="diff.data.deleted.length > 0">
                                        <td colspan="2"> {{diff.data.deleted.length}} Penghapusan</td>
                                    </tr>
                                    <tr *ngFor="let item of diff.data.deleted">
                                        <td>{{diff.sheet == 'renstra' ? item[1] : item[2]}}</td>
                                        <td>{{diff.sheet == 'renstra' ? item[2] : item[4]}}</td>
                                    </tr>
                                    <tr class="active" *ngIf="diff.data.modified.length > 0">
                                        <td colspan="2"> {{diff.data.modified.length}} Perubahan</td>
                                    </tr>
                                    <tr *ngFor="let item of diff.data.modified">
                                        <td>{{diff.sheet == 'renstra' ? item[1] : item[2]}}</td>
                                        <td>{{diff.sheet == 'renstra' ? item[2] : item[4]}}</td>
                                    </tr>
                                </table>
                                <table class="table table-bordered" *ngIf="diff.data.total >= 15">
                                    <tr class="active">
                                        <td colspan="2"> {{diff.data.added.length}} Penambahan</td>
                                    </tr>
                                    <tr class="active">
                                        <td colspan="2"> {{diff.data.deleted.length}} Penghapusan</td>
                                    </tr>
                                    <tr class="active">
                                        <td colspan="2"> {{diff.data.modified.length}} Perubahan</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-remove"></i> Batal Keluar</button>
                    <button type="button" class="btn btn-danger" [hidden]="!afterSaveAction" (click)="forceQuit()"><i class="fa fa-sign-out"></i> Keluar Tanpa Menyimpan</button>
                    <button type="submit" class="btn btn-success" data-backdrop="false"><i class="fa fa-save"></i> Simpan</button>
                </div>
            </div>
        </form>
    </div>
</div>