<div id="flex-container" [style.background-color]="initialData ? '#f1f1f1' : '#3097d1'" [style.display]="showMenu || !pageEditing ? 'none' : 'flex'" >
    <nav class="navbar navbar-default" style="height: 73px; min-height: 73px; -webkit-user-select: none;">
        <div class="container-fluid" style="-webkit-app-region: no-drag; position: fixed; top: 0; left: 0px; z-index: 10001;">
            <form class="navbar-form navbar-nav navbar-nav-buttonbar form-inline" style="padding-left: 0px;">
                <button type="button" title="Simpan (Ctrl+S)"
                    (click)="saveContent()" class="btn btn-default"><i class="fa fa-save"></i>
                </button>
                
                <undo-redo [hot]="hot"></undo-redo>
                <copy-paste [hot]="hot"></copy-paste>
            </form>
        </div>
        <div class="container-fluid" style="padding-top: 32px; height: 41px; min-height: 41px;">
            <form class="navbar-form navbar-nav navbar-nav-buttonbar form-inline" style="padding-left: 0px;">
                <button title="File" class="btn btn-default" (click)="showMenu = true;"> 
                    File
                </button>
                <!--

                <button type="button" title="Tambah" (click)="insertRow()" class="btn btn-success" style="background-color: #FF7E6B; color: #fff;">
                    Tambah
                </button>


                <button type="button" title="Cetak Surat (Ctrl+P)" (click)="printSurat = true" class="btn btn-default">
                    Surat
                </button>
                
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" title="Impor" (click)="importExcel()" class="btn btn-default">Impor</button>
                    <button type="button" title="Ekspor" (click)="exportExcel()" class="btn btn-default">Ekspor</button>
                </div>

                <button type="button" class="btn btn-default">
                    Detail
                </button>
                <button type="button" class="btn btn-default">
                    Keluarga
                </button>
                -->
            </form>

            <div class="navbar-nav" style="margin-top: 7px; color: #fff;">
                <span id="span-selected"></span>
            </div>

            <form (submit)="tableSearcher.search()" class="navbar-form navbar-right" style="margin-right: 0px;">
                <div class="inner-addon left-addon">
                    <i class="fa fa-search"></i>
                    <input id="input-search" type="text" class="form-control" placeholder="Cari NIK, Nama, dsb. (Ctrl+F)" (focus)="tableSearcher.setIsSearching(true)" (blur)="tableSearcher.setIsSearching(false)" style="border-radius: 0;">
                </div>
            </form>
            <div class="navbar-nav navbar-right" title="Jumlah Penduduk" style="margin-top: 7px; color: #fff;">
                <span id="span-count">-</span> <i class="fa fa-user"></i>
            </div>
        </div>
    </nav>
    <!--
    <div class="alert" role="alert" [hidden]="!initialData">
        <div [hidden]="savingMessage || tableSearcher.isSearching">
            <span style="display: inline-block; width: 75px; padding-left: 20px;">
                <i class="fa fa-columns"></i>
            </span>
            
            <span (click)="filterContent()">
                <label class="radio-inline"><input type="radio" value="0" name="btn-filter" checked>Semua</label>
                <label class="radio-inline"><input type="radio" value="1" name="btn-filter" >KTP</label>
                <label class="radio-inline"><input type="radio" value="2" name="btn-filter" >Kontak</label>
                <label class="radio-inline"><input type="radio" value="3" name="btn-filter" >Keluarga</label> 
            </span>
            
         </div>
         <div [hidden]="savingMessage || !tableSearcher.isSearching">
            <span style="display: inline-block; width: 75px; padding-left: 20px;">
                <i class="fa fa-search"></i>
            </span>
            <span>
                <span [hidden]="!tableSearcher.lastQuery || tableSearcher.lastQuery == ''">
                    Hasil {{tableSearcher.currentResult + 1}} dari {{tableSearcher.queryResult?.length}}.
                </span>
                Tekan [Enter] untuk hasil selanjutnya, dan [Esc] untuk berhenti mencari.
            </span>
         </div>
         <div [hidden]="!savingMessage">
            <span style="display: inline-block; width: 75px; padding-left: 20px;">
                <i class="fa fa-save"></i>
            </span>
            <span>
                {{savingMessage}}
            </span>
        </div>
    </div>
    -->
    <!--
    <div id="loader" class="loader" style="font-size: 1.5em;">
        <img src="sideka.png" class="brand" style="margin: 0px auto 0 auto;" />
        <p id="quote" style="color: #fff; padding: 70px 70px; font-size: 18px;">Memuat Data...</p>
    </div>
    -->
    <div id="sheet"></div>

    <div id="empty" class="hidden">
        <p>Data penduduk masih kosong!</p>
        <button type="button" (click)="importExcel()" class="btn btn-default btn-lg"><i class="fa fa-folder-open-o"></i> Isi dengan mengimpor berkas Excel</button>
        <button type="button" (click)="insertRow()" class="btn btn-default btn-lg"><i class="fa fa-plus"></i> Atau mulai isi secara langsung</button>
    </div>

    <ul class="nav nav-tabs bottom-tabs">
        <li class="active">
            <a href="#" (click)="loadSubType(subType)">Renstra RPJM</a>
        </li>
        <li>
            <a href="#" (click)="loadSubType(subType)">RPJM</a>
        </li>
        <li>
            <a href="#" (click)="loadSubType(subType)">RKP</a>
        </li>
    </ul>
    <!--
    <div id="modal-save-diff" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <form (submit)="saveContent()" class="form-horizontal" *ngIf="diff">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{afterSaveAction ? 'Ada yang Belum Tersimpan' : 'Konfirmasi Penyimpanan'}}</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            Apakah Anda ingin menyimpan perubahan berikut: 
                        </p>
                        <table class="table table-bordered" *ngIf="diff.total < 15">
                            <tr class="active" *ngIf="diff.added.length > 0">
                                <td colspan="2"> {{diff.added.length}} Penambahan</td>
                            </tr>
                            <tr *ngFor="let item of diff.added">
                                <td>{{item[0]}}</td>
                                <td>{{item[1]}}</td>
                            </tr>
                            <tr class="active" *ngIf="diff.deleted.length > 0">
                                <td colspan="2"> {{diff.deleted.length}} Penghapusan</td>
                            </tr>
                            <tr *ngFor="let item of diff.deleted">
                                <td>{{item[0]}}</td>
                                <td>{{item[1]}}</td>
                            </tr>
                            <tr class="active" *ngIf="diff.modified.length > 0">
                                <td colspan="2"> {{diff.modified.length}} Perubahan</td>
                            </tr>
                            <tr *ngFor="let item of diff.modified">
                                <td>{{item[0]}}</td>
                                <td>{{item[1]}}</td>
                            </tr>
                        </table>
                        <table class="table table-bordered" *ngIf="diff.total >= 15">
                            <tr class="active">
                                <td colspan="2"> {{diff.added.length}} Penambahan</td>
                            </tr>
                            <tr class="active">
                                <td colspan="2"> {{diff.deleted.length}} Penghapusan</td>
                            </tr>
                            <tr class="active">
                                <td colspan="2"> {{diff.modified.length}} Perubahan</td>
                            </tr>
                        </table>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Batal Keluar</button>
                        <button type="button" class="btn btn-default" *ngIf="afterSaveAction" (click)="forceQuit()">Keluar Tanpa Menyimpan</button>
                        <button type="submit" class="btn btn-primary" data-backdrop="false">Simpan</button>
                    </div>
                </div><!-- /.modal-content --!>
            </form>
        </div><!-- /.modal-dialog --!>
    </div><!-- /.modal --!>
    -->
    
</div>

<div id="page-menu"  [style.display]="!showMenu ? 'none' : 'flex'">
    <div class="page-menu-side">
        <button class="btn btn-default btn-close" (click)="showMenu = false">
            Back
        </button>
        <ul class="list-group">
            <a class="list-group-item">
                Info
            </a>
            <a class="list-group-item">
                Simpan
            </a>
            <a class="list-group-item" href="app.html" (click)="closeTarget='home'">
                Tutup
            </a>
        </ul>
    </div>
    <div class="page-menu-content">
    </div>
</div>

<div id="page-menu" [style.display]="pageEditing ? 'none' : 'flex'">
    <div class="page-menu-side" style="flex: 0 0 300px;">
        &nbsp;&nbsp;
        <ul class="list-group">
            <a class="list-group-item">
                Perencanaan Yang Disimpan
            </a>
        </ul>

        <ul class="list-group">
            <li class="active" >
            <a class="list-group-item active" (click)="showForm = false;">
                Buat Baru
            </a>
            </li>
            <a class="list-group-item" (click)="showForm = true;">
                Import Renstra dan RPJM
            </a>
            <a class="list-group-item" href="app.html" (click)="closeTarget='home'">
                Keluar
            </a>
        </ul>
    </div>
    <div class="page-menu-content">
        <div id="create-perencanaan" [style.display]="showForm ? 'none' : 'flex'">
            <div class="panel panel-primary" style="margin:20px;" >
                <div class="panel-heading">
                    <h3 class="panel-title">Buat Perencanaan Baru</h3>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="col-md-12 col-sm-12" id="deceased">
                            <div class="form-group col-md-3 col-sm-3">
                                <label for="name">Tahun Awal</label>
                                <input type="number" class="form-control input-sm" id="name" placeholder="">
                            </div>
                            <div class="form-group col-md-3 col-sm-3">
                                <label for="gender">Tahun Akhir</label>
                                <input type="number" class="form-control input-sm" id="gender" placeholder="">
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                <label for="address">Visi</label>
                                <textarea class="form-control input-sm" id="address" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group col-md-3 col-sm-3 pull-right" >
                                <input type="submit" class="btn btn-primary" value="Tambah Perencanaan"/>
                            </div>
                        </div>
                    </form>
                </div>
             </div>
        </div>
        <div id="import-perencanaan" [style.display]="!showForm ? 'none' : 'flex'">
            <div class="row">
                <div style="width: 250px" *ngFor = "let visi of visiRPJM">
                    <div class="panel panel-primary" style="margin:20px;">
                        <div class="panel-heading" style="text-align: center">
                            <p>Tahun Anggaran</p>
                            <h2>{{visi.TahunA}} - {{visi.TahunN}}</h2>                        
                        </div>
                        <div class="panel-body">
                            <p>
                                {{visi.Uraian_Visi}}
                            </p>
                        </div>
                        <div class="panel-footer" style="text-align: center">
                            <a class="btn panel-button-color-square btn-m round" (click)="importPerencanaan(visi.ID_Visi)">Import Perencanaan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
