 <form *ngIf="selectedFeature">
    <div class="form-group">
        <label class="col-sm-3 control-label">Unsur</label>
        <select class="form-control" style="width: 95%;" name="element" [(ngModel)]="selectedElement" (change)="onElementChange()">
            <option *ngFor="let element of selectedIndicator.elements" [ngValue]="element">{{element.label}}</option>
        </select>
    </div>
    <div class="form-group" *ngIf="selectedElement">
        <label class="col-sm-3 control-label">Deskripsi</label>
        <input type="text" class="form-control" name="description" [(ngModel)]="selectedFeature.feature.properties.description" />
    </div>
 </form>
