<div id="flex-container"  [style.display]="showMenu ? 'none' : 'flex'" >
    <nav class="navbar navbar-default" style="height: 73px; min-height: 73px; -webkit-user-select: none;">
        <div class="container-fluid" style="-webkit-app-region: no-drag; position: fixed; top: 0; left: 0px; z-index: 10001;">
            <form class="navbar-form navbar-nav navbar-nav-buttonbar form-inline" style="padding-left: 0px;">
                <button type="button" title="Simpan (Ctrl+S)"
                    (click)="openSaveDialog()" class="btn btn-default"><i class="fa fa-save"></i>
                </button>
                
                <undo-redo [hot]="hot"></undo-redo>
                <copy-paste [hot]="hot"></copy-paste>
            </form>
        </div>
        <div class="container-fluid" style="padding-top: 32px; height: 41px; min-height: 41px;">
            <form class="navbar-form navbar-nav navbar-nav-buttonbar form-inline" style="padding-left: 0px;">
                <button title="File" class="btn btn-default" href="app.html" (click)="redirectMain()"> 
                    <i class="fa fa-arrow-left"></i> &nbsp; Beranda
                </button>  
                <button title="Tambah" class="btn btn-default" (click)="openAddRowDialog()"> 
                    <i class="fa fa-plus"></i> &nbsp; Tambah
                </button> 
                <button *ngIf="this.activeSheet == 'rab'" title="Tambah" class="btn btn-default" (click)="openPostingDialog()"> 
                    <i class="fa fa-key"></i> &nbsp; Posting APBDes
                </button> 
            </form>

            <form (submit)="tableHelpers[activeSheet].search()" class="navbar-form navbar-right" style="margin-right: 0px;">
                <div class="inner-addon left-addon">
                    <i class="fa fa-search"></i>
                    <span [hidden]="activeSheet !== 'rab'">
                        <input id="input-search-rab" type="text" class="form-control" placeholder="Cari Uraian, Dsb.." (focus)="tableHelpers['rab'].setIsSearching(true)" (blur)="tableHelpers['rab'].setIsSearching(false)" style="border-radius: 0;">
                    </span>
                    <span  [hidden]="activeSheet !== 'kegiatan'">
                        <input id="input-search-kegiatan" type="text" class="form-control" placeholder="Cari Uraian, Dsb.." (focus)="tableHelpers['kegiatan'].setIsSearching(true)" (blur)="tableHelpers['kegiatan'].setIsSearching(false)" style="border-radius: 0;">
                    </span>
                </div>
            </form>

            <div class="navbar-nav navbar-right" title="Status APBDes" style="margin-top: 7px; color: #fff;">
                <i style="color:white">Status APBDes :  {{statusAPBDes}}</i>
            </div>

            <div class="navbar-nav" style="margin-top: 7px; color: #fff;">
                <span id="span-selected"></span>
            </div>            
        </div>
    </nav>
    <div class="alert" role="alert" [hidden]="!savingMessage && !tableHelpers[activeSheet]?.isSearching" style="height: 38px; padding-top: 8px;">
        <div [hidden]="savingMessage || !tableHelpers[activeSheet]?.isSearching">
            <span style="display: inline-block; width: 75px; padding-left: 20px;">
                <i class="fa fa-search"></i>
            </span>
            <span>
                <span [hidden]="!tableHelpers[activeSheet]?.lastQuery || tableHelpers[activeSheet]?.lastQuery == ''">
                    Hasil {{tableHelpers[activeSheet]?.currentResult + 1}} dari {{tableHelpers[activeSheet]?.queryResult?.length}}.
                </span>
                Tekan [Enter] untuk hasil selanjutnya, dan [Esc] untuk berhenti mencari.
            </span>
         </div>
         <div [hidden]="!savingMessage">
            <span style="display: inline-block; width: 75px; padding-left: 20px;">
                <i class="fa fa-save"></i>
            </span>
            <span>
                {{savingMessage}}
            </span>
        </div>
    </div>
    
    <div id="sheet">
        <div id="sheet-kegiatan" [hidden]="activeSheet != 'kegiatan'"></div>
        <div id="sheet-rab" [hidden]="activeSheet != 'rab'"></div>
    </div>

    <div id="empty" class="hidden">
        <p>Data penduduk masih kosong!</p>
        <button type="button" (click)="importExcel()" class="btn btn-default btn-lg"><i class="fa fa-folder-open-o"></i> Isi dengan mengimpor berkas Excel</button>
        <button type="button" (click)="insertRow()" class="btn btn-default btn-lg"><i class="fa fa-plus"></i> Atau mulai isi secara langsung</button>
    </div>

    <ul class="nav nav-tabs bottom-tabs">
        <li [ngClass]="{'active': activeSheet == 'kegiatan'}">
            <a  class="btn" (click)="selectTab('kegiatan')">Kegiatan</a>
        </li>
        <li [ngClass]="{'active': activeSheet == 'rab'}">
            <a  class="btn" (click)="selectTab('rab')">RAB</a>
        </li>
    </ul>       
</div>

<div id="page-menu"  [style.display]="!showMenu ? 'none' : 'flex'">
    <div class="page-menu-side">
        <button class="btn btn-default btn-close" (click)="showMenu = false">
            <img src="images/arrow-left.png" />
        </button>
        <ul class="list-group">
            <a class="list-group-item">
                Info
            </a>
            <a class="list-group-item">
                Simpan
            </a>
            <a class="list-group-item" href="app.html" (click)="closeTarget='home'">
                Tutup
            </a>
        </ul>
    </div>
    <div class="page-menu-content">     
    </div>
</div>

<div id="modal-add-rab" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <form (submit)="addOneRow(model)">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Tambah RAB</h4>
                </div>
                <div class="modal-body">     
                    <div class="row">
                        <div class="col-sm-12">
                            <form id="form-add" class="form-horizontal" role="form" >
                                <fieldset>
                                    <div class="form-group"> 
                                        <label class="col-sm-2 control-label" for="category">Kategori</label>
                                        <span class="col-sm-9" id="category">
                                            <label class="col-sm-3 radio-inline"><input type="radio" name="category" [(ngModel)]="model.category" value="pendapatan" (click)="categoryOnChange($event.target.value)"/>Pendapatan</label>                                        
                                            <label class="col-sm-3 radio-inline"><input type="radio" name="category" [(ngModel)]="model.category" value="belanja" (click)="categoryOnChange($event.target.value)"/>Belanja</label>                                        
                                            <label class="col-sm-3 radio-inline"><input type="radio" name="category" [(ngModel)]="model.category" value="pembiayaan" (click)="categoryOnChange($event.target.value)"/>Pembiayaan</label>
                                        </span>
                                    </div>
                                    <div *ngIf="model.category !='belanja'">
                                        <div class="form-group"> 
                                            <label class="col-sm-2 control-label" for="rap">Tambah</label>
                                            <span class="col-sm-9" id="rap">
                                                <label class="col-sm-3 radio-inline"><input type="radio" name="rap" [(ngModel)]="model.rap" value="rap" (click)="typeOnClick('rap',$event.target.value)"/>RAP</label>                                        
                                                <label class="col-sm-3 radio-inline"><input type="radio" name="rap" [(ngModel)]="model.rap" value="rapRinci" (click)="typeOnClick('rap',$event.target.value)"/>RAP Rinci</label>
                                            </span>
                                        </div>
                                        <div *ngIf="model.rap =='rap'">
                                            <div class="form-group" >
                                                <label class="col-sm-2 control-label" for="kelompok-rap">Kelompok *</label>
                                                <div class="col-sm-9" id="kelompok-rap">
                                                    <select class="form-control" (change)="selectedOnChange('Kelompok',$event.target.value)" name="Kelompok" [(ngModel)]="model.Kelompok">
                                                        <option [value]="null" selected>Pilih Kelompok</option>
                                                        <option *ngFor="let content of dataReferences.Kelompok" [value]="content[1]">{{content[1]+" | "+content[3]}}</option>
                                                    </select>
                                                </div>
                                            </div>                                
                                            <div class="form-group">                                                
                                                <label class="col-sm-2 control-label" for="jenis-rap">Jenis *</label>
                                                <div class="col-sm-9" id="jenis-rap">
                                                    <select class="form-control" (change)="selectedOnChange('Jenis',$event.target.value)" name="Jenis" [(ngModel)]="model.Jenis">
                                                        <option [value]="null" selected>Pilih Jenis</option>
                                                        <option *ngFor="let content of contentSelection.contentJenis" [value]="content[1]">{{content[1]+ '  |  '+content[3]}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="obyek-rap">Obyek *</label>
                                                <div class="col-sm-9" id="obyek-rap">
                                                    <select class="form-control" (change)="validateIsExist($event.target.value,'Obyek')"  name="Obyek" [(ngModel)]="model.Obyek">
                                                        <option [value]="null" selected>Pilih Obyek</option>
                                                        <option *ngFor="let content of contentSelection.contentObyek" [value]="content[1]">{{content[1]+ '  |  '+content[3]}}</option>
                                                    </select>
                                                    <label class="pull-right" style="color:red;" *ngIf="isExist">*<i>{{messageIsExist}} Ini sudah ditambahkan</i></label>  
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="model.rap =='rapRinci'" >
                                            <div class="form-group" >
                                                <label class="col-sm-2 control-label" for="obyek-rap-rinci">Obyek *</label>
                                                <div class="col-sm-9" id="obyek-rap-rinci">
                                                    <select class="form-control" name="Obyek" [(ngModel)]="model.Obyek">
                                                        <option [value]="null" selected>Pilih Obyek</option>
                                                        <option *ngFor="let content of contentSelection.availableObyek" [value]="content[2]">{{content[2]+ '  |  '+content[4]}}</option>
                                                    </select>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>

                                    <div *ngIf="model.category =='belanja'">
                                        <div class="form-group"> 
                                            <label class="col-sm-2 control-label" for="rab">Tambah</label>
                                            <span class="col-sm-9" id="rab">
                                                <label class="col-sm-3 radio-inline"><input type="radio" name="rab" [(ngModel)]="model.rab" value="rab"/>RAB</label>
                                                <label class="col-sm-3 radio-inline"><input type="radio" name="rab" [(ngModel)]="model.rab" value="rabSub" (click)="typeOnClick('rab',$event.target.value)"/>RAB Sub</label>                                        
                                                <label class="col-sm-3 radio-inline"><input type="radio" name="rab" [(ngModel)]="model.rab" value="rabRinci" (click)="typeOnClick('rab',$event.target.value)"/>RAB Rinci</label>
                                            </span>
                                        </div>
                                        <div *ngIf="model.rab != 'rabSub'">
                                            <div class="form-group" >
                                                <label class="col-sm-2 control-label" for="bidang">Bidang *</label>
                                                <div class="col-sm-9" id="bidang">
                                                    <select class="form-control" (change)="selectedOnChange('bidang',$event.target.value)" name="Kd_Bid" [(ngModel)]="model.Kd_Bid">
                                                        <option [value]="null" selected>Pilih Bidang</option>
                                                        <option *ngFor="let content of dataReferences.Bidang" [value]="content.Kd_Bid">{{content.Kd_Bid+" | "+content.Nama_Bidang}}</option>
                                                    </select>
                                                </div>
                                            </div>   
                                            <div class="form-group" >
                                                <label class="col-sm-2 control-label" for="kegiatan">Kegiatan *</label>
                                                <div class="col-sm-9" id="kegiatan">
                                                    <select class="form-control" (change)="selectedOnChange('kegiatan',$event.target.value)" name="Kd_Keg" [(ngModel)]="model.Kd_Keg">
                                                        <option [value]="null" selected>Pilih Kegiatan</option>
                                                        <option *ngFor="let content of contentSelection.contentKegiatan" [value]="content.Kd_Keg">{{content.Kd_Keg+" | "+content.Nama_Kegiatan}}</option>
                                                    </select>
                                                </div>
                                            </div>   
                                        </div>

                                        <div *ngIf="model.rab == 'rab'">
                                            <div class="form-group" >
                                                <label class="col-sm-2 control-label" for="jenis-rab">Jenis *</label>
                                                <div class="col-sm-9" id="jenis-rab">
                                                    <select class="form-control" (change)="selectedOnChange('jenis',$event.target.value)" name="Jenis" [(ngModel)]="model.Jenis"s>
                                                        <option [value]="null" selected>Pilih Jenis</option>
                                                        <option *ngFor="let content of dataReferences.belanja.Jenis" [value]="content[1]">{{content[1]+" | "+content[3]}}</option>
                                                    </select>
                                                </div>
                                            </div>   
                                            
                                            <div class="form-group" >
                                                <label class="col-sm-2 control-label" for="obyek-rab">Obyek *</label>
                                                <div class="col-sm-9" id="obyek-rab">
                                                    <select class="form-control" (change)="validateIsExist($event.target.value,'Obyek')" name="Obyek" [(ngModel)]="model.Obyek">
                                                        <option [value]="null" selected>Pilih Obyek</option>
                                                        <option *ngFor="let content of contentSelection.contentObyek" [value]="content[1]">{{content[1]+" | "+content[3]}}</option>
                                                    </select>
                                                    <label class="pull-right" style="color:red;" *ngIf="isExist">*<i>{{messageIsExist}} Ini sudah ditambahkan</i></label>  
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="model.rab == 'rabSub'">                                            
                                            <div class="form-group" >
                                                <label class="col-sm-2 control-label" for="bidang">Bidang *</label>
                                                <div class="col-sm-9" id="bidang">
                                                    <select class="form-control" (change)="selectedOnChange('rabSubBidang',$event.target.value)" name="Kd_Bid" [(ngModel)]="model.Kd_Bid">
                                                        <option [value]="null" selected>Pilih Bidang</option>
                                                        <option *ngFor="let content of dataReferences.rabSub.rabSubBidang" [value]="content.Kd_Bid">{{content.Kd_Bid+" | "+content.Uraian}}</option>
                                                    </select>
                                                </div>
                                            </div>   
                                            <div class="form-group" >
                                                <label class="col-sm-2 control-label" for="kegiatan">Kegiatan *</label>
                                                <div class="col-sm-9" id="kegiatan">
                                                    <select class="form-control" (change)="selectedOnChange('rabSubKegiatan',$event.target.value)" name="Kd_Keg" [(ngModel)]="model.Kd_Keg">
                                                        <option [value]="null" selected>Pilih Kegiatan</option>
                                                        <option *ngFor="let content of contentSelection.rabSubKegiatan" [value]="content.Kd_Keg">{{content.Kd_Keg+" | "+content.Uraian}}</option>
                                                    </select>
                                                </div>
                                            </div>   

                                            <div class="form-group" >
                                                <label class="col-sm-2 control-label" for="obyek-rab-rinci">Obyek *</label>
                                                <div class="col-sm-9" id="obyek-rab-rinci">
                                                    <select class="form-control" name="Obyek" (change)="selectedOnChange('obyek',$event.target.value)" [(ngModel)]="model.Obyek">
                                                        <option [value]="null" selected>Pilih Obyek</option>
                                                        <option *ngFor="let content of contentSelection.rabSubObyek" [value]="content.Obyek">{{content.Obyek+" | "+content.Uraian}}</option>
                                                    </select>
                                                </div>
                                            </div>  
                                            <div class="form-group"> 
                                                <label class="col-sm-2 control-label" for="uraian">Uraian *</label>
                                                <div class="col-sm-9" id="uraian">
                                                    <textarea class="form-control" rows="2" placeholder="Masukan Uraian ..." name="Uraian" [(ngModel)]="model.Uraian"></textarea>
                                                </div>
                                            </div>                                          
                                        </div>
                                        <div *ngIf="model.rab == 'rabRinci'">
                                            <div class="form-group" >
                                                <label class="col-sm-2 control-label" for="obyek-rab-rinci">RAB *</label>
                                                <div class="col-sm-9" id="obyek-rab-rinci">
                                                    <select class="form-control" name="Obyek" (change)="selectedOnChange('obyek',$event.target.value)" [(ngModel)]="model.Obyek"> 
                                                        <option [value]="null" selected>Pilih RAB</option>
                                                        <option *ngFor="let content of contentSelection.obyekAvailable" [value]="content[2]">{{content[2]+" | "+content[4]}}</option>
                                                    </select>
                                                </div>
                                            </div> 
                                            <div class="form-group" *ngIf="isObyekRABSub">
                                                <label class="col-sm-2 control-label" for="obyek-rabSub-rinci">RAB Sub *</label>
                                                <div class="col-sm-9" id="obyek-rabSub-rinci">
                                                    <select class="form-control" name="ObyekRabSub" [(ngModel)]="model.ObyekRabSub">
                                                        <option [value]="null" selected>Pilih RAB Sub</option>
                                                        <option *ngFor="let content of contentSelection.rabSubAvailable" [value]="content[2]">{{content[2]+" | "+content[4]}}</option>
                                                    </select>
                                                </div>
                                            </div>                                             
                                        </div>
                                    </div>
                                    <div *ngIf="model.rab == 'rabRinci' || model.rap == 'rapRinci'">
                                        <div class="form-group"> 
                                            <label class="col-sm-2 control-label" for="uraian">Uraian *</label>
                                            <div class="col-sm-9" id="uraian">
                                                <textarea class="form-control" rows="2" placeholder="Masukan Uraian ..." name="Uraian" [(ngModel)]="model.Uraian" [disabled]="isObyekRABSub && contentSelection.rabSubAvailable.length < 1"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="jumlah-satuan">Jml. Satuan</label>
                                            <div class="input-group-input" id="jumlah-satuan">
                                                <div class="col-sm-2" style="padding-right:0px">
                                                    <input type="number" class="form-control" name="JmlSatuan" placeholder="Jumlah" [(ngModel)]="model.JmlSatuan" (blur)="checkAnggaran('anggaran',model.JmlSatuan*model.HrgSatuan)"  [disabled]="isObyekRABSub && contentSelection.rabSubAvailable.length < 1">
                                                </div>
                                                <div class="col-sm-2" style="padding-left:0px">
                                                    <input type="text" class="form-control" placeholder="Satuan" name="Satuan" [(ngModel)]="model.Satuan" value = 'Ls' [disabled]="isObyekRABSub && contentSelection.rabSubAvailable.length < 1">
                                                </div>
                                            </div>
                                            <label class="col-sm-2 control-label" for="harga">Hrg. Satuan</label>
                                            <div class="col-sm-3">
                                                <input type="number" class="form-control" id="harga" name="HrgSatuan" [(ngModel)]="model.HrgSatuan" (blur)="checkAnggaran('anggaran',model.JmlSatuan*model.HrgSatuan)" value="0" [disabled]="isObyekRABSub && contentSelection.rabSubAvailable.length < 1"/>
                                            </div>
                                        </div>
                                        <div class="form-group" >
                                            <label class="col-sm-2 control-label" for="rap-rinci">Sumberdana*</label>
                                            <div class="col-sm-4" id="rap-rinci">
                                                <select class="form-control" (change)="checkAnggaran('sumberdana', $event.target.value)" name="SumberDana"  [(ngModel)]="model.SumberDana" [disabled]="isObyekRABSub && contentSelection.rabSubAvailable.length < 1">
                                                    <option [value] = "null" selected>Pilih Sumber Dana </option>
                                                    <option *ngFor="let content of dataReferences.sumberDana" [value]="content.Kode">{{content.Kode}}</option>
                                                </select>
                                            </div>
                                            <label class="col-sm-2 control-label" for="harga">Anggaran</label>
                                            <div class="col-sm-3">
                                                <input type="number" class="form-control"  value="{{model.JmlSatuan * model.HrgSatuan}}"  [disabled]="true" name="total_anggaran"/>
                                            </div>
                                        </div>                                         
                                    </div>   
                                    <div  *ngIf="isAnggaranNotEnough">
                                        <label style="color:red;"><i>Anggaran Pendapatan Untuk {{model.SumberDana}} Tidak Mencukupi </i></label><br />
                                        <label style="color:red;"> <i>Anggaran Yang Tersedia {{anggaranSumberdana.anggaran[model.SumberDana] | currency:'IDR':'false':'2.2-2'}}</i></label> <br />
                                        <label style="color:red;"> <i>Sisa  {{model.SumberDana}} {{(anggaranSumberdana.anggaran[model.SumberDana] - anggaranSumberdana.terpakai[model.SumberDana] )| currency:'IDR':'false':'2.2-2'}}</i></label>     
                                    </div>                        
                                </fieldset>
                            </form>
                        </div>
                    </div>                                       
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-default">Tambah</button>
                    <button type="button" class="btn btn-primary" (click)="addOneRowAndAnother(model)">Tambah &amp; Tambah Lagi</button>
                </div>
            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="modal-save-diff" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <form (submit)="saveContent()" class="form-horizontal">
            <div class="modal-content" style="border-radius: 0">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{afterSaveAction ? 'Ada yang Belum Tersimpan' : 'Konfirmasi Penyimpanan'}}</h4>
                </div>
                <div class="modal-body">
                    <div class="tabbable"> 
                        <ul class="nav nav-tabs">
                            <li *ngFor="let diff of this.diffContents; let i = index" [ngClass]="{'active':i==0}"><a href="#{{diff.sheet}}" data-toggle="tab">{{diff.sheet}}</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" *ngFor="let diff of this.diffContents; let i = index" [ngClass]="{'active':i==0}" id="{{diff.sheet}}">
                                &nbsp;&nbsp;
                                <p>
                                    Apakah Anda ingin menyimpan perubahan berikut: 
                                </p>
                                <table class="table table-bordered" *ngIf="diff.total < 15">
                                    <tr class="active" *ngIf="diff.added.length > 0">
                                        <td colspan="2"> {{diff.added.length}} Penambahan</td>
                                    </tr>
                                    <tr *ngFor="let item of diff.added">
                                        <td>{{item[2]}}</td>
                                        <td>{{item[4]}}</td>
                                    </tr>
                                    <tr class="active" *ngIf="diff.deleted.length > 0">
                                        <td colspan="2"> {{diff.deleted.length}} Penghapusan</td>
                                    </tr>
                                    <tr *ngFor="let item of diff.deleted">
                                        <td>{{item[2]}}</td>
                                        <td>{{item[4]}}</td>
                                    </tr>
                                    <tr class="active" *ngIf="diff.modified.length > 0">
                                        <td colspan="2"> {{diff.modified.length}} Perubahan</td>
                                    </tr>
                                    <tr *ngFor="let item of diff.modified">
                                        <td>{{item[2]}}</td>
                                        <td>{{item[4]}}</td>
                                    </tr>
                                </table>
                                <table class="table table-bordered" *ngIf="diff.total >= 15">
                                    <tr class="active">
                                        <td colspan="2"> {{diff.added.length}} Penambahan</td>
                                    </tr>
                                    <tr class="active">
                                        <td colspan="2"> {{diff.deleted.length}} Penghapusan</td>
                                    </tr>
                                    <tr class="active">
                                        <td colspan="2"> {{diff.modified.length}} Perubahan</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-remove"></i> Batal Keluar</button>
                    <button type="button" class="btn btn-danger" [hidden]="!afterSaveAction" (click)="forceQuit()"><i class="fa fa-sign-out"></i> Keluar Tanpa Menyimpan</button>
                    <button type="submit" class="btn btn-success" data-backdrop="false"><i class="fa fa-save"></i> Simpan</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="modal-posting-apbdes" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" *ngIf="tabActive">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="border-radius: 0">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Posting Data APBDesa</h4>
            </div>
            <div class="modal-body">
                <div class="tabbable"> <!-- Only required for left/right tabs -->
                    <ul class="nav nav-tabs">
                        <li [ngClass]="{'active': model.tabActive == 'posting-apbdes'}"><a href="#posting-apbdes" data-toggle="tab" (click)="model.tabActive = 'posting-apbdes'">Posting APBDes</a></li>
                        <li [ngClass]="{'active': model.tabActive == 'kunci-apbdes'}"><a href="#kunci-apbdes" data-toggle="tab" (click)="model.tabActive = 'kunci-apbdes'">Kunci APBDes</a></li>
                        <li [ngClass]="{'active': model.tabActive == 'hapus-posting'}"><a href="#hapus-posting" data-toggle="tab" (click)="model.tabActive = 'hapus-posting'">Hapus Posting APBDes</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" [ngClass]="{'active': model.tabActive == 'posting-apbdes'}"> 
                            <div class="row" style="padding-top:20px">
                                <div class="col-sm-12">
                                    <form id="form-add" class="form-horizontal" role="form" >
                                        <fieldset>
                                            <div class="form-group"> 
                                                <label class="col-sm-2 control-label" for="jenis-posting">Jenis APBdes*</label>
                                                <span class="col-sm-9" id="jenis-posting">
                                                    <label class="col-sm-3 radio-inline">
                                                        <input type="radio" name="jenisPosting" value="1" [(ngModel)]="model.KdPosting" />Usulan APBDes 
                                                        <div *ngIf="statusPosting['1']"><i >(posting ulang)</i></div>
                                                    </label>                                        
                                                    <label class="col-sm-3 radio-inline"><input type="radio" name="jenisPosting" value="2" [(ngModel)]="model.KdPosting" />APBDes Awal Tahun 
                                                        <div *ngIf="statusPosting['2']"><i >(posting ulang)</i></div>
                                                    </label>                                        
                                                    <label class="col-sm-3 radio-inline"><input type="radio" name="jenisPosting" value="3" [(ngModel)]="model.KdPosting" />APBDes Perubahan 
                                                       <div *ngIf="statusPosting['3']"><i >(posting ulang)</i></div>
                                                    </label>
                                                </span>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="no-perdes">No Perdes*</label>
                                                <div class="col-sm-3">
                                                    <input type="text" class="form-control" id="No_Perdes" name="No_Perdes" [(ngModel)]="model.No_Perdes"/>
                                                </div>
                                                <label class="col-sm-2 control-label" for="tanggal">Tanggal</label>
                                                <div class="col-sm-3">
                                                    <input type="date" class="form-control" id="tanggal" name="Tgl_Perdes" [(ngModel)]="model.TglPosting"/>
                                                </div>
                                            </div>
                                            <div class="form-group" >
                                                <label class="col-sm-2 control-label" for="kecamatan">Kecamatan*</label>
                                                <div class="col-sm-3" id="kelompok-rap">
                                                    <label class="control-label" for="kecamatan">{{desaDetails.Nama_Kecamatan}}</label>
                                                </div>
                                                <label class="col-sm-2 control-label" for="desa">Desa</label>
                                                <div class="col-sm-5" id="kelompok-rap">
                                                    <label class="control-label" for="kecamatan">{{desaDetails.Nama_Desa}}</label>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane"  [ngClass]="{'active': model.tabActive == 'kunci-apbdes' || model.tabActive == 'hapus-posting' }">
                           <div class="row" style="padding-top:20px">
                                <div class="col-sm-12">
                                    <form id="form-add" class="form-horizontal" role="form" >
                                        <fieldset>
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th><i class="fa fa-check-square-o" aria-hidden="true"></i></th>
                                                    <th>Jenis Posting</th>
                                                    <th>Kode Desa</th>
                                                    <th>No Peraturan</th>
                                                    <th>Tanggal Posting</th>
                                                    <th>Terkunci</th>                                                    
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let content of contentsPostingLog">
                                                        <td><input type="checkbox" name="status" [value]="content.KdPosting" [(ngModel)] = "model[content.KdPosting]" /></td>
                                                        <td>{{getJenisPosting(content.KdPosting)}}</td>
                                                        <td>{{content.Kd_Desa}}</td>
                                                        <td>{{content.No_Perdes}}</td>
                                                        <td>{{content.TglPosting}}</td>
                                                        <td>{{content.Kunci ? 'Ya' : 'Tidak'}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </fieldset>
                                    </form>
                                </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <span>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-remove"></i> Batal </button>
                </span>
                <span *ngIf="this.model.tabActive == 'posting-apbdes'">
                    <button type="submit" class="btn btn-success" (click)="postingAPBDes(model)" data-backdrop="false"><i class="fa fa-save"></i>  Posting</button>
                </span>
                <span *ngIf="this.model.tabActive == 'kunci-apbdes'">
                    <button type="submit" class="btn btn-success" (click)="setLockPosting(true)" data-backdrop="false"><i class="fa fa-lock"></i>  Kunci</button>
                    <button type="submit" class="btn btn-success" (click)="setLockPosting(false)" data-backdrop="false"><i class="fa fa-unlock"></i>  Buka Kunci</button>
                </span>
                <span *ngIf="this.model.tabActive == 'hapus-posting'">
                    <button type="submit" class="btn btn-success" (click)="deletePosting()" data-backdrop="false"><i class="fa fa-save"></i>  Hapus</button>
                </span>
            </div>
        </div>
    </div>
</div>

<div id="modal-add-kegiatan" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" *ngIf="activeSheet !== 'renstra'  || activeSheet !== 'rpjm'">
    <div class="modal-dialog modal-md" role="document">
        <form (submit)="addOneRow(model)">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Tambah RKP</h4>
                </div>
                <div class="modal-body">     
                    <div class="row">
                        <div class="col-sm-12">
                        <form id="form-add-rkp" class="form-horizontal" role="form">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="bidang">Bidang *</label>
                                    <div class="col-sm-10" id="bidang">
                                        <select class="form-control" name="Kd_Bid" (change)="selectedOnChange('bidangRKP',$event.target.value)" [(ngModel)]="model.Kd_Bid">
                                            <option [value]="''" selected>Pilih Bidang </option>
                                            <option *ngFor="let value of dataReferences['refBidang']" [value]="value.Kd_Bid">{{value.Kd_Bid+' | '+value.Nama_Bidang}}</option>
                                        </select>
                                    </div>
                                </div>                                
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="kegiatan">Kegiatan *</label>
                                    <div class="col-sm-10" id="kegiatan">
                                        <select class="form-control" name="Kd_Keg" (change)="validateIsExist($event.target.value,'Kegiatan')" [(ngModel)]="model.Kd_Keg">
                                            <option [value]="''" selected>Pilih Kegiatan </option>
                                            <option *ngFor="let value of contentSelection['refKegiatan']" [value]="value.Kd_Keg">{{value.Kd_Keg+' | '+value.Nama_Kegiatan}}</option>
                                        </select>
                                        <label class="pull-right" style="color:red;" *ngIf="isExist">*<i>{{messageIsExist}} Ini sudah ditambahkan</i></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="Lokasi">Lokasi</label>
                                    <div class="col-sm-10" id="Lokasi">
                                        <input type="text" class="form-control" name="Lokasi" [(ngModel)]="model.Lokasi">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="Waktu">Waktu</label>
                                    <div class="col-sm-10" id="Waktu">
                                        <input type="text" class="form-control" name="Waktu" [(ngModel)]="model.Waktu">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="Nm_PPTKD">Nama PPTKD</label>
                                    <div class="col-sm-10" id="Nm_PPTKD">
                                        <input type="text" class="form-control" name="Nm_PPTKD" [(ngModel)]="model.Nm_PPTKD">
                                    </div>                                 
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="Keluaran">Keluaran</label>
                                    <div class="col-sm-10" id="Keluaran">
                                        <textarea class="form-control" rows="2" placeholder="Masukan Keluaran ..." name="Keluaran" [(ngModel)]="model.Keluaran"></textarea>
                                    </div>                                     
                                </div>    
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="Pagu">Pagu</label>
                                    <div class="col-sm-10" id="Pagu">
                                        <input type="text" class="form-control" name="Pagu" [(ngModel)]="model.Pagu">
                                    </div> 
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="Pagu_PAK">Pelaksana</label>
                                    <div class="col-sm-10" id="Pagu_PAK">
                                        <input type="text" class="form-control" name="Pagu_PAK" [(ngModel)]="model.Pagu_PAK">
                                    </div>
                                </div>                
                            </fieldset>
                        </form>
                        </div>
                    </div>                                       
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-default">Tambah</button>
                    <button type="button" class="btn btn-primary" (click)="addOneRowAndAnother(model)">Tambah &amp; Tambah Lagi</button>
                </div>
            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->