<div id="flex-container"  [style.display]="showMenu ? 'none' : 'flex'" >
    <nav class="navbar navbar-default" style="height: 73px; min-height: 73px; -webkit-user-select: none;">
        <div class="container-fluid" style="-webkit-app-region: no-drag; position: fixed; top: 0; left: 0px; z-index: 10001;">
            <form class="navbar-form navbar-nav navbar-nav-buttonbar form-inline" style="padding-left: 0px;">
                <button type="button" title="Simpan (Ctrl+S)"
                    (click)="openSaveDialog()" class="btn btn-default"><i class="fa fa-save"></i>
                </button>
                
                <undo-redo [hot]="hot"></undo-redo>
                <copy-paste [hot]="hot"></copy-paste>
            </form>
        </div>
        <div class="container-fluid" style="padding-top: 32px; height: 41px; min-height: 41px;">
            <form class="navbar-form navbar-nav navbar-nav-buttonbar form-inline" style="padding-left: 0px;">
                <button title="File" class="btn btn-default" href="app.html" (click)="redirectMain()"> 
                    <i class="fa fa-home"></i> &nbsp; Beranda
                </button>  
                <button title="Tambah" class="btn btn-default" (click)="openAddRowDialog()"> 
                    <i class="fa fa-plus"></i> &nbsp; Tambah
                </button> 
            </form>

            <form (submit)="tableSearcher.search()" class="navbar-form navbar-right" style="margin-right: 0px;">
                <div class="inner-addon left-addon">
                    <i class="fa fa-search"></i>
                    <input id="input-search" type="text" class="form-control" placeholder="Cari Uraian, Dsb.." (focus)="tableSearcher.setIsSearching(true)" (blur)="tableSearcher.setIsSearching(false)" style="border-radius: 0;">
                </div>
            </form>

            <div class="navbar-nav navbar-right" title="Status APBDes" style="margin-top: 7px; color: #fff;">
                <i style="color:white">Status APBDes :  {{status}}</i>
            </div>

            <div class="navbar-nav" style="margin-top: 7px; color: #fff;">
                <span id="span-selected"></span>
            </div>            
        </div>
    </nav>
    <div class="alert" role="alert" [hidden]="!savingMessage && !tableSearcher?.isSearching" style="height: 38px; padding-top: 8px;">
        <div [hidden]="savingMessage || !tableSearcher?.isSearching">
            <span style="display: inline-block; width: 75px; padding-left: 20px;">
                <i class="fa fa-search"></i>
            </span>
            <span>
                <span [hidden]="!tableSearcher?.lastQuery || tableSearcher?.lastQuery == ''">
                    Hasil {{tableSearcher?.currentResult + 1}} dari {{tableSearcher?.queryResult?.length}}.
                </span>
                Tekan [Enter] untuk hasil selanjutnya, dan [Esc] untuk berhenti mencari.
            </span>
         </div>
         <div [hidden]="!savingMessage">
            <span style="display: inline-block; width: 75px; padding-left: 20px;">
                <i class="fa fa-save"></i>
            </span>
            <span>
                {{savingMessage}}
            </span>
        </div>
    </div>
    
    <div id="sheet"></div>

    <div id="empty" class="hidden">
        <p>Data penduduk masih kosong!</p>
        <button type="button" (click)="importExcel()" class="btn btn-default btn-lg"><i class="fa fa-folder-open-o"></i> Isi dengan mengimpor berkas Excel</button>
        <button type="button" (click)="insertRow()" class="btn btn-default btn-lg"><i class="fa fa-plus"></i> Atau mulai isi secara langsung</button>
    </div>
</div>

<div id="page-menu"  [style.display]="!showMenu ? 'none' : 'flex'">
    <div class="page-menu-side">
        <button class="btn btn-default btn-close" (click)="showMenu = false">
            <img src="images/arrow-left.png" />
        </button>
        <ul class="list-group">
            <a class="list-group-item">
                Info
            </a>
            <a class="list-group-item">
                Simpan
            </a>
            <a class="list-group-item" href="app.html" (click)="closeTarget='home'">
                Tutup
            </a>
        </ul>
    </div>
    <div class="page-menu-content">     
    </div>
</div>

<div id="modal-add" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <form (submit)="addOneRowAndAnother()">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Tambah RAB</h4>
                </div>
                <div class="modal-body">     
                    <div class="row">
                        <div class="col-md-12">
                            <form id="form-add" class="form-horizontal" role="form" >
                                <fieldset>
                                    <div class="form-group"> 
                                        <label class="col-md-2 control-label" for="category">Kategori</label>
                                        <span class="col-md-9" id="category">
                                            <label class="col-md-3 radio-inline"><input type="radio" name="category" [(ngModel)]="categorySelected" value="pendapatan" (click)="categoryOnClick($event.target.value)"/>Pendapatan</label>                                        
                                            <label class="col-md-3 radio-inline"><input type="radio" name="category" [(ngModel)]="categorySelected" value="belanja" (click)="categoryOnClick($event.target.value)"/>Belanja</label>                                        
                                            <label class="col-md-3 radio-inline"><input type="radio" name="category" [(ngModel)]="categorySelected" value="pembiayaan" (click)="categoryOnClick($event.target.value)"/>Pembiayaan</label>
                                        </span>
                                    </div>
                                    <div *ngIf="categorySelected !='belanja'">
                                        <div class="form-group"> 
                                            <label class="col-md-2 control-label" for="rap">Tambah</label>
                                            <span class="col-md-9" id="rap">
                                                <label class="col-md-3 radio-inline"><input type="radio" name="rap" [(ngModel)]="rapSelected" value="rap" (click)="typeOnClick('rap',$event.target.value)"/>RAP</label>                                        
                                                <label class="col-md-3 radio-inline"><input type="radio" name="rap" [(ngModel)]="rapSelected" value="rapRinci" (click)="typeOnClick('rap',$event.target.value)"/>RAP Rinci</label>
                                            </span>
                                        </div>
                                        <div *ngIf="rapSelected =='rap'">
                                            <div class="form-group" >
                                                <label class="col-md-2 control-label" for="kelompok-rap">Kelompok *</label>
                                                <div class="col-md-9" id="kelompok-rap">
                                                    <select class="form-control" (change)="selectedOnChange('Kelompok',$event.target.value)" name="Kelompok">
                                                        <option value="" selected>Pilih Kelompok</option>
                                                        <option *ngFor="let content of refDatasets.Kelompok" [value]="content[1]">{{content[1]+" | "+content[3]}}</option>
                                                    </select>
                                                </div>
                                            </div>                                
                                            <div class="form-group">                                                
                                                <label class="col-md-2 control-label" for="jenis-rap">Jenis *</label>
                                                <div class="col-md-9" id="jenis-rap">
                                                    <select class="form-control" (change)="selectedOnChange('Jenis',$event.target.value)" name="Jenis">
                                                        <option value="" selected>Pilih Jenis</option>
                                                        <option *ngFor="let content of contentSelection.contentJenis" [value]="content[1]">{{content[1]+ '  |  '+content[3]}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" for="obyek-rap">Obyek *</label>
                                                <div class="col-md-9" id="obyek-rap">
                                                    <select class="form-control" (change)="checkIsExist($event.target.value,'Obyek')"  name="Obyek">
                                                        <option value="" selected>Pilih Obyek</option>
                                                        <option *ngFor="let content of contentSelection.contentObyek" [value]="content[1]">{{content[1]+ '  |  '+content[3]}}</option>
                                                    </select>
                                                    <label class="pull-right" style="color:red;" *ngIf="isExist">*<i>{{messageIsExist}} Ini sudah ditambahkan</i></label>  
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="rapSelected =='rapRinci'" >
                                            <div class="form-group" >
                                                <label class="col-md-2 control-label" for="obyek-rap-rinci">Obyek *</label>
                                                <div class="col-md-9" id="obyek-rap-rinci">
                                                    <select class="form-control" name="Obyek">
                                                        <option value="" selected>Pilih Obyek</option>
                                                        <option *ngFor="let content of contentSelection.availableObyek" [value]="content[2]">{{content[2]+ '  |  '+content[4]}}</option>
                                                    </select>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>

                                    <div *ngIf="categorySelected =='belanja'">
                                        <div class="form-group"> 
                                            <label class="col-md-2 control-label" for="rab">Tambah</label>
                                            <span class="col-md-9" id="rab">
                                                <label class="col-md-3 radio-inline"><input type="radio" name="rab" [(ngModel)]="rabSelected" value="rab"/>RAB</label>
                                                <label class="col-md-3 radio-inline"><input type="radio" name="rab" [(ngModel)]="rabSelected" value="rabSub" (click)="typeOnClick('rab',$event.target.value)"/>RAB Sub</label>                                        
                                                <label class="col-md-3 radio-inline"><input type="radio" name="rab" [(ngModel)]="rabSelected" value="rabRinci" (click)="typeOnClick('rab',$event.target.value)"/>RAB Rinci</label>
                                            </span>
                                        </div>
                                        <div *ngIf="rabSelected != 'rabSub'">
                                            <div class="form-group" >
                                                <label class="col-md-2 control-label" for="bidang">Bidang *</label>
                                                <div class="col-md-9" id="bidang">
                                                    <select class="form-control" (change)="selectedOnChange('bidang',$event.target.value)" name="Kd_Bid">
                                                        <option value="" selected>Pilih Bidang</option>
                                                        <option *ngFor="let content of refDatasets.Bidang" [value]="content[2]">{{content[2]+" | "+content[3]}}</option>
                                                    </select>
                                                </div>
                                            </div>   
                                            <div class="form-group" >
                                                <label class="col-md-2 control-label" for="kegiatan">Kegiatan *</label>
                                                <div class="col-md-9" id="kegiatan">
                                                    <select class="form-control" (change)="selectedOnChange('kegiatan',$event.target.value)" name="Kd_Keg">
                                                        <option value="" selected>Pilih Kegiatan</option>
                                                        <option *ngFor="let content of contentSelection.contentKegiatan" [value]="content[2]">{{content[2]+" | "+content[3]}}</option>
                                                    </select>
                                                </div>
                                            </div>   
                                        </div>

                                        <div *ngIf="rabSelected == 'rab'">
                                            <div class="form-group" >
                                                <label class="col-md-2 control-label" for="jenis-rab">Jenis *</label>
                                                <div class="col-md-9" id="jenis-rab">
                                                    <select class="form-control" (change)="selectedOnChange('jenis',$event.target.value)" name="Jenis">
                                                        <option value="" selected>Pilih Jenis</option>
                                                        <option *ngFor="let content of refDatasets.belanja.Jenis" [value]="content[1]">{{content[1]+" | "+content[3]}}</option>
                                                    </select>
                                                </div>
                                            </div>   
                                            
                                            <div class="form-group" >
                                                <label class="col-md-2 control-label" for="obyek-rab">Obyek *</label>
                                                <div class="col-md-9" id="obyek-rab">
                                                    <select class="form-control" (change)="checkIsExist($event.target.value,'Obyek')" name="Obyek">
                                                        <option value="" selected>Pilih Obyek</option>
                                                        <option *ngFor="let content of contentSelection.contentObyek" [value]="content[1]">{{content[1]+" | "+content[3]}}</option>
                                                    </select>
                                                    <label class="pull-right" style="color:red;" *ngIf="isExist">*<i>{{messageIsExist}} Ini sudah ditambahkan</i></label>  
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="rabSelected == 'rabSub'">                                            
                                            <div class="form-group" >
                                                <label class="col-md-2 control-label" for="bidang">Bidang *</label>
                                                <div class="col-md-9" id="bidang">
                                                    <select class="form-control" (change)="selectedOnChange('rabSubBidang',$event.target.value)" name="Kd_Bid">
                                                        <option value="" selected>Pilih Bidang</option>
                                                        <option *ngFor="let content of refDatasets.rabSub.rabSubBidang" [value]="content.Kd_Bid">{{content.Kd_Bid+" | "+content.Uraian}}</option>
                                                    </select>
                                                </div>
                                            </div>   
                                            <div class="form-group" >
                                                <label class="col-md-2 control-label" for="kegiatan">Kegiatan *</label>
                                                <div class="col-md-9" id="kegiatan">
                                                    <select class="form-control" (change)="selectedOnChange('rabSubKegiatan',$event.target.value)" name="Kd_Keg">
                                                        <option value="" selected>Pilih Kegiatan</option>
                                                        <option *ngFor="let content of contentSelection.rabSubKegiatan" [value]="content.Kd_Keg">{{content.Kd_Keg+" | "+content.Uraian}}</option>
                                                    </select>
                                                </div>
                                            </div>   

                                            <div class="form-group" >
                                                <label class="col-md-2 control-label" for="obyek-rab-rinci">Obyek *</label>
                                                <div class="col-md-9" id="obyek-rab-rinci">
                                                    <select class="form-control" name="Obyek" (change)="selectedOnChange('obyek',$event.target.value)">
                                                        <option value="" selected>Pilih Obyek</option>
                                                        <option *ngFor="let content of contentSelection.rabSubObyek" [value]="content.Obyek">{{content.Obyek+" | "+content.Uraian}}</option>
                                                    </select>
                                                </div>
                                            </div>  
                                            <div class="form-group"> 
                                                <label class="col-md-2 control-label" for="uraian">Uraian *</label>
                                                <div class="col-sm-9" id="uraian">
                                                    <textarea class="form-control" rows="2" placeholder="Masukan Uraian ..." name="Uraian" [disabled]="!isObyekRABSub"></textarea>
                                                </div>
                                            </div>                                          
                                        </div>
                                        <div *ngIf="rabSelected == 'rabRinci'">
                                            <div class="form-group" >
                                                <label class="col-md-2 control-label" for="obyek-rab-rinci">RAB *</label>
                                                <div class="col-md-9" id="obyek-rab-rinci">
                                                    <select class="form-control" name="Obyek" (change)="selectedOnChange('obyek',$event.target.value)"> 
                                                        <option value="" selected>Pilih RAB</option>
                                                        <option *ngFor="let content of contentSelection.obyekAvailable" [value]="content[2]">{{content[2]+" | "+content[4]}}</option>
                                                    </select>
                                                </div>
                                            </div> 
                                            <div class="form-group" *ngIf="isObyekRABSub">
                                                <label class="col-md-2 control-label" for="obyek-rab-rinci">RAB Sub *</label>
                                                <div class="col-md-9" id="obyek-rab-rinci">
                                                    <select class="form-control" name="Obyek">
                                                        <option value="" selected>Pilih RAB Sub</option>
                                                        <option *ngFor="let content of contentSelection.rabSubAvailable" [value]="content[2]">{{content[2]+" | "+content[4]}}</option>
                                                    </select>
                                                </div>
                                            </div>                                             
                                        </div>
                                    </div>
                                    <div *ngIf="rabSelected == 'rabRinci' || rapSelected == 'rapRinci'">
                                        <div class="form-group"> 
                                            <label class="col-md-2 control-label" for="uraian">Uraian *</label>
                                            <div class="col-sm-9" id="uraian">
                                                <textarea class="form-control" rows="2" placeholder="Masukan Uraian ..." name="Uraian" [disabled]="isObyekRABSub && contentSelection.rabSubAvailable.length < 1"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="jumlah-satuan">Jml. Satuan</label>
                                            <div class="input-group-input" id="jumlah-satuan">
                                                <div class="col-sm-2" style="padding-right:0px">
                                                    <input type="number" class="form-control" name="JmlSatuan" placeholder="Jumlah" [(ngModel)]="jumlah" (blur)="checkAnggaran('anggaran',$event.target.value*jumlah)"  [disabled]="isObyekRABSub && contentSelection.rabSubAvailable.length < 1">
                                                </div>
                                                <div class="col-sm-2" style="padding-left:0px">
                                                    <input type="text" class="form-control" placeholder="Satuan" name="Satuan" value = 'Ls' [disabled]="isObyekRABSub && contentSelection.rabSubAvailable.length < 1">
                                                </div>
                                            </div>
                                            <label class="col-sm-2 control-label" for="harga">Hrg. Satuan</label>
                                            <div class="col-sm-3">
                                                <input type="number" class="form-control" id="harga" name="HrgSatuan" [(ngModel)]="hrgSatuan" (blur)="checkAnggaran('anggaran',$event.target.value*jumlah)" value="0" [disabled]="isObyekRABSub && contentSelection.rabSubAvailable.length < 1"/>
                                            </div>
                                        </div>
                                        <div class="form-group" >
                                            <label class="col-md-2 control-label" for="rap-rinci">Sumberdana*</label>
                                            <div class="col-md-4" id="rap-rinci">
                                                <select class="form-control" (change)="checkAnggaran('sumberdana', $event.target.value)" name="SumberDana"  [(ngModel)]="sumberdana" [disabled]="isObyekRABSub && contentSelection.rabSubAvailable.length < 1">
                                                    <option *ngFor="let content of refDatasets.sumberDana" [value]="content.Kode">{{content.Kode}}</option>
                                                </select>
                                            </div>
                                            <label class="col-sm-2 control-label" for="harga">Anggaran</label>
                                            <div class="col-sm-3">
                                                <input type="number" class="form-control"  value="{{jumlah*hrgSatuan}}" [disabled]="true" name="total_anggaran"/>
                                            </div>
                                        </div>                                         
                                    </div>   
                                    <div  *ngIf="isAnggaranNotEnough">
                                        <label style="color:red;"><i>Anggaran Pendapatan Untuk {{sumberdana}} Tidak Mencukupi </i></label><br />
                                        <label style="color:red;"> <i>Anggaran Yang Tersedia {{anggaranSumberdana.anggaran[sumberdana] | currency:'IDR':'false':'2.2-2'}}</i></label> <br />
                                        <label style="color:red;"> <i>Sisa  {{sumberdana}} {{(anggaranSumberdana.anggaran[sumberdana] - anggaranSumberdana.terpakai[sumberdana] )| currency:'IDR':'false':'2.2-2'}}</i></label>     
                                    </div>                        
                                </fieldset>
                            </form>
                        </div>
                    </div>                                       
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                    <button type="button" class="btn btn-default" (click)="addOneRow()">Tambah</button>
                    <button type="submit" class="btn btn-primary">Tambah &amp; Tambah Lagi</button>
                </div>
            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="modal-save-diff" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <form (submit)="saveContent()" class="form-horizontal">
            <div class="modal-content" style="border-radius: 0">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{afterSaveAction ? 'Ada yang Belum Tersimpan' : 'Konfirmasi Penyimpanan'}}</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Apakah Anda ingin menyimpan perubahan berikut: 
                    </p>
                    <table class="table table-bordered" *ngIf="diffContents.total < 15">
                        <tr class="active" *ngIf="diffContents.added.length > 0">
                            <td colspan="2"> {{diffContents.added.length}} Penambahan</td>
                        </tr>
                        <tr *ngFor="let item of diffContents.added">
                            <td>{{item[2]}}</td>
                            <td>{{item[4]}}</td>
                        </tr>
                        <tr class="active" *ngIf="diffContents.deleted.length > 0">
                            <td colspan="2"> {{diffContents.deleted.length}} Penghapusan</td>
                        </tr>
                        <tr *ngFor="let item of diffContents.deleted">
                            <td>{{item[2]}}</td>
                            <td>{{item[4]}}</td>
                        </tr>
                        <tr class="active" *ngIf="diffContents.modified.length > 0">
                            <td colspan="2"> {{diffContents.modified.length}} Perubahan</td>
                        </tr>
                        <tr *ngFor="let item of diffContents.modified">
                            <td>{{item[2]}}</td>
                            <td>{{item[4]}}</td>
                        </tr>
                    </table>
                    <table class="table table-bordered" *ngIf="diffContents.total >= 15">
                        <tr class="active">
                            <td colspan="2"> {{diffContents.added.length}} Penambahan</td>
                        </tr>
                        <tr class="active">
                            <td colspan="2"> {{diffContents.deleted.length}} Penghapusan</td>
                        </tr>
                        <tr class="active">
                            <td colspan="2"> {{diffContents.modified.length}} Perubahan</td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-remove"></i> Batal Keluar</button>
                    <button type="button" class="btn btn-danger" [hidden]="!afterSaveAction" (click)="forceQuit()"><i class="fa fa-sign-out"></i> Keluar Tanpa Menyimpan</button>
                    <button type="submit" class="btn btn-success" data-backdrop="false"><i class="fa fa-save"></i> Simpan</button>
                </div>
            </div>
        </form>
    </div>
</div>