<div id="flex-container"  [style.display]="showMenu ? 'none' : 'flex'" >
    <nav class="navbar navbar-default" style="height: 73px; min-height: 73px; -webkit-user-select: none;">
        <div class="container-fluid" style="-webkit-app-region: no-drag; position: fixed; top: 0; left: 0px; z-index: 10001;">
            <form class="navbar-form navbar-nav navbar-nav-buttonbar form-inline" style="padding-left: 0px;">
                <button type="button" title="Simpan (Ctrl+S)"
                    (click)="saveContent()" class="btn btn-default"><i class="fa fa-save"></i>
                </button>
                
                <undo-redo [hot]="hot"></undo-redo>
                <copy-paste [hot]="hot"></copy-paste>
            </form>
        </div>
        <div class="container-fluid" style="padding-top: 32px; height: 41px; min-height: 41px;">
            <form class="navbar-form navbar-nav navbar-nav-buttonbar form-inline" style="padding-left: 0px;">
                <button title="File" class="btn btn-default" (click)="showMenu = true;"> 
                    File
                </button>             

                <button type="button" title="Tambah" (click)="openAddRowDialog()" class="btn btn-success" style="background-color: #FF7E6B; color: #fff;">
                    Tambah
                </button>

                 <div class="btn-group" role="group" aria-label="...">
                    <button type="button" title="Cairkan SPP" class="btn btn-default">Cairkan SPP</button>
                </div>
            </form>

            <div class="navbar-nav" style="margin-top: 7px; color: #fff;">
                <span id="span-selected"></span>
            </div>            
        </div>
    </nav>
        
    <div id="sheet"></div>

    <div id="empty" class="hidden">
        <p>Data penduduk masih kosong!</p>
        <button type="button" (click)="importExcel()" class="btn btn-default btn-lg"><i class="fa fa-folder-open-o"></i> Isi dengan mengimpor berkas Excel</button>
        <button type="button" (click)="insertRow()" class="btn btn-default btn-lg"><i class="fa fa-plus"></i> Atau mulai isi secara langsung</button>
    </div>

      
</div>

<div id="page-menu"  [style.display]="!showMenu ? 'none' : 'flex'">
    <div class="page-menu-side">
        <button class="btn btn-default btn-close" (click)="showMenu = false">
            <img src="images/arrow-left.png" />
        </button>
        <ul class="list-group">
            <a class="list-group-item">
                Info
            </a>
            <a class="list-group-item">
                Simpan
            </a>
            <a class="list-group-item" href="app.html" (click)="closeTarget='home'">
                Tutup
            </a>
        </ul>
    </div>
    <div class="page-menu-content">     
    </div>
</div>
<div id="modal-add" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <form (submit)="addOneRowAndAnother()">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Tambah SPP</h4>
                </div>
                <div class="modal-body">     
                    <div class="row">
                        <div class="col-md-12">
                            <form id="form-add" class="form-horizontal" role="form" >
                                <fieldset>
                                    <div class="control-group"> 
                                        <label class="col-md-2 control-label" for="category">Tambah</label>
                                        <label class="col-md-9" id="category">
                                            <span class="col-md-3 radio-inline"><input type="radio" name="category" [(ngModel)]="categorySelected" value="rincian" (click)="categoryOnChange($event.target.value)"/>Rincian</span>                                        
                                            <span class="col-md-3 radio-inline"><input type="radio" name="category" [(ngModel)]="categorySelected" value="pengeluaran" (click)="categoryOnChange($event.target.value)"/>Pengeluaran</span>                                        
                                            <span class="col-md-3 radio-inline"><input type="radio" name="category" [(ngModel)]="categorySelected" value="potongan" (click)="categoryOnChange($event.target.value)"/>Potongan</span>
                                        </label>
                                    </div>
                                    <div *ngIf="categorySelected == 'rincian'">
                                        <div class="form-group" *ngIf="kdKegiatan == ''">
                                            <label class="col-md-2 control-label" for="sub">Pilih Kegiatan</label>
                                            <div class="col-md-9" id="sub">
                                                <select class="form-control" (change)="selectedOnChange($event.target.value)">
                                                    <option value="" selected>Kegiatan</option>
                                                    <option *ngFor="let content of contentSelection.allKegiatan" [value]="content.Kd_Keg">{{content.Kd_Keg+' | '+content.Nama_Kegiatan}}</option>
                                                </select>
                                            </div>
                                        </div>                                
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="sub">Rincian</label>
                                            <div class="col-md-9" id="sub">
                                                <select class="form-control" name="Kd_Rincian" (change)="checkIsExist($event.target.value,'Rincian')" >
                                                    <option value="" selected>Pilih  </option>
                                                    <option *ngFor="let content of contentSelection.rincianRAB" [value]="content.Kd_Rincian">{{content.Kd_Rincian+' | '+content.Nama_Obyek+ '  |  '+content.Sumberdana+'  |  '+ (content.Sisa | currency:'IDR':'false':'2.2-2')}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div *ngIf="categorySelected == 'pengeluaran'">  
                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="sub">Rincian</label>
                                            <div class="col-md-9" id="sub">
                                                <select class="form-control" name="Kd_Rincian" >
                                                    <option value="" selected>Pilih  </option>
                                                    <option *ngFor="let content of contentSelection.availableRincian" [value]="content[1]">{{content[1]+' | '+content[2]+ '  |  '+content[4]}}</option>
                                                </select>
                                            </div>
                                        </div>         

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">No. Bukti</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" name="No_Bukti" [(ngModel)]="evidenceNumber">
                                            </div>

                                            <label class="col-sm-2 control-label" for="datePicker">Tanggal</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" id="datePicker" name="Tgl_Bukti">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">Anggaran</label>
                                            <div class="col-sm-9">
                                                <input type="number" class="form-control" name="Nilai_SPP_Bukti">
                                            </div>
                                        </div>
                                       
                                        <div class="form-group"> 
                                            <label class="col-md-2 control-label" for="uraian">Uraian</label>
                                            <div class="col-sm-9" id="uraian">
                                                <textarea class="form-control" rows="2" placeholder="Masukan Uraian ..." name="Keterangan_Bukti"></textarea>
                                            </div>
                                        </div> 
                                        <div class="form-group">
                                            <label class="control-label col-md-2" >Penerima</label>
                                            <div class="controls">
                                                <div class="row-fluid">
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" name="Nm_Penerima">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group"> 
                                            <label class="col-md-2 control-label" for="uraian">Alamat</label>
                                            <div class="col-sm-9" id="uraian">
                                                <textarea class="form-control" rows="2" placeholder="Masukan Uraian ..." name="Alamat"></textarea>
                                            </div>
                                        </div> 
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">Bank</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" name="Nm_Bank">
                                            </div>

                                            <label class="col-sm-2 control-label" for="textinput">No.Rek</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" name="Rek_Bank">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2" >NPWP</label>
                                            <div class="controls">
                                                <div class="row-fluid">
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" name="NPWP">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>  

                                    <div *ngIf="categorySelected == 'potongan'">
                                         <div class="form-group">
                                            <label class="col-md-2 control-label" for="sub">Rincian</label>
                                            <div class="col-md-9" id="sub">
                                                <select class="form-control" name="Kd_Rincian" (change)="selectedOnChange($event.target.value)">
                                                    <option value="" selected>Pilih  </option>
                                                    <option *ngFor="let content of contentSelection.availableRincian" [value]="content[1]">{{content[1]+' | '+content[2]+ '  |  '+content[4]}}</option>
                                                </select>
                                            </div>
                                        </div> 

                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="sub">Bukti</label>
                                            <div class="col-md-9" id="sub">
                                                <select class="form-control" name="Bukti_Pengeluaran">
                                                    <option value="" selected>Pilih Bukti</option>
                                                   <option *ngFor="let content of contentSelection.availablePengeluaran" [value]="content[1]">{{content[1]+ '  |  '+content[2]}}</option>
                                                </select>
                                            </div>
                                        </div> 

                                        <div class="form-group">
                                            <label class="col-md-2 control-label" for="sub">Potongan</label>
                                            <div class="col-md-9" id="sub">
                                                <select class="form-control" (change)="taxOnChange($event.target.value)" name="Kd_Potongan">
                                                    <option value="" selected>Pilih Potongan</option>
                                                    <option *ngFor="let content of refDatasets.potongan" [value]="content.Kd_Potongan">{{content.Nama_Obyek}}</option>
                                                </select>
                                            </div>
                                        </div>  

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label" for="textinput">Nilai</label>
                                            <div class="col-sm-3">
                                                <input type="number" class="form-control" name="Nilai_SPPPot">
                                            </div>
                                            <label class="col-sm-3 control-label" for="textinput">DPP Pajak</label>
                                            <div class="col-sm-3">
                                                <input type="text" class="form-control" disabled>
                                            </div>
                                        </div>

                                        <div class="form-group" hidden>
                                            <label class="col-sm-2 control-label" for="textinput">Calc. Pajak</label>
                                            <div class="col-sm-5">
                                                <div class="input-group">
                                                    <span class="input-group-addon">{{potonganDesc}}</span>
                                                    <input type="text" class="form-control" >
                                                    <span class="input-group-addon">%</span>
                                                </div>
                                            </div>
                                            <label class="control-label" for="textinput">= Rp</label>                                            
                                        </div>
                                    </div>   
                                    <label class="pull-right" style="color:red;" *ngIf="isExist">*<i>{{message}} Ini sudah ditambahkan</i></label>                                     
                                </fieldset>
                            </form>
                        </div>
                    </div>                                       
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                    <button type="button" class="btn btn-default" (click)="addOneRow()">Tambah</button>
                    <button type="submit" class="btn btn-primary">Tambah &amp; Tambah Lagi</button>
                </div>
            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
