<div id="flex-container"  [style.display]="showMenu ? 'none' : 'flex'" >
    <nav class="navbar navbar-default" style="height: 73px; min-height: 73px; -webkit-user-select: none;">
        <div class="container-fluid" style="-webkit-app-region: no-drag; position: fixed; top: 0; left: 0px; z-index: 10001;">
            <form class="navbar-form navbar-nav navbar-nav-buttonbar form-inline" style="padding-left: 0px;">
                <button type="button" title="Simpan (Ctrl+S)"
                    (click)="saveContent()" class="btn btn-default"><i class="fa fa-save"></i>
                </button>
                
                <undo-redo [hot]="hot"></undo-redo>
                <copy-paste [hot]="hot"></copy-paste>
            </form>
        </div>
        <div class="container-fluid" style="padding-top: 32px; height: 41px; min-height: 41px;">
            <form class="navbar-form navbar-nav navbar-nav-buttonbar form-inline" style="padding-left: 0px;">
                <button title="File" class="btn btn-default" (click)="showMenu = true;"> 
                    File
                </button>             

                <button type="button" title="Tambah" (click)="openAddRowDialog()" class="btn btn-success" style="background-color: #FF7E6B; color: #fff;">
                    Tambah
                </button>

                 <div class="btn-group" role="group" aria-label="...">
                    <button type="button" title="Impor" class="btn btn-default">Impor</button>
                    <button type="button" title="Ekspor" class="btn btn-default">Ekspor</button>
                    <button type="button" title="Ekspor" class="btn btn-default">Simpan</button>
                    <button type="button" title="Cairkan SPP" class="btn btn-default">Cairkan SPP</button>
                </div>
            </form>

            <div class="navbar-nav" style="margin-top: 7px; color: #fff;">
                <span id="span-selected"></span>
            </div>            
        </div>
    </nav>
        
    <div id="sheet"></div>

    <div id="empty" class="hidden">
        <p>Data penduduk masih kosong!</p>
        <button type="button" (click)="importExcel()" class="btn btn-default btn-lg"><i class="fa fa-folder-open-o"></i> Isi dengan mengimpor berkas Excel</button>
        <button type="button" (click)="insertRow()" class="btn btn-default btn-lg"><i class="fa fa-plus"></i> Atau mulai isi secara langsung</button>
    </div>

      
</div>

<div id="page-menu"  [style.display]="!showMenu ? 'none' : 'flex'">
    <div class="page-menu-side">
        <button class="btn btn-default btn-close" (click)="showMenu = false">
            <img src="images/arrow-left.png" />
        </button>
        <ul class="list-group">
            <a class="list-group-item">
                Info
            </a>
            <a class="list-group-item">
                Simpan
            </a>
            <a class="list-group-item" href="app.html" (click)="closeTarget='home'">
                Tutup
            </a>
        </ul>
    </div>
    <div class="page-menu-content">     
    </div>
</div>
<div id="modal-add" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <form (submit)="addOneRowAndAnother()">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Tambah Renstra</h4>
                </div>
                <div class="modal-body">     
                    <div class="row">
                        <div class="col-md-12">
                            <form id="form-add" class="form-horizontal" role="form">
                                <fieldset>
                                    <div class="form-group"> 
                                        <label class="col-md-2 control-label" for="category">Tambah</label>
                                        <label class="col-md-10" id="category">
                                            <span class="col-md-3 radio-inline"><input type="radio" name="category" [(ngModel)]="categorySelected" value="1" (click)="categoryOnChange($event.target.value)"/>Rincian</span>                                        
                                            <span class="col-md-3 radio-inline"><input type="radio" name="category" [(ngModel)]="categorySelected" value="2" (click)="categoryOnChange($event.target.value)"/>Pengeluaran</span>                                        
                                            <span class="col-md-3 radio-inline"><input type="radio" name="category" [(ngModel)]="categorySelected" value="3" (click)="categoryOnChange($event.target.value)"/>Potongan</span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="sub">Misi</label>
                                        <div class="col-sm-9" id="sub">
                                            <select class="form-control" (change)="selectedOnChange($event.target.value)">
                                                <option value="" selected>Kegiatan</option>
                                                <option *ngFor="let content of contentSelection" [value]="content.Kd_Keg">{{content.Nama_Kegiatan}}</option>
                                            </select>
                                        </div>
                                    </div>                                
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="sub"></label>
                                        <div class="col-sm-9" id="sub">
                                            <select class="form-control" name="code">
                                                <option value="" selected>Pilih  </option>
                                                <option *ngFor="let content of contentTarget" [value]="content.Kd_Rincian">{{content.Nama_SubRinci}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>                                       
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                    <button type="button" class="btn btn-default" (click)="addOneRow()">Tambah</button>
                    <button type="submit" class="btn btn-primary">Tambah &amp; Tambah Lagi</button>
                </div>
            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
